<section class="tab changes{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  <header>
    <div class="useCustom"></div>
    <div class="key">Key</div>
    <div class="mode">Type</div>
    <div class="value">Value</div>
    <div class="priority">Priority</div>
    <div class="controls">
      <a data-action="statusEffects" class="margin-right-5" style="display: flex; align-items: center;" data-tooltip="{{localize "dc20rpg.effect.sheet.addStatusChanges"}}"><i class="margin-left-3 fa-solid fa-plus fa-sm"></i><i class="fa-regular fa-fire"></i></a>
      <a data-action="addChange"><i class="fa-regular fa-square-plus"></i></a>
    </div>
  </header>
  <ol class="scrollable" data-changes>
    {{#each source.system.changes as |change index|}}
    <li data-index="{{index}}">
      <div class="useCustom">
        <input type="checkbox" name="system.changes.{{index}}.useCustom" {{checked change.useCustom}}/>
      </div>
      <div class="key">
        {{#if change.useCustom}}
        <input type="text" value="{{change.key}}" name="system.changes.{{index}}.key">
        {{else}}
        <select name="system.changes.{{index}}.key">
          {{selectOptions @root.effectKeys selected=change.key blank=""}}
        </select>
        {{/if}}
      </div>
      <div class="type">
        <select name="system.changes.{{index}}.type">
          {{selectOptions @root.changeTypes selected=change.type blank="" localize=true}}
        </select>
      </div>
      <div class="value">
        <textarea type="text" name="system.changes.{{index}}.value">{{change.value}}</textarea>
      </div>
      <input type="hidden" name="system.changes.{{index}}.phase" value="{{change.phase}}">
      <div class="priority">
        <input type="number" value="{{change.priority}}" step="any" name="system.changes.{{index}}.priority" placeholder="20">
      </div>
      <div class="controls">
        {{!-- Global Formula Modifier --}}
        {{#if (includes change.key "system.globalFormulaModifiers")}}
        <a data-action="systemBuilder" data-index="{{index}}" data-type="globalFormulaModifiers" title="{{localize "dc20rpg.effect.sheet.openSystemsBuilder"}}"><i class="fa-solid fa-gear"></i></a>
        {{/if}}
        {{!-- Roll Level --}}
        {{#if (includes change.key "system.dynamicRollModifier")}}
        <a data-action="systemBuilder" data-index="{{index}}" data-type="dynamicRollModifier" title="{{localize "dc20rpg.effect.sheet.openSystemsBuilder"}}"
          {{#if (includes change.key ".skills")}} data-is-skill="true" {{/if}} {{#if (includes change.key ".attack")}} data-is-attack="true" {{/if}}><i class="fa-solid fa-gear"></i></a>
        {{/if}}
        {{!-- Events --}}
        {{#if (includes change.key "system.events")}}
        <a data-action="systemBuilder" data-index="{{index}}" data-type="events" title="{{localize "dc20rpg.effect.sheet.openSystemsBuilder"}}"><i class="fa-solid fa-gear"></i></a>
        {{/if}}
        <a data-action="deleteChange"><i class="fa-solid fa-trash"></i></a>
      </div>
    </li>
    {{/each}}
  </ol>
</section>