<section class="tab scrollable{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">

  {{#if isActorEffect}}
  {{formGroup fields.origin value=source.origin rootId=rootId disabled=true}}
  {{/if}}

  <fieldset>
    <div class="form-group">
      <label>{{localize "dc20rpg.effect.sheet.addToChat"}}</label>
      <input type="checkbox" name="system.addToChat" {{checked system.addToChat}}/>
      <p class="hint">{{localize "dc20rpg.effect.sheet.addToChatTitle"}}</p>
    </div>
    <div class="form-group">
      <label>{{localize "dc20rpg.effect.sheet.applyToTemplate"}}</label>
      <input type="checkbox" name="system.applyToTemplate" {{checked system.applyToTemplate}}/>
      <p class="hint">{{localize "dc20rpg.effect.sheet.applyToTemplateTitle"}}</p>
    </div>
    <div class="form-group">
      <label>{{localize "dc20rpg.effect.sheet.mustEquip"}}</label>
      <input type="checkbox" name="system.requireEquip" {{checked system.requireEquip}}/>
      <p class="hint">{{localize "dc20rpg.effect.sheet.mustEquipTitle"}}</p>
    </div>  
    {{#if isItemEffect}}
    {{formGroup fields.transfer value=source.transfer rootId=rootId label=legacyTransfer.label hint=legacyTransfer.hint}}
    {{/if}}
  </fieldset>

  <fieldset>
    <div class="form-group">
      <label>{{localize "dc20rpg.effect.sheet.refreshTarget"}}</label>
      <input type="checkbox" name="system.refreshTarget" {{checked system.refreshTarget}}/>
      <p class="hint">{{localize "dc20rpg.effect.sheet.refreshTargetTitle"}}</p>
    </div>
    <div class="form-group">
      <label>{{localize "dc20rpg.effect.sheet.nonessential"}}</label>
      <input type="checkbox" name="system.nonessential" {{checked system.nonessential}}/>
      <p class="hint">{{localize "dc20rpg.effect.sheet.nonessentialTitle"}}</p>
    </div>
    <div class="form-group">
      <label>{{localize "dc20rpg.effect.sheet.disableWhen"}}</label>
      <div class="form-fields disable-when">
        <input type="text" value="{{system.disableWhen.path}}" name="system.disableWhen.path">
        <select name="system.disableWhen.mode">
          {{selectOptions @root.logicalExpressions selected=system.disableWhen.mode blank=""}}
        </select>
        <input type="text" value="{{system.disableWhen.value}}" name="system.disableWhen.value">
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <label for="{{rootId}}-system.effectKey">{{localize "dc20rpg.effect.sheet.effectKey"}}</label>
      <input type="text" value="{{system.effectKey}}" name="system.effectKey">
    </div>
    <div class="form-group">
      <label for="{{rootId}}-system.macro">{{localize "dc20rpg.effect.sheet.effectMacro"}}</label>
      <a class="effect-macro {{#unless source.system.macro}}empty{{/unless}}" data-action="editMacro"><i class="fa-pen-to-square fa-solid fa-lg"></i></a>
    </div>
  </fieldset>
 
   <fieldset>
    <div class="form-group">
      <label>{{localize "dc20rpg.effect.sheet.condition"}}</label>
      <input type="checkbox" name="system.condition" {{checked system.condition}}/>
      <p class="hint">{{localize "dc20rpg.effect.sheet.conditionTitle"}}</p>
    </div>
    {{formGroup fields.statuses value=source.statuses options=statuses rootId=rootId classes="statuses"}}
  </fieldset>
</section>