<section class="tab{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  {{#if start}}
  <fieldset class="start-data">
    <legend>{{localize "EFFECT.START.Header"}}</legend>
    <div class="form-group">
      <span class="label">{{localize "EFFECT.FIELDS.start.time.label"}}</span>
      <div class="form-fields">{{start.time}}</div>
    </div>
    {{#if start.combat}}
    <div class="form-group">
      <span class="label">{{localize "DOCUMENT.Combat"}}</span>
      <div class="form-fields">
        {{localize "EFFECT.START.Combat" round=start.round turn=start.turn}}
      </div>
    </div>
    {{#if start.combatant}}
    <div class="form-group">
      <span class="label">{{localize "DOCUMENT.Combatant"}}</span>
      <div class="form-fields">
        {{localize "EFFECT.START.Combatant" combatant=start.combatantName initiative=start.combatantInitiative}}
      </div>
    </div>
    {{/if}}
    {{/if}}
  </fieldset>
  {{/if}}
  <fieldset>
    <legend>{{localize "EFFECT.DURATION.Header"}}</legend>
    <div class="form-group slim duration" data-duration>
      <label class="flexrow" for="{{rootId}}-duration.value">
        <span>{{localize "EFFECT.DURATION.Label"}}</span>
        <span class="warning" hidden><i class="fa-duotone fa-triangle-exclamation"></i></span>
      </label>
      <div class="form-fields">
        {{formInput fields.duration.fields.value value=source.duration.value id=(concat rootId "-duration.value")
        aria=(object label=(localize "EFFECT.FIELDS.duration.value.label"))}}
        {{formInput fields.duration.fields.units value=source.duration.units id=(concat rootId "-duration.units")
        options=durationUnits aria=(object label=(localize "EFFECT.FIELDS.duration.units.label"))}}
      </div>
    </div>
    {{formGroup fields.duration.fields.expiry choices=expiryEvents value=source.duration.expiry rootId=rootId}}

    <div class="form-group">
      <label>{{localize "dc20rpg.effect.sheet.expiryAction"}}</label>
      <div class="form-fields">
        <select name="system.duration.expiryAction">
          {{selectOptions @root.expiryActions selected=system.duration.expiryAction blank=""}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "dc20rpg.effect.sheet.resetWhenEnabled"}}</label>
      <input type="checkbox" name="system.duration.resetWhenEnabled" {{checked system.duration.resetWhenEnabled}}/>
    </div>
  </fieldset>
</section>