{{!-- Column Left --}}
<div class="col left" {{#if nonActor}}style="visibility: hidden"{{/if}}>
	<div class="attribute elevation" data-tooltip aria-label="{{localize "HUD.Elevation"}}">
		<i class="caret fa-solid fa-angle-up" inert></i>
		<input type="text" name="elevation" value="{{elevation}}" {{disabled (or locked (and isGamePaused (not isGM)))}}>
	</div>

	{{#if canChangeLevel}}
	<button type="button" class="control-icon" data-action="togglePalette" data-palette="levels"
				aria-label="{{ localize "HUD.ChangeLevel" }}" data-tooltip>
		<i class="fa-solid fa-layer-group" inert></i>
	</button>
	<div class="palette palette-list" data-palette="levels">
		{{#each levels as |level|}}
		<a class="palette-list-entry {{level.cssClass}}" data-action="level" data-level-id="{{level.id}}"><span>{{level.name}}</span></a>
		{{/each}}
	</div>
	{{/if}}

	<button type="button" class="control-icon" data-action="sort" data-tooltip aria-label="{{localize "HUD.ToFrontOrBack"}}">
		<i class="fa-solid fa-bring-forward" inert></i>
	</button>

	{{#if isGM}}
	<button type="button" class="control-icon {{lockedClass}}" data-action="locked"
		data-tooltip aria-label="{{localize (ifThen lockedClass "HUD.Unlock" "HUD.Lock")}}">
		<i class="fa-solid {{ifThen lockedClass "fa-lock" "fa-lock-open"}}" inert></i>
	</button>
	{{/if}}

	{{#if canConfigure}}
	<button type="button" class="control-icon" data-action="config" data-tooltip aria-label="{{localize "HUD.OpenConfig"}}">
		<i class="fa-solid fa-gear" inert></i>
	</button>
	{{/if}}
</div>

{{!-- Column Middle --}}
<div class="col middle" {{#if nonActor}}style="visibility: hidden"{{/if}}>
	<div class="attribute bar2">
		{{#if displayBar2}}
		<input type="text" name="bar2" value="{{bar2Data.value}}" {{#unless bar2Data.editable}}disabled{{/unless}}>
		{{/if}}
	</div>

	{{!-- Action Points --}}
	<div class="ap-wrapper">
		<button type="button" class="spend-ap control-icon" data-action="ap" data-type="spend" data-tooltip="{{localize "HUD.SubAp"}}">
			<i class="fas fa-square-minus"></i>
		</button>
		<button type="button" class="regain-ap control-icon" data-action="ap" data-type="regain" data-tooltip="{{localize "HUD.AddAp"}}">
			<i class="fas fa-square-plus"></i>
		</button>
	</div>

	<div class="attribute bar1">
		{{#if displayBar1}}
		<input type="text" name="bar1" value="{{bar1Data.value}}" {{#unless bar1Data.editable}}disabled{{/unless}}>
		{{/if}}
	</div>
</div>

{{!-- Column Right --}}
<div class="col right" {{#if nonActor}}style="visibility: hidden"{{/if}}>
	{{#if isGM}}
	<button type="button" class="control-icon {{visibilityClass}}" data-action="visibility"
		data-tooltip aria-label="{{localize (ifThen visibilityClass "HUD.Show" "HUD.Hide")}}">
		<i class="fa-solid {{ifThen hidden "fa-eye-slash" "fa-eye"}}" inert></i>
	</button>
	{{/if}}

	<button type="button" class="control-icon" data-action="togglePalette" data-palette="regions"
		data-tooltip aria-label="HUD.AttachedRegions">
		<img src="icons/svg/explosion.svg">
	</button>
	<div class="palette active-auras grid" data-palette="regions">
		{{#each attachedRegions as |region|}}
		<img class="aura-control" data-action="region" data-region-uuid="{{region.uuid}}" data-tooltip aria-label="{{region.name}} - {{localize "HUD.DeleteRegion"}}" src="{{region.img}}"/>
		{{/each}}
	</div>

	<button type="button" class="control-icon" data-action="togglePalette" data-palette="effects"
		data-tooltip aria-label="{{localize "HUD.AssignStatusEffects"}}">
		<img src="{{icons.effects}}">
	</button>
	<div class="palette status-effects" data-palette="effects">
		{{#each statusEffects as |status|}}
			{{#unless status.hide}}
			<div class="status-wrapper"> 
        {{!-- Stackable conditions --}}
        {{#if status.stack}}
        <div class="status-stack">
          <div class="letter-circle-icon">
            <span>{{status.stack}}</span>
          </div>
        </div>
        {{/if}}

        {{!-- Non-stackable conditions --}}
        {{#if status.locked}}
        <div class="status-stack">
          <div class="letter-circle-icon">
            <i class="fa-sm fa-solid fa-lock"></i>
          </div>
        </div>
        {{/if}}
				<img class="effect-control {{status.cssClass}}" data-action="effect" src="{{status.src}}" 
					{{#if status.title}}data-tooltip="{{status.title}}" {{/if}} data-status-id="{{status.id}}" />
			</div>
			{{/unless}}
		{{/each}}
	</div>

	<div class="movement-wrapper">
    <button type="button" class="control-icon" data-action="togglePalette" data-palette="movementActions"
					data-tooltip aria-label="{{ localize "HUD.SelectMovementAction" }}">
			{{#with movementActionsConfig}}
			{{#if img}}
			<img src="{{ img }}" alt="{{ localize "HUD.SelectMovementAction" }}">
			{{else}}
			<i class="{{ icon }}" inert></i>
			{{/if}}
			{{/with}}
    </button>
		<div class="move-points-wrapper hidden">
			<input class="move-points" name="movePoints" type="text" value="{{movePoints}}" data-tooltip="{{localize "HUD.FreeMove"}}">
			<button type="button" class="move-icon control-icon" data-action="move" data-tooltip="{{localize "HUD.MoveAction"}}">
				<i class="fa-solid fa-shoe-prints" inert></i>
			</button>
		</div>
	</div>
    <div class="palette palette-list" data-palette="movementActions">
			{{#each movementActions as |action|}}
			<a class="palette-list-entry {{action.cssClass}}" data-action="movementAction" data-movement-action="{{action.id}}">
				<span>
					{{#if action.img}}
					<img src="{{ action.img }}" alt="{{ action.label }}">
					{{else}}
					<i class="{{ action.icon }} fa-fw" inert></i>
					{{/if}}
					{{action.label}}
				</span>
			</a>
			{{/each}}
    </div>

	<button type="button" class="control-icon {{targetClass}}" data-action="target"
		data-tooltip aria-label="{{localize (ifThen targetClass "HUD.Untarget" "HUD.Target")}}">
		<i class="fa-solid fa-bullseye" inert></i>
	</button>

	{{#if canToggleCombat}}
	<button type="button" class="control-icon {{combatClass}}" data-action="combat"
		data-tooltip aria-label="{{localize (ifThen combatClass "HUD.ExitCombat" "HUD.EnterCombat")}}">
		<i class="fa-solid fa-swords" inert></i>
	</button>
	{{/if}}
</div>