<aside id="hotbar">
  <div id="hotbar-controls-left" class="hotbar-controls flexcol" data-tooltip-direction="LEFT">
    <button type="button" class="ui-control fa-solid {{#if tokenHotbar}}fa-code{{else}}fa-user{{/if}} icon" data-action="swap" data-tooltip
      aria-label="{{#if tokenHotbar}}{{localize 'HOTBAR.HOTBAR'}}{{else}}{{localize 'HOTBAR.TOKEN'}}{{/if}}"></button>
    {{#if tokenHotbar}}
    <button type="button" class="ui-control fa-solid fa-gears icon" data-action="config" data-tooltip
      aria-label="{{localize 'HOTBAR.CONFIG'}}"></button>
    {{/if}}
    <button type="button" class="ui-control fa-solid fa-volume icon" data-action="mute" data-tooltip
      aria-label="{{localize 'HOTBAR.MUTE'}}"></button>
    <button type="button" class="ui-control fa-solid fa-bars icon" data-action="menu" data-tooltip
      aria-label="{{localize 'HOTBAR.MENU'}}"></button>
  </div>
  {{#if tokenHotbar}}
  {{!-- Token Hotbar --}}
  {{!-- Token Effects Tracker --}}
  <menu id="action-bar" data-tooltip-direction="UP">
    {{!-- Section B --}}
    <div class="section">
      <div class="upper-wrapper">
        {{#if effects.sectionB}}{{PARTIAL "Effects Tracker"}}{{/if}}
      </div>
      
      <div class="section-wrapper grid grid-{{sectionBWidth}}col">
      {{#each sectionB as |item index|}}
      <li class="slot {{#if item}}full{{/if}} item-slot" role="button" data-action="roll" data-index="{{index}}" data-tooltip="{{{item.description}}}" data-section="sectionB">
        {{#if item.img}}<img class="slot-icon" src="{{item.img}}">{{/if}}
      </li>
      {{/each}}
      </div>
    </div>
    
    {{!-- Character Details --}}
    {{#if actor.img}}
    <div class="portrait-wrapper">
      {{{resources}}}

      <img class="char-img" data-tooltip="{{localize "HOTBAR.DBCLICK"}}" src="{{@root.actor.img}}">

      {{!-- HP Bar --}}
      <div class="resource margin-top-10" title="{{localize 'dc20rpg.resource.health'}}">
        <div class="above-bar margin-top-auto">
          <div class="temporary-hp" title="{{localize 'dc20rpg.resource.tempHp'}}">
            <input class="temporary-input" data-cType="actor-numeric" data-path="system.resources.health.temp" type="number" value="{{actor.system.resources.health.temp}}" data-dtype="Number" placeholder="+Temp">
          </div>
        </div>
        
        <div class="resource-bar-wrapper">
          <a class="health spend-resource" data-action="spendResource" data-resource="health" title="{{localize 'dc20rpg.sheet.resource.spendHealth'}}"><i class="fas fa-solid fa-minus"></i></a>
          <div class="resource-bar">
            <div class="health-bar-temp" style="width: {{actor.system.resources.health.percentTemp}}%"></div>
            <div class="health-bar" style="width: {{actor.system.resources.health.percent}}%"></div>
            <div class="resource-content">
              <div class="resource-values">
                <input class="bar-input" data-cType="actor-numeric" data-path="system.resources.health.current" type="number" value="{{actor.system.resources.health.current}}" data-dtype="Number">
                <span class="separator"> / </span>
                <input disabled class="bar-input" type="number" data-path="actor.system.resources.health.max" value="{{actor.system.resources.health.max}}" data-dtype="Number">
              </div>
            </div>
          </div>
          <a class="health regain-resource" data-action="regainResource" data-resource="health" title="{{localize 'dc20rpg.sheet.resource.regainHealth'}}"><i class="fas fa-solid fa-plus"></i></a>
        </div>
      </div>

      {{!-- Action Points --}}
      <div class="action-points-wrapper">
        <a class="ap spend-resource" data-action="spendResource" data-resource="ap" title="{{localize 'dc20rpg.sheet.resource.useAp'}}"><i class="fas fa-solid fa-minus"></i></a>
        <div class="points">
          {{{icon-printer-empty actor.system.resources.ap.value actor.system.resources.ap.max 4 "fa-solid fa-dice-d6 ap" "fa-regular fa-dice-d6 ap" actor.system.globalModifier.prevent.goUnderAP "#b20000"}}}
        </div>
        <a class="ap regain-resource" data-action="regainResource" data-resource="ap" title="{{localize 'dc20rpg.sheet.resource.regainAp'}}"><i class="fas fa-solid fa-plus"></i></a>
      </div>
    </div>
    {{/if}}

    {{!-- Section A --}}
    <div class="section">
      <div class="upper-wrapper">
        {{#if effects.sectionA}}{{PARTIAL "Effects Tracker"}}{{/if}}
      </div>
      <div class="section-wrapper grid grid-{{sectionAWidth}}col">
      {{#each sectionA as |item index|}}
      <li class="slot {{#if item}}full{{/if}} item-slot" role="button" data-action="roll" data-index="{{index}}" data-tooltip="{{{item.description}}}" data-section="sectionA">
        {{#if item.img}}<img class="slot-icon" src="{{item.img}}">{{/if}}
      </li>
      {{/each}}
      </div>
    </div>
  </menu>
  {{else}}

  {{!-- Macro Hotbar --}}
  <menu id="action-bar" class="flexrow" data-tooltip-direction="UP">
    {{#each slots as |slot|}}
    <li class="slot {{slot.cssClass}}" role="button" data-action="execute" data-slot="{{slot.slot}}"
      style="{{slot.style}}" aria-label="{{slot.ariaLabel}}" {{#if slot.tooltip}}data-tooltip-text="{{slot.tooltip}}"
      {{/if}}>
      {{#if slot.img}}<img class="slot-icon" src="{{slot.img}}" alt="{{slot.ariaLabel}}">{{/if}}
      <span class="key">{{slot.key}}</span>
    </li>
    {{/each}}
  </menu>
  {{/if}}

  <div id="hotbar-controls-right" class="hotbar-controls flexrow" data-tooltip-direction="RIGHT">
    {{#unless tokenHotbar}}
    <nav id="hotbar-page-controls" class="flexcol">
      <button type="button" class="plain hotbar-page-control page-next fa-solid fa-triangle icon" data-action="page"
        data-direction="1" data-tooltip aria-label="{{localize 'HOTBAR.PAGE_NEXT'}}">
      </button>
      <span class="hotbar-page-number">{{page}}</span>
      <button type="button" class="plain hotbar-page-control page-prev fa-solid fa-triangle icon" data-action="page"
        data-direction="-1" data-tooltip aria-label="{{localize 'HOTBAR.PAGE_PREV'}}">
      </button>
    </nav>
    {{/unless}}
    <div class="flexcol">
      <button type="button" class="ui-control fa-solid fa-unlock icon" data-action="lock" data-tooltip
        aria-label="{{localize 'HOTBAR.LOCK'}}" {{#if tokenHotbar}}style="visibility: hidden; height: 0px; width: 0px;"{{/if}}></button>
      <button type="button" class="ui-control fa-solid fa-trash icon" data-action="clear" data-tooltip
        aria-label="{{localize 'HOTBAR.CLEAR'}}" {{#if tokenHotbar}}style="visibility: hidden; height: 0px; width: 0px;"{{/if}}></button>
    </div>
  </div>
</aside>