<form id="token-hotbar-config" class="dialog-v13 dialog-content standard-form {{cssClass}}">

  {{!-- Section Config --}}
  <fieldset>
    <legend>{{localize "dc20rpg.config.tokenHotbar.sectionConfig"}}</legend>

    <div class="form-group" data-tooltip="{{localize 'dc20rpg.config.tokenHotbar.displayTokenTooltip'}}">
      <label>{{localize "dc20rpg.config.tokenHotbar.displayToken"}}</label>
      <div class="form-fields">
        <input type="checkbox" data-cType="boolean" data-path="settings.displayToken" {{checked settings.displayToken}}/>
      </div>
    </div>

    <div class="form-group" data-tooltip="{{localize 'dc20rpg.config.tokenHotbar.borderColorTooltip'}}">
      <label>{{localize "dc20rpg.config.tokenHotbar.borderColor"}}</label>
      <div class="form-fields">
        <input type="checkbox" data-cType="boolean" data-path="settings.borderColor" {{checked settings.borderColor}}/>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "dc20rpg.config.tokenHotbar.markers"}}</label>
      <div class="form-fields">
        <input type="checkbox" data-cType="boolean" data-path="settings.markers" {{checked settings.markers}}/>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "dc20rpg.config.tokenHotbar.showCharges"}}</label>
      <div class="form-fields">
        <input type="checkbox" data-cType="boolean" data-path="settings.showCharges" {{checked settings.showCharges}}/>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "dc20rpg.config.tokenHotbar.sectionA"}}</label>
      <div class="form-fields">
        <label>{{localize "dc20rpg.config.tokenHotbar.rows"}}</label>
        <input type="number" data-path="settings.sectionA.rows" value="{{settings.sectionA.rows}}" data-limit="6" data-cType="numeric"/>
        <label>{{localize "dc20rpg.config.tokenHotbar.columns"}}</label>
        <input type="number" data-path="settings.sectionA.columns" value="{{settings.sectionA.columns}}" data-limit="12" data-cType="numeric"/>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "dc20rpg.config.tokenHotbar.sectionB"}}</label>
      <div class="form-fields">
        <label>{{localize "dc20rpg.config.tokenHotbar.rows"}}</label>
        <input type="number" data-path="settings.sectionB.rows" value="{{settings.sectionB.rows}}" data-limit="6" data-cType="numeric"/>
        <label>{{localize "dc20rpg.config.tokenHotbar.columns"}}</label>
        <input type="number" data-path="settings.sectionB.columns" value="{{settings.sectionB.columns}}" data-limit="12" data-cType="numeric"/>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "dc20rpg.config.tokenHotbar.effects"}}</label>
      <div class="form-fields">
        <label>{{localize "dc20rpg.config.tokenHotbar.rowSize"}}</label>
        <input type="number" data-path="settings.effects.rowSize" value="{{settings.effects.rowSize}}" data-limit="12" data-cType="numeric"/>
        <label>{{localize "dc20rpg.config.tokenHotbar.section"}}</label>
        <select data-cType="string" data-path="settings.effects.position">
          {{selectOptions sections selected=settings.effects.position blank=""}}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "dc20rpg.config.tokenHotbar.help"}}</label>
      <div class="form-fields">
        <label>{{localize "dc20rpg.config.tokenHotbar.rowSize"}}</label>
        <input type="number" data-path="settings.help.rowSize" value="{{settings.help.rowSize}}" data-limit="4" data-cType="numeric"/>
        <label>{{localize "dc20rpg.config.tokenHotbar.section"}}</label>
        <select data-cType="string" data-path="settings.help.position">
          {{selectOptions sections selected=settings.help.position blank=""}}
        </select>
      </div>
    </div>
  </fieldset>

  {{!-- Resource Config --}}
  <fieldset>
    <legend>{{localize "dc20rpg.config.tokenHotbar.resourceConfig"}}</legend>

    <div class="form-group">
      <label>{{localize "dc20rpg.config.tokenHotbar.resource1"}}</label>
      <div class="form-fields">
        <select data-cType="string" data-path="data.resource1.key">
          {{selectOptions resources selected=data.resource1.key blank=""}}
        </select>
        <label>{{localize "dc20rpg.config.tokenHotbar.color"}}</label>
        <color-picker data-cType="string" data-path="data.resource1.color" value="{{data.resource1.color}}"></color-picker>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "dc20rpg.config.tokenHotbar.resource2"}}</label>
      <div class="form-fields">
        <select data-cType="string" data-path="data.resource2.key">
          {{selectOptions resources selected=data.resource2.key blank=""}}
        </select>
        <label>{{localize "dc20rpg.config.tokenHotbar.color"}}</label>
        <color-picker data-cType="string" data-path="data.resource2.color" value="{{data.resource2.color}}"></color-picker>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "dc20rpg.config.tokenHotbar.resource3"}}</label>
      <div class="form-fields">
        <select data-cType="string" data-path="data.resource3.key">
          {{selectOptions resources selected=data.resource3.key blank=""}}
        </select>
        <label>{{localize "dc20rpg.config.tokenHotbar.color"}}</label>
        <color-picker data-cType="string" data-path="data.resource3.color" value="{{data.resource3.color}}"></color-picker>
      </div>
    </div>
  </fieldset>

  {{!-- Confirm --}}
  <footer class="form-footer">
    <button data-action="save"><i class="fa-solid fa-floppy-disk fa-lg"></i>{{localize "dc20rpg.config.tokenHotbar.save"}}</button>
  </footer>
</form>