<div class="tab advancements-tab advancements details" data-group="primary" data-tab="advancements">
  <div class="title-separator details-header">
    <label>Advancements</label>
    <div>
      {{#unless @root.hasOwner}}
      <a class="create-advancement fa-lg fa-plus fa-solid" title="Create New Advancement"></a>
      {{else}}
      <span><i>You cannot edit advancements when class is on actor already</i></span>
      {{/unless}}
    </div>
  </div>
  {{#each advByLevel as |level number|}}
  <div class="advancements-table">
    <div class="advancement-header">
      <div class="column column-name">Name</div>
      <div class="column">Gains Talent</div>
      <div class="column">Has Choice</div>
      <div class="column">Level {{number}}</div>
    </div>
    {{#each level as |advancement key|}}
    <div class="advancement-row">
      <div class="column column-name">    
        <span class="margin-left-3">{{advancement.name}}</span>
      </div>
      <div class="column">
        {{#if advancement.talent}}<i class="fa-lg fa-solid fa-square-check"></i>{{/if}}
      </div>
      <div class="column">
        {{#if advancement.mustChoose}}
        <i class="fa-lg fa-solid fa-square-check"></i>
        <span class="margin-left-3">({{advancement.pointAmount}})</span>
        {{/if}}
      </div>
      <div class="column">
        {{#unless @root.hasOwner}}
        <a class="advancement-edit fas fa-edit margin-right-3" data-key="{{key}}" title="Edit Advancement"></a>
        <a class="advancement-delete fas fa-trash margin-left-3" data-key="{{key}}" title="Remove Advancement"></a>
        {{/unless}}
      </div>
    </div>
    {{/each}}
  {{/each}}
  </div>
</div>