<div class="tab enhancement-tab content" data-group="roll" data-tab="enhancement">
  <div class="sub-header">
    <span>{{localize "dc20rpg.item.sheet.enh.title"}}</span>
    <div>
      <input class="new-enhancement-name" placeholder="{{localize "dc20rpg.item.sheet.enh.enhName"}}"/>
      <a class="add-enhancement" title="{{localize "dc20rpg.item.sheet.enh.addEnhancement"}}"><i class="fas fa-plus fa-lg"></i></a>
    </div>
  </div>

  <div class="row margin-top-5">
    <span>{{localize "dc20rpg.item.sheet.config.copyEnhancements"}}</span>
    <a class="fa-lg activable {{#if system.copyEnhancements.copy}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.copyEnhancements.copy" title="{{localize "dc20rpg.item.sheet.config.copyEnhancementsTooltip"}}"></a>
  </div>
  {{#if system.copyEnhancements.copy}}
  <div class="row margin-top-5">
    <span>{{localize "dc20rpg.item.sheet.config.copyFor"}}</span>
    <input class="formula" type="text" name="system.copyEnhancements.copyFor" value="{{system.copyEnhancements.copyFor}}">
  </div>
  {{/if}}

  {{#each enhancements as |enhancement enhancementKey|}}
  <div class="border-box no-small-boxes">
    <div class="box-inner">
      <div class="enhancement">
        <div class="header">
          <label>{{enhancement.name}}</label>
          <div>
            <a class="edit-description editable" title="{{localize "dc20rpg.item.sheet.enh.editDescription"}}" data-path="system.enhancements.{{enhancementKey}}.description"><i class="fa-solid fa-pen-to-square"></i></a>
            <a class="remove-enhancement" title="{{localize "dc20rpg.item.sheet.enh.removeEnh"}}" data-key="{{enhancementKey}}"><i class="fas fa-square-minus fa-lg"></i></a>
          </div>
        </div>
        <div class="resources grid grid-4col">
          {{!-- Core Resources --}}
          <div class="resource ap-cost" title="{{localize "dc20rpg.item.sheet.usage.ap"}}">
            <div class="wrapper"><i class="fa-lg fa-solid fa-dice-d6"></i></div>
            <input type="text" name="system.enhancements.{{enhancementKey}}.resources.actionPoint" value="{{enhancement.resources.actionPoint}}" placeholder="-" data-dtype="Number">
          </div>
          <div class="resource stamina-cost" title="{{localize "dc20rpg.item.sheet.usage.sp"}}">
            <div class="wrapper"><i class="fa-lg fa-solid fa-hand-fist"></i></div>
            <input type="text" name="system.enhancements.{{enhancementKey}}.resources.stamina" value="{{enhancement.resources.stamina}}" placeholder="-" data-dtype="Number">
          </div>
          <div class="resource mana-cost" title="{{localize "dc20rpg.item.sheet.usage.mp"}}">
            <div class="wrapper"><i class="fa-lg fa-solid fa-star"></i></div>
            <input type="text" name="system.enhancements.{{enhancementKey}}.resources.mana" value="{{enhancement.resources.mana}}" placeholder="-" data-dtype="Number">
          </div>
          <div class="resource health-cost" title="{{localize "dc20rpg.item.sheet.usage.hp"}}">
            <div class="wrapper"><i class="fa-lg fa-solid fa-heart"></i></div>
            <input type="text" name="system.enhancements.{{enhancementKey}}.resources.health" value="{{enhancement.resources.health}}" placeholder="-" data-dtype="Number">
          </div>

          {{!-- Custom Resources --}}
          {{#each enhancement.resources.custom as |cost key|}}
          <div class="resource" title="{{cost.name}}">
            <img class="resource-img" src="{{cost.img}}"/>
            <input type="text" name="system.enhancements.{{enhancementKey}}.resources.custom.{{key}}.value" value="{{cost.value}}" placeholder="-" data-dtype="Number">
          </div>
          {{/each}}
        </div>

        {{!-- Consume Charges --}}
        <div class="charges grid grid-2col">
          <div class="row ignore-symetry">
            <span>{{localize "dc20rpg.item.sheet.enh.additionalConsumed"}}</span>
            <a class="activable fa-lg {{#if enhancement.charges.consume}}fa-square-check fa-solid{{else}}fa-regular fa-square{{/if}}" data-path="system.enhancements.{{enhancementKey}}.charges.consume"></a>
          </div>
          <div class="row ignore-symetry" title="{{localize "dc20rpg.item.sheet.enh.fromOriginalTitle"}}">
            <span>{{localize "dc20rpg.item.sheet.enh.fromOriginal"}}</span>
            <a class="activable fa-lg {{#if enhancement.charges.fromOriginal}}fa-square-check fa-solid{{else}}fa-regular fa-square{{/if}}" data-path="system.enhancements.{{enhancementKey}}.charges.fromOriginal"></a>
          </div>
        </div>
        
        {{!-- Modifies Formula --}}
        <div class="row">
          <span>{{localize "dc20rpg.item.sheet.enh.modifiesFormula"}}</span>
          <a class="activable fa-lg {{#if enhancement.modifications.hasAdditionalFormula}}fa-square-check fa-solid{{else}}fa-regular fa-square{{/if}}" data-path="system.enhancements.{{enhancementKey}}.modifications.hasAdditionalFormula"></a>
        </div>
        {{#if enhancement.modifications.hasAdditionalFormula}}
        <div class="row margin-top-3">
          <span>{{localize "dc20rpg.item.sheet.enh.additionalFormula"}}</span>
          <input type="text" name="system.enhancements.{{enhancementKey}}.modifications.additionalFormula" value="{{enhancement.modifications.additionalFormula}}" placeholder="-">
        </div>
        {{/if}}

        {{!-- Ignores Damage Reduction --}}
        <div class="row margin-top-10">
          <span>{{localize "dc20rpg.item.sheet.enh.ignoreDR"}}</span>
          <a class="activable fa-lg {{#if enhancement.modifications.ignoreDR}}fa-square-check fa-solid{{else}}fa-regular fa-square{{/if}}" data-path="system.enhancements.{{enhancementKey}}.modifications.ignoreDR"></a>
        </div>

        {{!-- Overrides Damage Type --}}
        <div class="row margin-top-10">
          <span>{{localize "dc20rpg.item.sheet.enh.overrideDamageType"}}</span>
          <a class="activable fa-lg {{#if enhancement.modifications.overrideDamageType}}fa-square-check fa-solid{{else}}fa-regular fa-square{{/if}}" data-path="system.enhancements.{{enhancementKey}}.modifications.overrideDamageType"></a>
        </div>
        {{#if enhancement.modifications.overrideDamageType}}
        <div class="row margin-top-3">
          <span>{{localize "dc20rpg.sheet.dmgTypes.dmgTypeTitle"}}</span>
          <select class="margin-left-3" name="system.enhancements.{{enhancementKey}}.modifications.damageType">
            {{selectOptions @root.config.damageTypes selected=enhancement.modifications.damageType blank=""}}
          </select>
        </div>
        {{/if}}

        {{!-- Adds Formula --}}
        <div class="row margin-top-10">
          <span>{{localize "dc20rpg.item.sheet.enh.addsNewFormula"}}</span>
          <a class="activable fa-lg {{#if enhancement.modifications.addsNewFormula}}fa-square-check fa-solid{{else}}fa-regular fa-square{{/if}}" data-path="system.enhancements.{{enhancementKey}}.modifications.addsNewFormula"></a>
        </div>
        {{#if enhancement.modifications.addsNewFormula}}
        <div class="row margin-top-3">
          <span>{{localize "dc20rpg.item.sheet.enh.formulaCategory"}}</span>
          <select class="margin-left-3" name="system.enhancements.{{enhancementKey}}.modifications.formula.category" title="{{localize "dc20rpg.item.sheet.enh.formulaCategory"}}">
            {{selectOptions @root.config.formulaCategories selected=enhancement.modifications.formula.category}}
          </select>
        </div>
        <div class="row margin-top-3">
          <div class="left-part-row">
            <span class="{{enhancement.modifications.formula.category}}-formula">{{varLocalize "dc20rpg.item.sheet.formulas." enhancement.modifications.formula.category ""}}</span>
          </div>
          <div class="right-part-row">
            <input type="text" name="system.enhancements.{{enhancementKey}}.modifications.formula.formula" value="{{enhancement.modifications.formula.formula}}">
            <select class="margin-left-3" name="system.enhancements.{{enhancementKey}}.modifications.formula.type" title="{{varLocalize "dc20rpg.item.sheet.formulas." enhancement.modifications.formula.category "type"}}">
              {{#ifCond enhancement.modifications.formula.category '===' "damage"}}
              {{selectOptions @root.config.damageTypes selected=enhancement.modifications.formula.type blank=""}}
              {{else}}
              {{selectOptions @root.config.healingTypes selected=enhancement.modifications.formula.type blank=""}}
              {{/ifCond}}
            </select>
          </div>
        </div>
        {{/if}}

        {{#if (arrayIncludes @root.system.actionType arrayString="dynamic attack save")}}
          {{!-- Save Override --}}
          <div class="row margin-top-10">
            <span>{{localize "dc20rpg.item.sheet.enh.overrideSave"}}</span>
            <a class="activable fa-lg {{#if enhancement.modifications.overrideSave}}fa-square-check fa-solid{{else}}fa-regular fa-square{{/if}}" data-path="system.enhancements.{{enhancementKey}}.modifications.overrideSave"></a>
          </div>
          {{#if enhancement.modifications.overrideSave}}
          <div class="row margin-top-3">
            <span>{{localize "dc20rpg.item.sheet.save.type"}}</span>
            <select name="system.enhancements.{{enhancementKey}}.modifications.save.type">
              {{selectOptions @root.config.saveTypes selected=enhancement.modifications.save.type}}
            </select>
          </div>
          <div class="row margin-top-3">
            <span>{{localize "dc20rpg.item.sheet.save.dc"}}</span>
            <div class="right-part-row">
              <input {{#ifCond enhancement.modifications.save.calculationKey  '!==' "flat"}} disabled {{/ifCond}} class="margin-right-3" type="text" name="system.enhancements.{{enhancementKey}}.modifications.save.dc" value="{{enhancement.modifications.save.dc}}" data-dtype="Number" placeholder="-">
            <select name="system.enhancements.{{enhancementKey}}.modifications.save.calculationKey">
              {{selectOptions @root.config.dcCalculationTypes selected=enhancement.modifications.save.calculationKey}}
            </select>
              {{#if (arrayIncludes enhancement.modifications.save.calculationKey arrayString="prime mig agi int cha")}}
                <a class="activable margin-left-3" data-path="system.enhancements.{{enhancementKey}}.modifications.save.addMastery" title="{{localize "dc20rpg.item.sheet.save.addMastery"}}">
                  {{#if enhancement.modifications.save.addMastery}} <i class="fa-lg fa-square-check fa-solid"></i>
                  {{else}}<i class="fa-lg fa-regular fa-square"></i>{{/if}}
                </a>
              {{/if}}
            </div>
          </div>
          <div class="row margin-top-3" title="{{localize "dc20rpg.item.sheet.save.failEffectTitle"}}">
            <span>{{localize "dc20rpg.item.sheet.save.failEffect"}}</span>
            <select name="system.enhancements.{{enhancementKey}}.modifications.save.failEffect">
              {{selectOptions @root.config.failedSaveEffects selected=enhancement.modifications.save.failEffect blank=""}}
            </select>
          </div>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
</div>