<div class="tab target-tab content" data-group="roll" data-tab="target">
  {{!-- Range --}}
  <div class="row margin-top-5">
    <span>{{localize "dc20rpg.item.sheet.target.range"}}</span>
    <div class="right-part-row">
      <input class="small-input" type="text" name="system.range.normal" value="{{system.range.normal}}" data-dtype="Number" placeholder="-" title="{{localize "dc20rpg.item.sheet.target.normal"}}">
      <span class="separator">/</span>
      <input class="small-input" type="text" name="system.range.max" value="{{system.range.max}}" placeholder="-" data-dtype="Number" title="{{localize "dc20rpg.item.sheet.target.max"}}">
      <input class="margin-left-3" type="text" name="system.range.unit" value="{{system.range.unit}}" placeholder="{{localize "dc20rpg.item.sheet.target.spaces"}}" title="{{localize "dc20rpg.item.sheet.target.unit"}}">
    </div>
  </div>

  {{!-- Target --}}
  {{#if system.target.invidual}}
  <div class="row margin-top-5">
    <div class="left-part-row">
      <span>{{localize "dc20rpg.item.sheet.target.target"}}</span>
      <a class="margin-right-5 activable fa-solid fa-circle-user fa-lg" data-path="system.target.invidual"></a>
    </div>
    <div class="right-part-row">
      <input class="margin-right-3" type="text" name="system.target.count" value="{{system.target.count}}" data-dtype="Number" placeholder="-" title="{{localize "dc20rpg.item.sheet.target.targetNo"}}">
      <select name="system.target.type">
        {{selectOptions @root.config.invidualTargets selected=system.target.type blank=""}}
      </select>
    </div>
  </div>
  {{else}}
  <div class="row margin-top-5">
    <div class="left-part-row">
      <span>{{localize "dc20rpg.item.sheet.target.area"}}</span>
      <a class="margin-right-3 activable fa-solid fa-globe fa-lg" data-path="system.target.invidual"></a>
    </div>
    <div class="right-part-row">
      <input class="small-input margin-right-3" type="text" name="system.target.distance" value="{{system.target.distance}}" data-dtype="Number" placeholder="-" title="{{localize "dc20rpg.item.sheet.target.distance"}}">
      <select class="margin-right-3" name="system.target.area">
        {{selectOptions @root.config.areaTypes selected=system.target.area blank=""}}
      </select>
      {{#ifCond system.target.area '===' "line"}} 
      <input class="small-input margin-right-3" type="text" name="system.target.width" value="{{system.target.width}}" data-dtype="Number" placeholder="-" title="{{localize "dc20rpg.item.sheet.target.width"}}"> 
      {{/ifCond}}
      <input type="text" name="system.target.unit" value="{{system.target.unit}}" placeholder="{{localize "dc20rpg.item.sheet.target.spaces"}}" title="{{localize "dc20rpg.item.sheet.target.unit"}}">
    </div>
  </div>
  {{/if}}

  {{!-- Duration --}}
  <div class="row margin-top-5">
    <span>{{localize "dc20rpg.item.sheet.target.duration"}}</span>
    <select name="system.duration.type">
      {{selectOptions @root.config.durations selected=system.duration.type blank=""}}
    </select>
  </div>

  {{!-- Time Unit --}}
  <div class="row margin-top-5">
    <span>{{localize "dc20rpg.item.sheet.target.timeUnit"}}</span>
    <div class="right-part-row">
      <input class="margin-right-3" type="text" name="system.duration.value" value="{{system.duration.value}}" data-dtype="Number" placeholder="-" title="{{localize "dc20rpg.item.sheet.target.duration"}}">
      <select name="system.duration.timeUnit">
        {{selectOptions @root.config.timeUnits selected=system.duration.timeUnit blank=""}}
      </select>
    </div>
  </div>
</div>