<div class="config-row">
  <label>Other Items </label>
  <div class="right-part-row">
    {{#if system.costs.otherItem.consumeCharge}} 
      <select class="long-select margin-right-3 select-other-item cost-selector" data-path="system.costs.otherItem.itemId" data-selector="cost-selector">
        {{selectOptions itemsWithChargesIds selected=system.costs.otherItem.itemId blank=""}}
      </select>
      <input class="small-input margin-right-3" type="text" name="system.costs.otherItem.amountConsumed" value="{{system.costs.otherItem.amountConsumed}}" data-dtype="Number" placeholder="-" title="Amount consumed">
      <a class="activable fa-solid fa-bolt fa-lg" data-path="system.costs.otherItem.consumeCharge" title="Consuming Charge"></a>
    {{else}} 
      <select class="long-select margin-right-3 select-other-item cost-selector" data-path="system.costs.otherItem.itemId" data-selector="cost-selector">
        {{selectOptions consumableItemsIds selected=system.costs.otherItem.itemId blank=""}}
      </select>
      <input class="small-input margin-right-3" type="text" name="system.costs.otherItem.amountConsumed" value="{{system.costs.otherItem.amountConsumed}}" data-dtype="Number" placeholder="-" title="Amount consumed">
      <a class="activable fa-solid fa-boxes-stacked fa-lg" data-path="system.costs.otherItem.consumeCharge" title="Consuming Quantity"></a>
    {{/if}}
  </div>
</div>