<div class="purple-box-container">
  <label class="sub-title">Item Properties</label>
  <div class="grid grid-4col grid-gap-5">
    {{#each system.properties as |property key|}}
      <div class="activable-box activable {{#if property.active}} active {{/if}}"
            data-path="system.properties.{{key}}.active"
      >{{labelFromKey key @root.config.properties}}
      </div>
    {{/each}}
  </div>

  {{#if system.properties.reload.active}}
  <div class="config-row">
    <label>Reload </label>
    <input type="text" name="system.properties.reload.value" value="{{system.properties.reload.value}}" data-dtype="Number" placeholder="-">
  </div>
  {{/if}}

  {{#if system.properties.reach.active}}
  <div class="config-row">
    <label>Reach </label>
    <input type="text" name="system.properties.reach.value" value="{{system.properties.reach.value}}" data-dtype="Number" placeholder="-">
  </div>
  {{/if}}

  {{#if system.properties.damageReduction.active}}
  <div class="config-row">
    <label>Damage Reduction </label>
    <input type="text" name="system.properties.damageReduction.value" value="{{system.properties.damageReduction.value}}" data-dtype="Number" placeholder="-">
  </div>
  {{/if}}

  {{#if system.properties.requirement.active}}
  <div class="config-row">
    <label>Requirement </label>
    <input type="text" name="system.properties.requirement.value" value="{{system.properties.requirement.value}}" placeholder="-">
  </div>
  {{/if}}
</div>