{{!-- Resources --}}
<div class="usage-cost grid grid-2col">
  <div class="cost">
    <label>Action Points Cost </label>
    <input type="text" name="system.costs.resources.actionPoint" value="{{system.costs.resources.actionPoint}}" placeholder="-" data-dtype="Number">
  </div>
  <div class="cost">
    <label>Stamina Cost </label>
    <input type="text" name="system.costs.resources.stamina" value="{{system.costs.resources.stamina}}" placeholder="-" data-dtype="Number">
  </div>
  <div class="cost">
    <label>Mana Cost </label>
    <input type="text" name="system.costs.resources.mana" value="{{system.costs.resources.mana}}" placeholder="-" data-dtype="Number">
  </div>
  <div class="cost">
    <label>Health Cost </label>
    <input type="text" name="system.costs.resources.health" value="{{system.costs.resources.health}}" placeholder="-" data-dtype="Number">
  </div>
</div>
{{!-- Charges --}}
<div class="config-row">
  <label>Charges </label>
  {{#if system.costs.charges.overriden}} 
    <a class="activable fa-solid fa-square-check fa-lg" data-path="system.costs.charges.overriden" title="Use Standard Recovery Formula"></a>
  {{else}} 
    <a class="activable fa-regular fa-square fa-lg" data-path="system.costs.charges.overriden" title="Use Custom Recovery Formula"></a>
  {{/if}}
  <label class="custom-formula">Use Custom Recovery Formula</label>
  <div class="right-part-row">
    <input class="small-input" type="text" name="system.costs.charges.current" value="{{system.costs.charges.current}}" data-dtype="Number" placeholder="-" title="Current Charges">
    <span>/</span>
    <input class="small-input margin-right-3" type="text" name="system.costs.charges.maxChargesFormula" value="{{system.costs.charges.maxChargesFormula}}" placeholder="-" title="Max Charges">
    <p class="centered margin-right-3">per</p>
    <select class="margin-right-3" name="system.costs.charges.reset">
      {{selectOptions @root.config.chargesResets selected=system.costs.charges.reset blank=""}}
    </select>
      {{#if system.costs.charges.showAsResource}} 
        <a class="activable fa-solid fa-square-check fa-2x" data-path="system.costs.charges.showAsResource" title="Show as Resource"></a>
      {{else}} 
        <a class="activable fa-regular fa-square fa-2x" data-path="system.costs.charges.showAsResource" title="Show as Resource"></a>
      {{/if}}
  </div>
</div>
{{#if system.costs.charges.overriden}}
<div class="config-row">
  <label>Custom Recovery Formula </label>
  <input class="formula" type="text" name="system.costs.charges.rechargeFormula" value="{{system.costs.charges.rechargeFormula}}" title="Custom Recovery Formula">
</div>
{{/if}}
{{!-- Other Items --}}
<div class="config-row">
  <label>Other Items </label>
  <div class="right-part-row">
    {{#if system.costs.otherItem.consumeCharge}} 
      <select class="margin-right-3 selectOtherItem">
        {{selectOptions itemsWithChargesIds selected=system.costs.otherItem.itemId blank=""}}
      </select>
      <input class="small-input margin-right-3" type="text" name="system.costs.otherItem.amountConsumed" value="{{system.costs.otherItem.amountConsumed}}" data-dtype="Number" placeholder="-" title="Amount consumed">
      <a class="activable fa-solid fa-bolt fa-lg" data-path="system.costs.otherItem.consumeCharge" title="Consuming Charge"></a>
    {{else}} 
      <select class="margin-right-3 selectOtherItem">
        {{selectOptions consumableItemsIds selected=system.costs.otherItem.itemId blank=""}}
      </select>
      <input class="small-input margin-right-3" type="text" name="system.costs.otherItem.amountConsumed" value="{{system.costs.otherItem.amountConsumed}}" data-dtype="Number" placeholder="-" title="Amount consumed">
      <a class="activable fa-solid fa-boxes-stacked fa-lg" data-path="system.costs.otherItem.consumeCharge" title="Consuming Quantity"></a>
    {{/if}}
  </div>
</div>