<div class="box-header">
  <span>{{localize 'dc20rpg.sheet.checkSave.title'}}</span>
</div>
<div class="box-content check-save">
  {{!-- Check Modifier --}}
  <div class="check-column column">
    <div class="sub-header">
      <span class="margin-right-3">{{localize 'dc20rpg.sheet.checkSave.checkTitle'}}</span>
      {{#ifCond @root.editMode '&&' @root.isNPC}}
      <div class="margin-left-3"><a class="activable fa-lg {{#if system.attackMod.flat}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.attackMod.flat" title="{{localize 'dc20rpg.sheet.checkSave.flatAttackMod'}}"></a></div>
      {{/ifCond}}
    </div>
    <div class="check-buttons">
    {{#ifCond system.attackMod.flat '&&' @root.editMode}}
      <div class="value-box" title="{{localize 'dc20rpg.sheet.checkSave.attackCheckTitle'}}:" data-label="{{localize 'dc20rpg.sheet.checkSave.attackCheck'}}">
        <span class="title">{{localize 'dc20rpg.sheet.checkSave.attack'}}:</span>
        <input type="text" name="system.attackMod.value.martial" value="{{system.attackMod.value.martial}}" data-dtype="Number"/>
      </div>
      <div class="value-box" title="{{localize 'dc20rpg.sheet.checkSave.spellCheckTitle'}}:" data-label="{{localize 'dc20rpg.sheet.checkSave.spellCheck'}}">
        <span class="title">{{localize 'dc20rpg.sheet.checkSave.spell'}}:</span>
        <input type="text" name="system.attackMod.value.spell" value="{{system.attackMod.value.spell}}" data-dtype="Number"/>
      </div>
    {{else}}
      <div class="roll-button rollable" data-check-key="att" data-roll="d20+@attackMod.value.martial" title="{{localize 'dc20rpg.sheet.checkSave.attackCheckTitle'}}" data-label="{{localize 'dc20rpg.sheet.checkSave.attackCheck'}}" data-type="attackCheck">
        <span class="original">{{localize 'dc20rpg.sheet.checkSave.attackCheck'}}</span>
        <span class="hovered bigger">{{numberFormat system.attackMod.value.martial decimals=0 sign=true}}</span>
      </div>
      <div class="roll-button rollable" data-check-key="spe" data-roll="d20+@attackMod.value.spell" title="{{localize 'dc20rpg.sheet.checkSave.spellCheckTitle'}}" data-label="{{localize 'dc20rpg.sheet.checkSave.spellCheck'}}" data-type="spellCheck">
        <span class="original">{{localize 'dc20rpg.sheet.checkSave.spellCheck'}}</span>
        <span class="hovered bigger">{{numberFormat system.attackMod.value.spell decimals=0 sign=true}}</span>
      </div>
    {{/ifCond}}
    </div>
  </div>

  {{!-- Save DC --}}
  <div class="save-column column">
    <div class="sub-header">
      <span class="margin-right-3">{{localize 'dc20rpg.sheet.checkSave.saveTitle'}}</span>
      {{#ifCond @root.editMode '&&' @root.isNPC}}
      <div class="margin-left-3"><a class="activable fa-lg {{#if system.saveDC.flat}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.saveDC.flat" title="{{localize 'dc20rpg.sheet.checkSave.flatSaveDC'}}"></a></div>
      {{/ifCond}}
    </div>

    <div class="saves">
    {{#ifCond system.saveDC.flat '&&' @root.editMode}}
      <div class="martial value-box" title="{{localize 'dc20rpg.sheet.checkSave.martialSave'}}" data-label="{{localize 'dc20rpg.sheet.checkSave.martialSave'}}">
        <span class="title">{{localize 'dc20rpg.sheet.checkSave.martialSaveLabel'}}:</span>
        <input type="text" name="system.saveDC.value.martial" value="{{system.saveDC.value.martial}}" data-dtype="Number"/>
      </div>
      <div class="spell value-box" title="{{localize 'dc20rpg.sheet.checkSave.spellSave'}}" data-label="{{localize 'dc20rpg.sheet.checkSave.spellSave'}}">
        <span class="title">{{localize 'dc20rpg.sheet.checkSave.spellSaveLabel'}}:</span>
        <input type="text" name="system.saveDC.value.spell" value="{{system.saveDC.value.spell}}" data-dtype="Number"/>
      </div>
    {{else}}
      {{#ifCond system.saveDC.value.martial '!==' system.saveDC.value.spell}}
      <div class="martial value-box" data-roll="d20+@attackMod.value.martial" title="{{localize 'dc20rpg.sheet.checkSave.martialSave'}}" data-label="{{localize 'dc20rpg.sheet.checkSave.martialSave'}}" data-type="attackCheck">
        <span class="title">{{localize 'dc20rpg.sheet.checkSave.martialSaveLabel'}}:</span>
        <span class="value">{{numberFormat system.saveDC.value.martial decimals=0 sign=false}}</span>
      </div>
      <div class="spell value-box" data-roll="d20+@attackMod.value.spell" title="{{localize 'dc20rpg.sheet.checkSave.spellSave'}}" data-label="{{localize 'dc20rpg.sheet.checkSave.spellSave'}}" data-type="spellCheck">
        <span class="title">{{localize 'dc20rpg.sheet.checkSave.spellSaveLabel'}}:</span>
        <span class="value">{{numberFormat system.saveDC.value.spell decimals=0 sign=false}}</span>
      </div>
      {{else}}
      <div class="martial value-box" data-roll="d20+@attackMod.value.martial" title="{{localize 'dc20rpg.sheet.checkSave.saveTitle'}}" data-label="{{localize 'dc20rpg.sheet.checkSave.martialSave'}}" data-type="attackCheck">
        <span class="title">{{localize 'dc20rpg.sheet.checkSave.saveTitle'}}:</span>
        <span class="value">{{numberFormat system.saveDC.value.martial decimals=0 sign=false}}</span>
      </div>
      {{/ifCond}}
    {{/ifCond}}
    </div>
  </div>
</div>