<div class="table-header">
	<span class="title">{{localize 'dc20rpg.sheet.condImm.title'}}</span>
	<div class="menu">
		<div class="buttons">
			<div class="letter-circle-icon clickable small" title="{{localize 'dc20rpg.sheet.condImm.showEmptyConditions'}}">
				{{{show-hide-toggle flags.dc20rpg.showEmptyConditions "flags.dc20rpg.showEmptyConditions"}}}
			</div>
		</div>
	</div>
</div>

<div class="table-row condition-row condition-sub-header">
	<div class="column"><i></i></div>
	<div class="column" title="{{localize 'dc20rpg.sheet.condImm.advantage'}}"><i class="fa-lg fa-solid fa-dice"></i></div>
	<div class="column" title="{{localize 'dc20rpg.sheet.condImm.immunity'}}"><i class="fa-lg fa-solid fa-shield"></i></div>
</div>

{{#each system.conditions as |condition key|}}
{{#ifCond condition.notEmpty '||' @root.flags.dc20rpg.showEmptyConditions}}
<div class="table-row condition-row">
  <input disabled class="column name" type="text" name="system.skills.{{key}}.label" value="{{condition.label}}">
	<input class="column change-actor-numeric-value" {{#unless @root.isNPC}}disabled{{/unless}} type="number" data-path="system.conditions.{{key}}.advantage" value="{{condition.advantage}}" title="{{localize 'dc20rpg.sheet.condImm.advantage'}}"/>
  <div class="column" title="{{localize 'dc20rpg.sheet.condImm.immunity'}}">
		{{#if @root.isNPC}}
    <a class="activable fa-lg {{#if condition.immunity}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.conditions.{{key}}.immunity"></a>
    {{else}}
    <i class="fa-lg {{#if condition.immunity}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}"></i>
		{{/if}}
	</div>
</div>
{{/ifCond}}
{{/each}}

<div class="table-row custom-condition-row" title="{{localize 'dc20rpg.sheet.condImm.custom'}}">
  <div class="column custom">
    <span>Custom:</span>
    <textarea type="text" name="system.customCondition">{{system.customCondition}}</textarea>
  </div>
</div>
