  <div class="item-list table-name {{key}}">
    {{!-- Header --}}
    <div class="item-header" data-table-name='{{key}}' style="grid-template-columns: 35px {{gridTemplate}}">
      <div class="column reordering-buttons">
        {{#ifCond editMode '&&' table.siblings.before}}
        <a class="reorder fa-solid fa-angle-up" data-tooltip="{{localize 'dc20rpg.sheet.itemTable.headerUp'}}" data-tab="{{navTab}}" data-current="{{key}}" data-swapped="{{table.siblings.before}}"></a>
        {{/ifCond}}
        {{#ifCond editMode '&&' table.siblings.after}}
        <a class="reorder fa-solid fa-angle-down" data-tooltip="{{localize 'dc20rpg.sheet.itemTable.headerDown'}}" data-tab="{{navTab}}" data-current="{{key}}" data-swapped="{{table.siblings.after}}"></a>
        {{/ifCond}}
      </div>
      {{#each columns}}

      {{#ifCond this '===' "name"}}
      <div class="column name">
        <input {{#ifCond @root.editMode '&&' @root.table.custom}}{{else}}disabled{{/ifCond}} type="text" name="system.sheetData.header.order.{{@root.navTab}}.{{@root.key}}.name" value="{{localize @root.table.name}}"/>
      </div>
      {{/ifCond}}

      {{#ifCond this '===' "action"}}
      <div class="column action" data-tooltip="{{localize 'dc20rpg.sheet.itemTable.roll'}}"><i class="fa-solid fa-dice-d20"></i></div>
      {{/ifCond}}

      {{#ifCond this '===' "cost"}}
      <div class="column cost" data-tooltip="{{localize 'dc20rpg.sheet.itemTable.resources'}}"><i class="fa-solid fa-bolt"></i></div>
      {{/ifCond}}

      {{#ifCond this '===' "charges"}}
      <div class="column charges" data-tooltip="{{localize 'dc20rpg.sheet.itemTable.charges'}}"><i class="fa-solid fa-battery-three-quarters"></i></div>
      {{/ifCond}}

      {{#ifCond this '===' "weight"}}
      <div class="column weight"><i class="fa-solid fa-weight-hanging" data-tooltip="{{localize 'dc20rpg.sheet.itemTable.weight'}}"></i></div>
      {{/ifCond}}

      {{#ifCond this '===' "quantity"}}
      <div class="column quantity"><i class="fa-solid fa-boxes-stacked" data-tooltip="{{localize 'dc20rpg.sheet.itemTable.quantity'}}"></i></div>
      {{/ifCond}}

      {{#ifCond this '===' "components"}}
      <div class="column components"><i class="fa-solid fa-sack" data-tooltip="{{localize 'dc20rpg.sheet.itemTable.components'}}"></i></div>
      {{/ifCond}}

      {{#ifCond this '===' "config"}}
      <div class="column config">
        <i class="fa-solid fa-gear"></i>
        {{#ifCond @root.editMode '&&' @root.table.custom}}
          <a class="table-remove fa-lg fa-solid fa-xmark margin-left-3" data-tooltip="{{localize 'dc20rpg.sheet.itemTable.removeTable'}}" data-tab="{{@root.navTab}}" data-table="{{@root.key}}"></a>
        {{/ifCond}}
      </div>
      {{/ifCond}}

      {{/each}}
      
    </div>
    
    {{!-- Row --}}
    {{#each table.items as |item id|}} 
    <div class="item item-row editable{{#if item.system.statuses.equipped}} equipped{{/if}}{{#if item.system.statuses.attuned}} attuned{{/if}}{{#ifCond item.system.toggle.toggleable '&&' item.system.toggle.toggledOn}} activated-effect{{/ifCond}}" data-item-id="{{item._id}}" style="grid-template-columns: {{@root.gridTemplate}}">
    {{#each @root.columns}}

        {{#ifCond this '===' "name"}}
        <div class="column name item-tooltip roll-item" data-item-id="{{item._id}}" data-tooltip="{{localize 'dc20rpg.sheet.rollMenu.rollItem'}} {{localize "dc20rpg.sheet.rollMenu.quickRoll"}}">
          <div class="item-img-wrapper">
            <a class="original"><img src="{{item.img}}"/></a>
            <a class="hovered">
              <i class="hover-icon fa-solid fa-dice-d20 fa-2x"></i>
            </a> 
          </div>
          <div class="item-name" data-item-id="{{item._id}}">{{item.name}}</div>
          {{#if item.system.isReaction}}
          <div class="side-marker" data-tooltip="{{localize 'dc20rpg.sheet.itemTable.reaction'}}">
            <i class="fa-solid fa-reply fa-lg"></i>
          </div>
          {{/if}}

          {{#if item.system.shortInfo}}
            <div class="side-marker" data-tooltip="{{item.system.shortInfo}}">
              <i class="fa-solid fa-square-info fa-lg" style="padding-right: 2px; padding-top: 7px;"></i>
            </div>
          {{/if}}
        </div>
        {{/ifCond}}
        
        {{#ifCond this '===' "action"}}
        <div class="column action expandable" data-tooltip="{{localize 'dc20rpg.sheet.itemTable.roll'}}">
          {{{action-type item}}}
          {{{roll-requests item}}}
          {{{formula-rolls item}}}
        </div>
        {{/ifCond}}

        {{#ifCond this '===' "cost"}}
        <div class="column usage" data-tooltip="{{localize 'dc20rpg.sheet.itemTable.resources'}}">
          {{{cost-printer item.useCost true false false true}}}
        </div>
        {{/ifCond}}

        {{#ifCond this '===' "charges"}}
        <div class="column charges" data-tooltip="{{localize 'dc20rpg.sheet.itemTable.charges'}}">
          {{#ifCond item.system.costs.charges.max '!==' null}}
          <input class="current-charges update-charges" type="text" value="{{item.system.costs.charges.current}}" data-dtype="Number" data-item-id="{{item._id}}" {{#ifCond item.system.costs.charges.reset "===" "charges"}}style="width:23px"{{/ifCond}}/>
          <span class="separator">/</span>
          <span class="max-charges">{{item.system.costs.charges.max}}</span>
            {{!-- Recharge button --}}
            {{#ifCond item.system.costs.charges.reset "===" "charges"}}
            <a class="recharge-item fa-solid fa-bolt" data-tooltip="{{localize 'dc20rpg.sheet.itemTable.recharge'}}" data-item-id="{{item._id}}" style="margin-left:2px;margin-top:-2px;"></a>
            {{/ifCond}}
          {{/ifCond}}
        </div>
        {{/ifCond}}

        {{#ifCond this '===' "weight"}}
        <div class="column weight" data-tooltip="{{localize 'dc20rpg.sheet.itemTable.weight'}}">
          {{item.system.weight}}
        </div>
        {{/ifCond}}

        {{#ifCond this '===' "quantity"}}
        <div class="column quantity" data-tooltip="{{localize 'dc20rpg.sheet.itemTable.quantity'}}">
          <input class="change-item-numeric-value" type="text" value="{{item.system.quantity}}" data-item-id="{{item._id}}" data-path="system.quantity">
        </div>
        {{/ifCond}}

        {{#ifCond this '===' "components"}}
        <div class="column components expandable" data-tooltip="{{localize 'dc20rpg.sheet.itemTable.components'}}">
          {{{components item}}}
        </div>
        {{/ifCond}}

        {{#ifCond this '===' "config"}}
        <div class="column config">
          {{{item-config item config=@root.itemConfig editModeConfig=@root.editModeConfig editMode=@root.editMode navTab=@root.navTab}}}
        </div>
        {{/ifCond}}

    {{/each}}
    </div>
    {{/each}}
  </div>