{{#each items as |table key|}}
  <div class="item-list table-name {{key}}">
    {{!-- Header --}}
    <div class="item-header" data-table-name='{{key}}' style="{{grid-template @root.navTab true false}}">
      <div class="column reordering-buttons">
        {{#ifCond @root.editMode '&&' table.siblings.before}}
        <a class="reorder fa-solid fa-angle-up" title="{{localize 'dc20rpg.sheet.itemTable.headerUp'}}" data-tab="{{@root.navTab}}" data-current="{{key}}" data-swapped="{{table.siblings.before}}"></a>
        {{/ifCond}}
        {{#ifCond @root.editMode '&&' table.siblings.after}}
        <a class="reorder fa-solid fa-angle-down" title="{{localize 'dc20rpg.sheet.itemTable.headerDown'}}" data-tab="{{@root.navTab}}" data-current="{{key}}" data-swapped="{{table.siblings.after}}"></a>
        {{/ifCond}}
      </div>
      <div class="column name">
        <input {{#ifCond @root.editMode '&&' table.custom}}{{else}}disabled{{/ifCond}} type="text" name="flags.dc20rpg.headersOrdering.{{@root.navTab}}.{{key}}.name" value="{{table.name}}"/>
      </div>
      {{!-- Inventory Only --}}
      {{#ifCond @root.navTab '===' "inventory"}}
      <div class="column weight"><i class="fa-solid fa-weight-hanging" title="{{localize 'dc20rpg.sheet.itemTable.weight'}}"></i></div>
      <div class="column quantity"><i class="fa-solid fa-boxes-stacked" title="{{localize 'dc20rpg.sheet.itemTable.quantity'}}"></i></div>
      {{/ifCond}}
      {{!-- Spells Only --}}
      {{#ifCond @root.navTab '===' "spells"}}
      <div class="column components"><i class="fa-solid fa-sack" title="{{localize 'dc20rpg.sheet.itemTable.components'}}"></i></div>
      {{/ifCond}}
      <div class="column charges" title="{{localize 'dc20rpg.sheet.itemTable.charges'}}"><i class="fa-solid fa-battery-three-quarters"></i></div>
      {{#ifCond @root.navTab '!==' "favorites"}}{{#ifCond @root.navTab '!==' "main"}}
      <div class="column other-item" title="{{localize 'dc20rpg.sheet.itemTable.extraResources'}}"><i class="fa-solid fa-cookie-bite"></i></div>
      {{/ifCond}}{{/ifCond}}
      <div class="column cost" title="{{localize 'dc20rpg.sheet.itemTable.resources'}}"><i class="fa-solid fa-bolt"></i></div>
      <div class="column action" title="{{localize 'dc20rpg.sheet.itemTable.roll'}}"><i class="fa-solid fa-dice-d20"></i></div>
      <div class="column config">
        <i class="fa-solid fa-gear"></i>
        {{#ifCond @root.editMode '&&' table.custom}}
          <a class="table-remove fa-lg fa-solid fa-xmark margin-left-3" title="{{localize 'dc20rpg.sheet.itemTable.removeTable'}}" data-tab="{{@root.navTab}}" data-table="{{key}}"></a>
        {{/ifCond}}
      </div>
    </div>
    
    {{!-- Row --}}
    {{#each table.items}}
    <div class="expandable-row">
      <div class="item item-row editable{{#if system.statuses.equipped}} equipped{{/if}}{{#if system.statuses.attuned}} attuned{{/if}}{{#if system.effectsConfig.active}} activated-effect{{/if}}" data-item-id="{{_id}}" style="{{grid-template @root.navTab false false}}">
        {{!-- Name --}}
        <div class="column name pointer item-activable item-tooltip" data-item-id="{{_id}}" data-path="flags.dc20rpg.rollMenu.showMenu" title="{{localize 'dc20rpg.sheet.itemTable.showRollMenu'}}">
          <a class="item-img"><img src="{{img}}"/></a>
          <div class="item-name">{{name}}</div>
          {{#if system.usesWeapon.weaponAttack}}
          <select class="select-other-item weapon-selector-{{_id}}" data-path="system.usesWeapon.weaponId" data-selector="weapon-selector-{{_id}}" data-item-id="{{_id}}" title="{{localize 'dc20rpg.sheet.itemTable.chooseWeapon'}}">
            {{selectOptions @root.weaponsOnActor selected=system.usesWeapon.weaponId blank=""}}
          </select>
          {{/if}}
          {{#if system.properties.multiFaceted.active}}
          <a class="side-marker item-multi-faceted" title="{{varLocalize "dc20rpg.weaponStyles." system.properties.multiFaceted.labelKey ''}}"
            {{#if system.usesWeapon.weaponAttack}}
            data-item-id="{{system.usesWeapon.weaponId}}"
            {{else}}
            data-item-id="{{_id}}"
            {{/if}}
          >
            <i class="fa-lg fa-solid{{#ifCond system.properties.multiFaceted.selected '===' "first"}} fa-hand-point-up{{else}} fa-hand-peace{{/ifCond}}"></i>
          </a>
          {{/if}}
          {{#if this.system.isReaction}}
          <div class="side-marker" title="{{localize 'dc20rpg.sheet.itemTable.reaction'}}">
            <i class="fa-solid fa-reply fa-lg"></i>
          </div>
          {{/if}}
        </div>

        {{!-- Item Weight and Quantity (Inventory Only) --}}
        {{#ifCond @root.navTab '===' "inventory"}}
        <div class="column weight" title="{{localize 'dc20rpg.sheet.itemTable.weight'}}">
          {{system.weight}}
        </div>
        <div class="column quantity" title="{{localize 'dc20rpg.sheet.itemTable.quantity'}}">
          <input class="change-item-numeric-value" type="text" value="{{system.quantity}}" data-item-id="{{_id}}" data-path="system.quantity">
        </div>
        {{/ifCond}}

        {{!-- Spell Components (Spells Only) --}}
        {{#ifCond @root.navTab '===' "spells"}}
        <div class="column components" title="{{localize 'dc20rpg.sheet.itemTable.components'}}">
          {{{components this}}}
        </div>
        {{/ifCond}}

        {{!-- Charges --}}
        <div class="column charges" title="{{localize 'dc20rpg.sheet.itemTable.charges'}}">
          {{#if system.costs}}
          {{#ifCond system.costs.charges.max '!==' null}}
          <input class="current-charges update-charges" type="text" value="{{system.costs.charges.current}}" data-dtype="Number" data-item-id="{{_id}}"/>
          <span class="separator">/</span>
          <span class="max-charges">{{system.costs.charges.max}}</span>
          {{/ifCond}}
          {{/if}}
        </div>

        {{!-- Item use other item --}}
        {{#ifCond @root.navTab '!==' "favorites"}}{{#ifCond @root.navTab '!==' "main"}}
        <div class="column item-use" title="{{localize 'dc20rpg.sheet.itemTable.extraResources'}}">
          {{#ifCond usageCosts.otherItem.amount '>' 0}}
          <div class="cost other-item" title="{{usageCosts.otherItem.name}}">
            <img src={{usageCosts.otherItem.image}} class="cost-img">
            <span class="margin-right-3"><b>({{usageCosts.otherItem.amount}})</b></span>
            {{#if usageCosts.otherItem.consumeCharge}}
              <i class="fa-solid fa-bolt fa-lg" title="{{localize 'dc20rpg.sheet.itemTable.consumeCharge'}}"></i>
            {{else}}
              <i class="fa-solid fa-boxes-stacked fa-lg" title="{{localize 'dc20rpg.sheet.itemTable.consumeQuantity'}}"></i>
            {{/if}}
          </div>
          {{/ifCond}}
        </div>
        {{/ifCond}}{{/ifCond}}

        {{!-- Resource Usage --}}
        <div class="column usage" title="{{localize 'dc20rpg.sheet.itemTable.resources'}}">
          {{{cost-printer usageCosts.resources.costs usageCosts.resources.counter false}}}
        </div>

        {{!-- Action Type --}}
        <div class="column action {{{should-expand this @root.navTab}}}" title="{{localize 'dc20rpg.sheet.itemTable.roll'}}">
          {{{action-type this}}}
          {{{formula-rolls this}}}
        </div>

        {{!-- Config --}}
        <div class="column config">
          {{{item-config this @root.editMode @root.navTab}}}
        </div>
      </div>
      {{!-- Roll Menu --}}
      {{#unless unidefined}} {{#if flags.dc20rpg.rollMenu.showMenu}}
      {{!-- Enhancements --}}
      {{#unless system.copyEnhancements.copy}}
      {{#each enhancements as |enhancement key|}}
      <div class="enh-row" style="{{grid-template @root.navTab false true}}" data-enh-key="{{key}}" data-item-id="{{enhancement.itemId}}">
        <div class="column name enh-tooltip" data-enh-key="{{key}}" data-item-id="{{enhancement.itemId}}">
          <div class="item-name">{{enhancement.name}}</div>
          {{#ifCond @root.navTab '!==' "inventory"}}{{#if enhancement.fromWeapon}}
          <div class="side-marker" title="{{localize 'dc20rpg.sheet.itemTable.fromWeapon'}}">
            <i class="fa-solid fa-gavel"></i>
          </div>
          {{/if}}{{/ifCond}}
        </div>
        <div class="column usage" title="{{localize 'dc20rpg.sheet.itemTable.resources'}}">
          {{{cost-printer enhancement.resources enhancement.enhCosts true}}}
        </div>
        <div class="column action" title="{{localize 'dc20rpg.sheet.itemTable.enhRoll'}}">
          {{{enhancement-mods enhancement ...system.actionType}}}
        </div>
        <div class="column enh-number">
          <a class="value-in-box box" data-item-id="{{enhancement.itemId}}" data-path="system.enhancements.{{key}}.number" title="{{localize 'dc20rpg.sheet.itemTable.enhNumber'}}">
            <span>{{enhancement.number}}</span>
          </a>  
        </div>
      </div>
      {{/each}}
      {{/unless}}

      {{!-- Roll Menu  --}}
      <div class="roll-menu">
        {{!-- Roll Button --}}
        <div class="roll-level" title="{{localize 'dc20rpg.sheet.rollMenu.rollLevel'}}">
          <div class="letter-circle-icon small clickable" title="{{localize 'dc20rpg.sheet.rollMenu.rollItem'}}">
            <a class="roll-item fa-solid fa-dice-d20 fa-lg" data-item-id="{{_id}}" data-configured-roll="true"></a>    
          </div>
          {{!-- Roll Level --}}
          <a class="ap-for-adv-item value-in-box square margin-right-3" data-item-id="{{_id}}" title="{{localize 'dc20rpg.sheet.rollMenu.apCost'}}">
            <span class="fa-solid fa-dice-d6 dice"></span>
            <div class="value"><span>{{flags.dc20rpg.rollMenu.apCost}}</span></div>
          </a>
          <a class="toggle-item-numeric value-in-box level margin-right-3" data-item-id="{{_id}}" data-path="flags.dc20rpg.rollMenu.adv" title="{{localize 'dc20rpg.sheet.rollMenu.adv'}}">
            <span class="fa-solid fa-square-caret-up dice"></span>
            <div class="value"><span>{{flags.dc20rpg.rollMenu.adv}}</span></div>
          </a>
          <a class="toggle-item-numeric value-in-box level" data-item-id="{{_id}}" data-path="flags.dc20rpg.rollMenu.dis" title="{{localize 'dc20rpg.sheet.rollMenu.dis'}}">
            <span class="fa-solid fa-square-caret-down dice"></span>
            <div class="value"><span>{{flags.dc20rpg.rollMenu.dis}}</span></div>
          </a>
        </div>

        {{!-- Help Dices --}}
        <div class="help-dices" title="{{localize 'dc20rpg.sheet.rollMenu.helpDices'}}">
          <label>Help:</label>
          {{!-- d8 --}}
          <a class="toggle-item-numeric value-in-box diamond" data-item-id="{{_id}}" data-path="flags.dc20rpg.rollMenu.d8" title="{{localize 'dc20rpg.sheet.rollMenu.d8'}}">
            <span class="fa-solid fa-diamond dice"></span>
            <div class="value"><span>{{flags.dc20rpg.rollMenu.d8}}</span></div>
          </a>
          {{!-- d6 --}}
          <a class="toggle-item-numeric value-in-box square" data-item-id="{{_id}}" data-path="flags.dc20rpg.rollMenu.d6" title="{{localize 'dc20rpg.sheet.rollMenu.d6'}}">
            <span class="fa-solid fa-square dice"></span>
            <div class="value"><span>{{flags.dc20rpg.rollMenu.d6}}</span></div>
          </a>
          {{!-- d4 --}}
          <a class="toggle-item-numeric value-in-box triangle" data-item-id="{{_id}}" data-path="flags.dc20rpg.rollMenu.d4" title="{{localize 'dc20rpg.sheet.rollMenu.d4'}}">
            <span class="fa-solid fa-play fa-rotate-270 dice"></span>
            <div class="value"><span>{{flags.dc20rpg.rollMenu.d4}}</span></div>
          </a>
        </div>

        {{!-- Extra Options --}}
        <div class="roll-options" title="{{localize 'dc20rpg.sheet.rollMenu.rollOptions'}}">
          <div class="toggle">
            <a class="item-activable" data-path="flags.dc20rpg.rollMenu.free" data-item-id="{{_id}}" title="{{localize 'dc20rpg.sheet.rollMenu.free'}}">
              <i class="fa-2x fa-piggy-bank{{#if flags.dc20rpg.rollMenu.free}} fa-solid{{else}} fa-regular{{/if}}"></i>
            </a>
          </div>
          {{#if system.properties.reload.active}}
          <div class="toggle">
            <a class="reload-weapon" 
                {{#if system.usesWeapon.weaponAttack}}
                data-item-id="{{system.usesWeapon.weaponId}}"
                {{else}}
                data-item-id="{{_id}}"
                {{/if}}
                title="{{#if system.properties.reload.loaded}}{{localize 'dc20rpg.sheet.rollMenu.loaded'}}{{else}}{{localize 'dc20rpg.sheet.rollMenu.needToReload'}}{{/if}}">
              <i class="fa-2x fa-registered fa-solid" {{#unless system.properties.reload.loaded}}style="color:#f2001c"{{/unless}}></i>
            </a>
          </div>
          {{/if}}
          {{#if system.properties.versatile.active}}
          <div class="toggle">
            <a class="item-activable" data-path="flags.dc20rpg.rollMenu.versatile" data-item-id="{{_id}}" title="{{localize 'dc20rpg.sheet.rollMenu.versatile'}}">
              <i class="fa-2x fa-hand{{#if flags.dc20rpg.rollMenu.versatile}} fa-solid{{else}} fa-regular{{/if}}"></i>
            </a>
          </div>
          {{/if}}
          {{#ifCond system.duration.type '===' "concentration"}}
          <div class="toggle">
            <a class="item-activable" data-path="flags.dc20rpg.rollMenu.ignoreConcentration" data-item-id="{{_id}}" title="{{localize 'dc20rpg.sheet.rollMenu.ignoreConcentration'}}">
              <i class="fa-2x fa-head-side-cough-slash{{#if flags.dc20rpg.rollMenu.ignoreConcentration}} fa-solid{{else}} fa-regular{{/if}}"></i>
            </a>
          </div>
          {{/ifCond}}
          <div class="toggle">
            <a class="item-activable" data-path="flags.dc20rpg.rollMenu.flanks" data-item-id="{{_id}}" title="{{localize 'dc20rpg.sheet.rollMenu.flanks'}}">
              <i class="fa-2x fa-left-right{{#if flags.dc20rpg.rollMenu.flanks}} fa-solid{{else}} fa-regular{{/if}}"></i>
            </a>
          </div>
          <div class="toggle">
            <a class="item-activable" data-path="flags.dc20rpg.rollMenu.halfCover" data-item-id="{{_id}}" title="{{localize 'dc20rpg.sheet.rollMenu.halfCover'}}">
              <i class="fa-2x fa-shield-halved{{#if flags.dc20rpg.rollMenu.halfCover}} fa-solid{{else}} fa-regular{{/if}}"></i>
            </a>
          </div>
          <div class="toggle">
            <a class="item-activable" data-path="flags.dc20rpg.rollMenu.tqCover" data-item-id="{{_id}}" title="{{localize 'dc20rpg.sheet.rollMenu.tqCover'}}">
              <i class="fa-2x fa-shield{{#if flags.dc20rpg.rollMenu.tqCover}} fa-solid{{else}} fa-regular{{/if}}"></i>
            </a>
          </div>
        </div>
      </div>
      {{/if}} {{/unless}}
    </div>
    {{/each}}
  </div>
{{/each}}