{{!-- Skills --}}
<div class="skills-header table-header">
	<span class="title">{{localize 'dc20rpg.sheet.skills.skillsTitle'}}</span>
	<div class="menu">
		<div class="buttons">
			{{#if editMode}}
			<div class="letter-circle-icon clickable small" title="{{localize 'dc20rpg.sheet.skills.addKnowledgeSkill'}}">
				<a class="add-knowledge fa-solid fa-plus fa-lg"></a>
			</div>
			{{/if}}
			<div class="letter-circle-icon clickable small" title="{{localize 'dc20rpg.sheet.skills.showHideUnknown'}}">
				{{{show-hide-toggle flags.dc20rpg.showUnknownSkills "flags.dc20rpg.showUnknownSkills"}}}
			</div>
		</div>
	</div>
</div>
<div class="skills">
	{{#each skills.allSkills as |skill key|}}
	{{#ifCond skill.mastery '||' @root.flags.dc20rpg.showUnknownSkills}}
	<div class="table-row skill-row journal-tooltip" data-header="{{skill.label}}" data-uuid="{{labelFromKey skill.label @root.config.skillsJournalUuid}}">
		<div class="skill-mastery">
			<div class="letter-circle-icon small clickable" title="{{skill.masteryLabel}}">
				<a class="skill-mastery-toggle" data-type="skills" data-path="system.skills.{{key}}.mastery">{{skill.short}}</a>
			</div>
		</div>
		<input disabled class="name" type="text" name="system.skills.{{key}}.label" value="{{skill.label}}" title="{{skill.label}}">
		<div class="modifier">{{skill.modifier}}</div>
		<select class="base-attribute" {{#unless @root.editMode}}disabled{{/unless}}
			name="system.skills.{{key}}.baseAttribute" title="{{localize 'dc20rpg.sheet.skills.baseAttribute'}}">
			{{selectOptions @root.config.shortAttributes selected=skill.baseAttribute}}
		</select>
		<a class="variable-roll fa-regular fa-dice fa-lg" title="{{localize 'dc20rpg.sheet.skills.variableRoll'}}"
			data-mastery="{{skill.mastery}}" data-bonus="{{skill.bonus}}"
			data-label="{{skill.label}} {{localize "dc20rpg.rollType.check"}}" data-type="skillCheck"></a>
		<a class="rollable fa-solid fa-dice-d20 fa-lg" title="{{localize 'dc20rpg.sheet.skills.roll'}}"
			data-roll="d20+@skills.{{key}}.modifier" data-label="{{skill.label}} {{localize "dc20rpg.rollType.check"}}"
			data-type="skillCheck"></a>
	</div>
	{{/ifCond}}
	{{/each}}
</div>

{{!-- Languages --}}
<div class="skills-header table-header">
	<span class="title">{{localize 'dc20rpg.sheet.skills.languageTitle'}}</span>
	<div class="menu">
		<div class="buttons">
			{{#if editMode}}
			<div class="letter-circle-icon clickable small" title="{{localize 'dc20rpg.sheet.skills.addLanguage'}}">
				<a class="add-language fa-solid fa-plus fa-lg"></a>
			</div>
			{{/if}}
			<div class="letter-circle-icon clickable small" title="{{localize 'dc20rpg.sheet.skills.showHideUnknown'}}">
				{{{show-hide-toggle flags.dc20rpg.showUnknownLanguages "flags.dc20rpg.showUnknownLanguages"}}}
			</div>
		</div>
	</div>
</div>
<div class="skills">
	{{#each skills.languages as |skill key|}}
	{{#ifCond skill.mastery '||' @root.flags.dc20rpg.showUnknownLanguages}}
	<div class="table-row skill-row">
		<div class="skill-mastery">
			<div class="letter-circle-icon small clickable" title="{{skill.masteryLabel}}">
				<a class="language-mastery-toggle" data-path="system.languages.{{key}}.mastery">{{skill.short}}</a>
			</div>
		</div>
		<input {{#ifCond skill.custom '&&' @root.editMode}}{{else}}disabled{{/ifCond}} class="name" type="text" name="system.languages.{{key}}.label" value="{{skill.label}}" title="{{skill.label}}">
		{{#ifCond skill.mastery '===' 1}}
		<a class="rollable fa-solid fa-dice-d20 fa-lg" data-roll="d20 + max(@int, @cha)" data-label="{{skill.label}} {{localize "dc20rpg.rollType.check"}}" title="{{localize 'dc20rpg.sheet.skills.roll'}}"></a>
		{{/ifCond}}
		{{#ifCond skill.custom '&&' @root.editMode}}
		<div class="letter-circle-icon small clickable remove" title="{{localize 'dc20rpg.sheet.skills.removeLanguage'}}">
			<a class="remove-language" data-key="{{key}}">X</a>
		</div>
		{{/ifCond}}
	</div>
	{{/ifCond}}
	{{/each}}
</div>