{{!-- Skills --}}
<div class="skills-header{{#ifCond system.skillPoints.skill.spent '<' system.skillPoints.skill.max}} point-left{{/ifCond}}" style="border-top: 0;">
	<span class="title">{{localize 'dc20rpg.sheet.skills.skillsTitle'}}</span>
	<div class="menu">
		<div class="skill-points">
			<span>{{system.skillPoints.skill.spent}}</span>
			<span class="margin-right-3 margin-left-3">/</span>
			<span>{{system.skillPoints.skill.max}}</span>
		</div>
		<div class="buttons">
			<div class="letter-circle-icon clickable small" title="{{localize 'dc20rpg.sheet.skills.convertToKnowledge'}}">
				{{!-- Convert to Knowledge Point --}}
				<a class="skill-point-converter" data-from="skill" data-to="knowledge" data-operation="convert" data-rate="2">K</a>
			</div>
			<div class="letter-circle-icon clickable small" title="{{localize 'dc20rpg.sheet.skills.convertToTrade'}}">
				<a class="skill-point-converter" data-from="skill" data-to="trade" data-operation="convert" data-rate="1">T</a>
			</div>
			<div class="letter-circle-icon clickable small" title="{{localize 'dc20rpg.sheet.skills.showHideUnknown'}}">
				{{{show-hide-toggle flags.dc20rpg.showUnknownSkills "flags.dc20rpg.showUnknownSkills"}}}
			</div>
		</div>
	</div>
</div>
<div class="skills">
	{{#each skills.skills as |skill key|}}
	{{#ifCond skill.mastery '||' @root.flags.dc20rpg.showUnknownSkills}}
	<div class="row skill-row">
		<div class="skill-mastery">
			<div class="letter-circle-icon small clickable" title="{{skill.masteryLabel}}">
				<a class="skill-mastery-toggle" data-path="system.skills.{{key}}.mastery">{{skill.short}}</a>
			</div>
			{{{expertise-button skill.expertise key @root.editMode}}}
		</div>
		<input disabled class="name" type="text" name="system.skills.{{key}}.label" value="{{skill.label}}">
		<div class="modifier">{{skill.modifier}}</div>
		<select class="base-attribute" {{#unless @root.editMode}}disabled{{/unless}}
			name="system.skills.{{key}}.baseAttribute" title="{{localize 'dc20rpg.sheet.skills.baseAttribute'}}">
			{{selectOptions @root.config.shortAttributes selected=skill.baseAttribute}}
		</select>
		<a class="variable-roll fa-regular fa-dice fa-lg" title="{{localize 'dc20rpg.sheet.skills.variableRoll'}}"
			data-mastery="{{skill.mastery}}" data-bonus="{{skill.bonus}}" data-expertise="{{skill.expertise}}"
			data-label="{{skill.label}} {{localize " dc20rpg.rollType.check"}}" data-type="skillCheck"></a>
		<a class="rollable fa-solid fa-dice-d20 fa-lg" title="{{localize 'dc20rpg.sheet.skills.roll'}}"
			data-roll="d20+@skills.{{key}}.modifier" data-label="{{skill.label}} {{localize " dc20rpg.rollType.check"}}"
			data-type="skillCheck"></a>
	</div>
	{{/ifCond}}
	{{/each}}
</div>

{{!-- Knowledge Skills --}}
<div class="skills-header{{#ifCond system.skillPoints.knowledge.spent '<' system.skillPoints.knowledge.max}} point-left{{/ifCond}}">
	<span class="title">{{localize 'dc20rpg.sheet.skills.knowledgeTitle'}}</span>
	<div class="menu">
		<div class="skill-points">
			<span>{{system.skillPoints.knowledge.spent}}</span>
			<span class="margin-right-3 margin-left-3">/</span>
			<span>{{system.skillPoints.knowledge.max}}</span>
		</div>
		<div class="buttons">
			<div class="letter-circle-icon clickable small" title="{{localize 'dc20rpg.sheet.skills.revertToSkill'}}">
				{{!-- Revert to Skill Point --}}
				<a class="skill-point-converter fa-solid fa-left" data-from="knowledge" data-to="skill" data-operation="revert" data-rate="2"></a>
			</div>
			{{#if editMode}}
			<div class="letter-circle-icon clickable small" title="{{localize 'dc20rpg.sheet.skills.addKnowledgeSkill'}}">
				<a class="add-knowledge fa-solid fa-plus fa-lg"></a>
			</div>
			{{/if}}
			<div class="letter-circle-icon clickable small" title="{{localize 'dc20rpg.sheet.skills.showHideUnknown'}}">
				{{{show-hide-toggle flags.dc20rpg.showUnknownKnowledgeSkills "flags.dc20rpg.showUnknownKnowledgeSkills"}}}
			</div>
		</div>
	</div>
</div>
<div class="skills">
	{{#each skills.knowledge as |skill key|}}
	{{#ifCond skill.mastery '||' @root.flags.dc20rpg.showUnknownKnowledgeSkills}}
	<div class="row skill-row">
		<div class="skill-mastery">
			<div class="letter-circle-icon small clickable" title="{{skill.masteryLabel}}">
				<a class="skill-mastery-toggle" data-path="system.skills.{{key}}.mastery">{{skill.short}}</a>
			</div>
			{{{expertise-button skill.expertise key @root.editMode}}}
		</div>
		<input {{#ifCond skill.custom '&&' @root.editMode}}{{else}}disabled{{/ifCond}} class="name" type="text" name="system.skills.{{key}}.label" value="{{skill.label}}">
		<div class="modifier">{{skill.modifier}}</div>
		<select class="base-attribute" {{#unless @root.editMode}}disabled{{/unless}}
			name="system.skills.{{key}}.baseAttribute" title="{{localize 'dc20rpg.sheet.skills.baseAttribute'}}">
			{{selectOptions @root.config.shortAttributes selected=skill.baseAttribute}}
		</select>
		<a class="variable-roll fa-regular fa-dice fa-lg" title="{{localize 'dc20rpg.sheet.skills.variableRoll'}}"
			data-mastery="{{skill.mastery}}" data-bonus="{{skill.bonus}}" data-expertise="{{skill.expertise}}"
			data-label="{{skill.label}} {{localize " dc20rpg.rollType.check"}}" data-type="skillCheck"></a>
		<a class="rollable fa-solid fa-dice-d20 fa-lg" title="{{localize 'dc20rpg.sheet.skills.roll'}}"
			data-roll="d20+@skills.{{key}}.modifier" data-label="{{skill.label}} {{localize " dc20rpg.rollType.check"}}"
			data-type="skillCheck"></a>
		{{#ifCond skill.custom '&&' @root.editMode}}
		<div class="letter-circle-icon small clickable remove" title="{{localize 'dc20rpg.sheet.skills.removeKnowledgeSkill'}}">
			<a class="remove-knowledge" data-key="{{key}}">X</a>
		</div>
		{{/ifCond}}
	</div>
	{{/ifCond}}
	{{/each}}
</div>

{{!-- Trade Skills --}}

{{!-- Languages --}}