<div class="statuses">
  <div class="status-header">
    {{localize 'dc20rpg.sheet.effects.conditions'}}
  </div>

  <div class="status-table grid grid-4col">
    {{#each statuses as |status key|}}
      <a class="status status-toggle journal-tooltip {{#if status.effectId}}editable-effect active{{/if}}" 
        {{#if status.effectId}}data-effect-id="{{status.effectId}}"{{/if}} data-status-id="{{status.id}}" title="{{localize 'dc20rpg.sheet.effects.conditionsTooltip'}}" 
        data-uuid="Compendium.world.lllkk.JournalEntry.LBnn2WSa6BDhL8Q2.JournalEntryPage.GSDxFLWbJrJbQUyR" data-header="{{status.id}}"
      >
        <div class="status-img"><img src="{{status.icon}}"/></div>
        <div class="status-name">{{status.name}}</div>
      </a>
    {{/each}}
  </div>
</div>
{{!--  --}}