<form class="{{cssClass}} {{actor.type}}  actor_v2" autocomplete="off">
  <div class="char-sheet-details {{#if expandedSidebar}}expand{{/if}}">
    <a class="sidetab-button {{#if expandedSidebar}}fa-square-caret-right{{else}}fa-square-caret-left{{/if}} fa-duotone fa-swap-opacity fa-2x"></a>
    <div class="sidetab-content">
      <div class="border-box">
        <div class="box-inner no-padding">
          <div class="characer-img">
            {{!-- Exhaustion --}}
            <div class="image-addon exhaustion" title="{{localize 'dc20rpg.sheet.exhaustion'}}">
              <div class="exhaustion-toggle" data-path="system.exhaustion">
                <a class="exhaustion-levels"><i class="fa-square fa-lg {{#ifCond system.exhaustion '>=' 1}}fa-solid{{else}}fa-regular{{/ifCond}}"></i></a>
                <a class="exhaustion-levels"><i class="fa-square fa-lg {{#ifCond system.exhaustion '>=' 2}}fa-solid{{else}}fa-regular{{/ifCond}}"></i></a>
                <a class="exhaustion-levels"><i class="fa-square fa-lg {{#ifCond system.exhaustion '>=' 3}}fa-solid{{else}}fa-regular{{/ifCond}}"></i></a>
                <a class="exhaustion-levels"><i class="fa-square fa-lg {{#ifCond system.exhaustion '>=' 4}}fa-solid{{else}}fa-regular{{/ifCond}}"></i></a>
                <a class="exhaustion-levels"><i class="fa-square fa-lg {{#ifCond system.exhaustion '>=' 5}}fa-solid{{else}}fa-regular{{/ifCond}}"></i></a>
                <a class="exhaustion-levels">
                  {{#ifCond system.exhaustion '>=' 6}}
                  <i class="fa-skull fa-lg fa-solid big-skull" style="color: #a30f0a;"></i>
                  {{else}}
                  <i class="fa-skull fa-lg fa-regular big-skull"></i>
                  {{/ifCond}}
                </a>
              </div>
            </div>

            {{!-- Image --}}
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>

            {{!-- Doomed --}}
            <div class="image-addon doomed">
              <div class="deaths-door {{#if system.death.active}}active{{/if}}">
                <div class="treshold">
                  <div class="skull-wrapper toggle-actor-numeric" data-path="system.death.doomed" title="{{localize 'dc20rpg.sheet.doomed'}}">
                    <div class="doomed"><a class="fa-solid fa-skull fa-lg"></a></div>
                    <span class="doomed-value">{{system.death.doomed}}</span>
                  </div> 
                  <div class="treshold-value" title="{{localize 'dc20rpg.sheet.deathTreshold'}}"><input disabled type="text" value="{{system.death.treshold}}" data-dtype="Number"></div>
                  {{#if system.death.stable}}
                    <a class="stable-wrapper activable" title="{{localize 'dc20rpg.sheet.stable'}}" data-path="system.death.stable"><i class="fa-solid fa-heart fa-lg"></i></a>
                  {{else}}
                    <a class="stable-wrapper activable" title="{{localize 'dc20rpg.sheet.unstable'}}" data-path="system.death.stable"><i class="fa-solid fa-heart-crack fa-lg"></i></a>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="border-box margin-top-10 margin-5">
        <div class="box-inner">
          <div class="character-details"> 
            {{!-- Defences --}}
            <div class="defences grid">
              <div class="defence physical" title="{{localize 'dc20rpg.sheet.physicalDefence'}}">
                <div class="big-icon value value-physical">
                  <input class="change-actor-numeric-value" {{#ifCond system.defences.physical.formulaKey '!==' "flat"}} disabled {{/ifCond}} 
                    type="text" value="{{system.defences.physical.value}}" data-path="system.defences.physical.normal" data-dtype="Number"/>
                </div>
                <div class="dmg-treshold" title="{{localize 'dc20rpg.sheet.heavy'}}">
                  <span>{{system.defences.physical.heavy}}</span>
                </div>
                <div class="dmg-treshold" title="{{localize 'dc20rpg.sheet.brutal'}}">
                  <span>{{system.defences.physical.brutal}}</span>
                </div>
                <div class="dmg-reduction" title="{{localize 'dc20rpg.sheet.damageReduction'}}">
                  <span>{{system.damageReduction.pdr.number}}</span>
                </div>
              </div>
              <div class="defence mental" title="{{localize 'dc20rpg.sheet.mentalDefence'}}">
                <div class="big-icon value value-mental">
                  <input class="change-actor-numeric-value" {{#ifCond system.defences.mental.formulaKey '!==' "flat"}} disabled {{/ifCond}} 
                    type="text" value="{{system.defences.mental.value}}" data-path="system.defences.mental.normal" data-dtype="Number"/>
                </div>
                <div class="dmg-treshold" title="{{localize 'dc20rpg.sheet.heavy'}}">
                  <span>{{system.defences.mental.heavy}}</span>
                </div>
                <div class="dmg-treshold" title="{{localize 'dc20rpg.sheet.brutal'}}">
                  <span>{{system.defences.mental.brutal}}</span>
                </div>
                <div class="dmg-reduction" title="{{localize 'dc20rpg.sheet.damageReduction'}}">
                  <span>{{system.damageReduction.mdr.number}}</span>
                </div>
              </div>
              <div class="defence-icons">
                <img class="def-icon" src="systems/dc20rpg/images/sheet/details/heavy_hit.svg" title="{{localize 'dc20rpg.sheet.heavy'}}"/>
                <img class="def-icon" src="systems/dc20rpg/images/sheet/details/brutal_hit.svg" title="{{localize 'dc20rpg.sheet.brutal'}}"/>
                <img class="def-icon" src="systems/dc20rpg/images/sheet/details/damage_reduction.svg" title="{{localize 'dc20rpg.sheet.damageReduction'}}"/>
              </div>
            </div>

            {{!-- Movements --}}
            <div class="movements">
              
            </div>
          </div>

        </div>
      </div>


      <div class="character-items">

      </div>
    </div>
  </div>
  
  <header class="char-sheet-header">
    {{PARTIAL "Character Header"}}
  </header>

  <section class="char-sheet-body">

  </section>
</form>