<form class="{{cssClass}} {{actor.type}}  actor_v2" autocomplete="off">
  <div class="char-sheet-details {{#if expandedSidebar}}expand{{/if}}">
    <a class="sidetab-button {{#if expandedSidebar}}fa-square-caret-right{{else}}fa-square-caret-left{{/if}} fa-duotone fa-swap-opacity fa-2x"></a>
    {{PARTIAL "Character Sidebar"}}
  </div>
  
  <header class="char-sheet-header">
    {{PARTIAL "Character Header"}}
  </header>

  <section class="char-sheet-body">
    <span>
      start <br>
      adasdas <br>
      adasdas <br>
      adasdas <br>
      v
      adasdas <br>
      adasdas <br>

      adasdas <br>
      adasdas <br>
      adasdas <br>adasdas <br>
      adasdas <br>
      adasdas <br>
      adasdas <br>
      adasdas <br>adasdas <br>
      adasdas <br>
      adasdas <br>adasdas <br>adasdas <br>

      adasdas <br>adasdas <br>
      adasdas <br>adasdas <br>
      adasdas <br>
      adasdas <br>
      adasdas <br>

      adasdas <br>adasdas <br>
      adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>
      adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>
      adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>
      adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>
      adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>
      adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>
      adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>adasdas <br>
    </span>
  </section>
</form>