<div class="custom-resources gird grid-6col">
  
  {{!-- Items As Resources --}}
  {{#each itemsAsResources as |resource id|}}
  <div class="resource item-resource editable" data-item-id="{{id}}" title="Item Resource">
    <div class="resource-name">
      <img src="{{resource.img}}"/>
      <input disabled type="text" value="{{resource.name}}"/>
    </div>
    <div class="resource-charges">
      <div class="input-container">
        <input class="update-charges" type="text" value="{{resource.value}}" data-dtype="Number" data-item-id="{{id}}"/>
        <span class="separator">/</span>
        <input disabled type="text" value="{{resource.max}}"/>
      </div>
    </div>
  </div>
  {{/each}}

  {{!-- Custom Resources --}}
  {{#each system.resources.custom as |resource key|}}
  <div class="resource">
    <div class="resource-name"  title="Custom Resource">
      <img class="resource-icon" src="{{resource.img}}" data-edit="img" data-key="{{key}}"/>
      <input type="text" name="system.resources.custom.{{key}}.name" value="{{resource.name}}"/>
    </div>
    <div class="resource-charges">
      <div class="input-container">
        <input type="text" name="system.resources.custom.{{key}}.value" value="{{resource.value}}" data-dtype="Number"/>
        <span class="separator">/</span>
        <input type="text" name="system.resources.custom.{{key}}.max" value="{{resource.max}}" data-dtype="Number"/>
      </div>
    </div>
  </div>
  {{/each}}

  {{!-- Add New Custom Resource --}}
  <div class="resource">
    <div class="resource-name"  title="Add New Resource">
      <input class="add-resource" type="text" value="" placeholder="New Resource"/>
    </div>
    <div class="resource-charges">
      <div class="input-container">
        <input disabled type="text" value=""/>
        <span class="separator">/</span>
        <input disabled type="text" value=""/>
      </div>
    </div>
  </div>
</div>