<div class="tab techniques-tab item-tab" data-group="primary" data-tab="techniques">

  {{!-- Table for each tableName --}}
  <div class="item-list table-name">
    {{!-- Header --}}
    <div class="item-header" data-item-attack="true">
      <div></div>
      <div class="column column-name" data-table-name="Attacks">Attacks</div>
      <div class="column column-cost" title="Basic Resources">Resources</div>
      <div class="column column-other-item" title="Extra Resources">Item Usage</div>
      <div class="column column-charges fa-solid fa-bolt" title="Charges"></div>
      <div class="column column-config"></div>
    </div>
    {{!-- Row --}}
    {{#each attacks as |item key|}}
    <div class="expandable-row">
      <div class="item item-row editable" data-item-id="{{item._id}}" data-item-attack="true">
        {{PARTIAL "Actor Item Details"}}
        {{PARTIAL "Actor Item Resources"}}
        {{PARTIAL "Actor Item Item Usage"}}
        {{PARTIAL "Actor Item Charges"}}
        <div class="row-column row-config">
          <div class="config">
            {{#if system.showAsAttack}}
              <a class="item-activable fa-solid fa-gavel" title="Stop showing as attack" data-item-id="{{_id}}" data-path="system.showAsAttack"></a>
            {{else}}
              <a class="item-activable fa-regular fa-gavel" title="Show as attack" data-item-id="{{_id}}" data-path="system.showAsAttack"></a>
            {{/if}}
          </div>
        </div>
      </div>
      {{PARTIAL "Actor Item Roll"}}
    </div>
    {{/each}}
  </div>
</div>
