<div class="tab core-tab" data-group="primary" data-tab="core">
  <div class="grid grid-10col grid-no-margin">
    {{!-- Left column --}}
    <div class="grid-span-4">
        {{PARTIAL "Skills"}}
    </div>

    {{!-- Right column --}}
    <div class="grid-span-6">
      {{PARTIAL "Roll Menu"}}
      <div class="table-container">
        {{PARTIAL "Masteries"}}
        {{PARTIAL "Condition Immunities"}}   
      </div>
      {{PARTIAL "Damage Reduction"}}
      {{PARTIAL "Vision"}}
    </div>
  </div>
</div>