<div class="grid grid-5col">

  {{!-- Left column: skills and knowledge skills --}}
  <div class="skill-column grid-span-2">
    <div class="skills">

      <div class="skill-separator">Skills</div>
      {{!-- Awereness --}}
      <div class="skill">
        <a data-key="awareness" title="{{capitalize system.awareness.skillMastery}}" class="skill-mastery-toggle
          {{#ifCond system.awareness.skillMastery '==' ''}}fa-regular fa-circle{{/ifCond}}
          {{#ifCond system.awareness.skillMastery '==' 'novice'}}fa-regular fa-circle-half-stroke{{/ifCond}}
          {{#ifCond system.awareness.skillMastery '==' 'trained'}}fa-solid fa-circle{{/ifCond}}
          {{#ifCond system.awareness.skillMastery '==' 'expert'}}fa-solid fa-circle-check{{/ifCond}}
          {{#ifCond system.awareness.skillMastery '==' 'master'}}fa-solid fa-circle-up{{/ifCond}}
          {{#ifCond system.awareness.skillMastery '==' 'grandmaster'}}fa-solid fa-certificate{{/ifCond}}
        "></a>
        <label for="system.awareness.value" 
              title="Roll Check"
              class="resource-label rollable flexlarge align-left"
              data-roll="d20+@system.awareness.value" 
              data-label="{{system.awareness.label}}[{{system.awareness.skillMastery}}] Check"
        > {{system.awareness.label}} (Prime)
        </label>
        <span class="skill-value"> {{numberFormat system.awareness.value decimals=0 sign=true}} </span>
        <a class="variable-roll fa-regular fa-dice"
          title="Variable Roll"
          data-mastery="{{system.awareness.skillMastery}}"
          data-label="{{system.awareness.label}}[{{system.awareness.skillMastery}}] Check"
        >
        </a>
        <a class="rollable fa-solid fa-dice-d20"
          title="Standard Roll"
          data-roll="d20+@system.awareness.value" 
          data-label="{{system.awareness.label}}[{{system.awareness.skillMastery}}] Check"
        >
        </a>
      </div>
      {{!-- Skills --}}
      {{#each system.skills as |skill key|}}
      <div class="skill {{#ifCond @index '%' 2 }} standard-gray-background {{/ifCond}}">
        <a data-key="{{key}}" title="{{capitalize skill.skillMastery}}" class="skill-mastery-toggle
          {{#ifCond skill.skillMastery '==' ''}}fa-regular fa-circle{{/ifCond}}
          {{#ifCond skill.skillMastery '==' 'novice'}}fa-regular fa-circle-half-stroke{{/ifCond}}
          {{#ifCond skill.skillMastery '==' 'trained'}}fa-solid fa-circle{{/ifCond}}
          {{#ifCond skill.skillMastery '==' 'expert'}}fa-solid fa-circle-check{{/ifCond}}
          {{#ifCond skill.skillMastery '==' 'master'}}fa-solid fa-circle-up{{/ifCond}}
          {{#ifCond skill.skillMastery '==' 'grandmaster'}}fa-solid fa-certificate{{/ifCond}}
        "></a>
        <label for="system.skills.{{key}}.value" 
              title="Roll Check"
              class="resource-label rollable flexlarge align-left"
              data-roll="d20+@skills.{{key}}.value" 
              data-label="{{skill.label}}[{{skill.skillMastery}}] Check"
        > {{skill.label}} ({{capitalize skill.baseAttribute}})
        </label>
        <span class="skill-value"> {{numberFormat skill.value decimals=0 sign=true}} </span>
        <a class="variable-roll fa-regular fa-dice"
          title="Variable Roll"
          data-mastery="{{skill.skillMastery}}"
          data-label="{{skill.label}}[{{skill.skillMastery}}] Check"
        >
        </a>
        <a class="rollable fa-solid fa-dice-d20"
          title="Standard Roll"
          data-roll="d20+@skills.{{key}}.value" 
          data-label="{{skill.label}}[{{skill.skillMastery}}] Check"
        >
        </a>
      </div>
      {{/each}}

      <div class="skill-separator">Knowledge Skills</div>
      {{!-- Knowledge Skills --}}
      {{#each system.skills.kno.knowledgeSkills as |skill key|}}
      <div class="skill {{#ifCond @index '%' 2 }} standard-gray-background {{/ifCond}} {{#if @last}} last-skill {{/if}}">
        <a data-key="{{key}}" title="{{capitalize skill.skillMastery}}" class="skill-mastery-toggle
          {{#ifCond skill.skillMastery '==' ''}}fa-regular fa-circle{{/ifCond}}
          {{#ifCond skill.skillMastery '==' 'novice'}}fa-regular fa-circle-half-stroke{{/ifCond}}
          {{#ifCond skill.skillMastery '==' 'trained'}}fa-solid fa-circle{{/ifCond}}
          {{#ifCond skill.skillMastery '==' 'expert'}}fa-solid fa-circle-check{{/ifCond}}
          {{#ifCond skill.skillMastery '==' 'master'}}fa-solid fa-circle-up{{/ifCond}}
          {{#ifCond skill.skillMastery '==' 'grandmaster'}}fa-solid fa-certificate{{/ifCond}}
        "></a>
        <label for="system.skills.kno.knowledgeSkills.{{key}}.value" 
              title="Roll Check"
              class="resource-label rollable flexlarge align-left"
              data-roll="d20+@skills.kno.knowledgeSkills.{{key}}.value" 
              data-label="{{skill.label}}[{{skill.skillMastery}}] Check"
        > {{skill.label}} ({{capitalize skill.baseAttribute}})
        </label>
        <span class="skill-value"> {{numberFormat skill.value decimals=0 sign=true}} </span>
        <a class="variable-roll fa-regular fa-dice"
          title="Variable Roll"
          data-mastery="{{skill.skillMastery}}"
          data-label="{{skill.label}}[{{skill.skillMastery}}] Check"
        >
        </a>
        <a class="rollable fa-solid fa-dice-d20"
          title="Standard Roll"
          data-roll="d20+@skills.kno.knowledgeSkills.{{key}}.value" 
          data-label="{{skill.label}}[{{skill.skillMastery}}] Check"
        >
        </a>
      </div>
      {{/each}}
    </div>
    



    {{!--
    <select name="system.skills.{{key}}.skillMastery">
      {{selectOptions @root.config.combatMastryLevels selected=skill.skillMastery blank=""}}
    </select>
    --}}

  
  </div>


</div>