{{!-- Left Header --}}
<div class="left-header">
  {{PARTIAL "Image"}}
</div>

{{!-- Right Header --}}
<div class="right-header">
  {{!-- Top Row --}}
  {{#ifCond type '===' "npc"}}
    {{PARTIAL "Npc Info"}}
  {{else}}
    {{PARTIAL "Character Info"}}
  {{/ifCond}}

  {{!-- Middle Row --}}
  {{PARTIAL "Attributes"}}

  {{!-- Bottom Row --}}
  <div class="bottom-row grid grid-24col">
    {{PARTIAL "Action Points"}}
    {{PARTIAL "Speed"}}
    {{PARTIAL "Defences"}}
    {{PARTIAL "Resistances"}}
  </div>
</div>