<div class="tab inventory-tab item-tab" data-group="primary" data-tab="inventory">
  {{!-- Table for each tableName --}}
  {{#each inventory as |tableItems key|}}
  <div class="item-list table-name {{key}}">
    {{!-- Header --}}
    <div class="item-header inventory-header" data-table-name={{key}}>
      <div class="column reordering-buttons">
        {{#ifCond tableItems.siblings.before '!==' undefined}}
        <a class="reorder fa-solid fa-angle-up" title="Move table up" data-tab="inventory" data-current="{{key}}" data-swapped="{{tableItems.siblings.before}}"></a>
        {{/ifCond}}
        {{#ifCond tableItems.siblings.after '!==' undefined}}
        <a class="reorder fa-solid fa-angle-down" title="Move table down" data-tab="inventory" data-current="{{key}}" data-swapped="{{tableItems.siblings.after}}"></a>
        {{/ifCond}}
      </div>
      <div class="column column-name">{{key}}</div>
      <div class="column column-cost" title="Basic Resources">Basic Resources</div>
      <div class="column column-other-item" title="Extra Resources">Extra Resources</div>
      <div class="column column-charges fa-solid fa-bolt" title="Charges"></div>
      <div class="column column-weight fa-solid fa-weight-hanging" title="Weight"></div>
      <div class="column column-quantity fa-solid fa-boxes-stacked" title="Quantity"></div>
      <div class="column column-config">
        <a class="item-create" title="Create item" data-tab="inventory"><i class="fas fa-plus"></i> Add</a>
      </div>
    </div>
    {{!-- Row --}}
    {{#each tableItems.items}}
    <div class="expandable-row">
      <div class="item item-row inventory-row {{#if system.statuses.equipped}} equipped {{/if}} {{#if system.statuses.attuned}} attuned {{/if}}" data-item-id="{{_id}}">
        {{PARTIAL "Actor Item Details"}}
        {{PARTIAL "Actor Item Basic Resources"}}
        {{PARTIAL "Actor Item Extra Resources"}}
        {{PARTIAL "Actor Item Charges"}}
        <div class="row-column row-weight" title="Weight">
          {{system.weight}}
        </div>
        <div class="row-column row-quantity" title="Quantity">
          <input class="change-numeric-value" type="text" value="{{system.quantity}}" data-item-id="{{_id}}" data-path="system.quantity">
        </div>
        <div class="row-column row-config">
          <div class="equipment">
            {{#if system.statuses.equipped}}
              <a class="item-activable fa-solid fa-suitcase-rolling" title="Unequip Item" data-item-id="{{_id}}" data-path="system.statuses.equipped"></a>
            {{else}}
              <a class="item-activable fa-regular fa-suitcase-rolling" title="Equip Item" data-item-id="{{_id}}" data-path="system.statuses.equipped"></a>
            {{/if}}
            {{#if system.properties.attunement.active}}
              {{#if system.statuses.attuned}}
                <a class="item-activable fa-solid fa-hat-wizard" title="Unattune Item" data-item-id="{{_id}}" data-path="system.statuses.attuned"></a>
              {{else}}
                <a class="item-activable fa-regular fa-hat-wizard" title="Attune Item" data-item-id="{{_id}}" data-path="system.statuses.attuned"></a>
              {{/if}}
            {{/if}}
          </div>
          {{PARTIAL "Actor Item Config"}}
        </div>
      </div>
      {{#if (arrayIncludes type arrayString="weapon equipment consumable")}}
      {{PARTIAL "Actor Item Roll"}}
      {{/if}}
    </div>
    {{/each}}
  </div>
  {{/each}}
</div>
