<div class="custom-resources gird grid-6col">
  
  {{!-- Items As Resources --}}
  {{#each itemsAsResources as |resource id|}}
  <div class="resource">
    <div class="resource-name">
      <img src="{{resource.img}}"/>
      <input disabled type="text" value="{{resource.name}}"/>
    </div>
    <div class="resource-charges">
      <div class="input-container">
        <input class="current update-charges" type="text" value="{{resource.current}}" data-dtype="Number" data-item-id="{{id}}"/>
        <span class="separator">/</span>
        <input disabled type="text" value="{{resource.max}}"/>
      </div>
    </div>
  </div>
  {{/each}}

{{!-- Custom Resources --}}
  {{!-- <div class="resource">
    <div class="name">
      <input name="add-resource" type="text" placeholder="New Resource"/>
    </div>
  </div> --}}

</div>




    {{!-- <div class="resource">
    <div class="name">
      <input {{#if isFromItem}} disabled {{/if}} class="res-name" type="text" value="{{resource.name}}" data-key="{{key}}"/>
    </div>
    <div class="charges">
      <div class="current">
        <input class="res-current" type="text" value="{{resource.current}}" data-key="{{key}}"/>
      </div>
      <span>/</span>
      <div class="max">
        <input {{#if isFromItem}} disabled {{/if}} type="res-max" value="{{resource.max}}" data-key="{{key}}"/>
      </div>
    </div>
  </div> --}}