<div class="tab features-tab item-tab" data-group="primary" data-tab="features">

  {{!-- Table for each tableName --}}
  {{#each features as |tableItems key|}}
  <div class="item-list table-name {{key}}" data-table-name="{{key}}">
    {{!-- Header --}}
    <div class="item-header">
      <div class="column reordering-buttons">
        {{#ifCond tableItems.siblings.before '!==' undefined}}
        <a class="reorder fa-solid fa-angle-up" title="Move table up" data-tab="features" data-current="{{key}}" data-swapped="{{tableItems.siblings.before}}"></a>
        {{/ifCond}}
        {{#ifCond tableItems.siblings.after '!==' undefined}}
        <a class="reorder fa-solid fa-angle-down" title="Move table down" data-tab="features" data-current="{{key}}" data-swapped="{{tableItems.siblings.after}}"></a>
        {{/ifCond}}
      </div>
      <div class="column column-name">{{key}}</div>
      <div class="column column-cost" title="Basic Resources">Resources</div>
      <div class="column column-other-item" title="Extra Resources">Item Usage</div>
      <div class="column column-charges fa-solid fa-bolt" title="Charges"></div>
      <div class="column column-config">
        <a class="item-create" title="Create item" data-tab="features"><i class="fas fa-plus"></i> Add</a>
      </div>
    </div>
    {{!-- Row --}}
    {{#each tableItems.items as |item key|}}
    <div class="expandable-row">
      <div class="item item-row editable" data-item-id="{{item._id}}">
        {{PARTIAL "Actor Item Details"}}
        {{PARTIAL "Actor Item Resources"}}
        {{PARTIAL "Actor Item Item Usage"}}
        {{PARTIAL "Actor Item Charges"}}
        <div class="row-column row-config">
          {{PARTIAL "Actor Item Config"}}
        </div>
      </div>
      {{PARTIAL "Actor Item Roll"}}
    </div>
    {{/each}}
  </div>
  {{/each}}
</div>
