{{#each effects as |section|}}
<div class="effects-table">
  {{!-- Header --}}
  <div class="effect-header">
    <div class="column column-name">{{section.label}}</div>
    <div class="column">Origin</div>
    <div class="column">Duration</div>
    <div class="column column-config">
      <a class="effect-create" data-type={{section.type}} title="Create Effect"><i class="fas fa-plus"></i> Add</a>
    </div>
  </div>

  {{!-- Row --}}
  {{#each section.effects as |effect|}}
  <div class="effect-row editable-effect" data-effect-id="{{effect._id}}">
    <div class="row-column row-details">
      <div class="effect-img">
        <img src="{{effect.img}}"/>
      </div>
      <div class="effect-name">{{effect.name}}</div>
    </div>
    <div class="row-column">{{effect.orignName}}</div>
    <div class="row-column">{{effect.duration.label}}</div>
    {{!-- Config Row --}}
    <div class="row-column row-config">
      <div class="config">
        <a class="effect-toggle" data-effect-id="{{effect._id}}" title="{{localize 'DC20RPG.EffectToggle'}}">
          <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
        </a>
        <a class="effect-edit" data-effect-id="{{effect._id}}" title="{{localize 'DC20RPG.EffectEdit'}}">
          <i class="fas fa-edit"></i>
        </a>
        <a class="effect-delete" data-effect-id="{{effect._id}}" title="{{localize 'DC20RPG.EffectDelete'}}">
          <i class="fas fa-trash"></i>
        </a>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{/each}}