<form class="{{cssClass}} {{actor.type}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    {{> "systems/dc20rpg/templates/actor/parts/actor-header.hbs"}}
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="skills">{{localize 'DC20RPG.NavigationSkills'}}</a>
    <a class="item" data-tab="items">{{localize 'DC20RPG.NavigationItems'}}</a>
    <a class="item" data-tab="features">{{localize 'DC20RPG.NavigationFeatures'}}</a>
    <a class="item" data-tab="spells">{{localize 'DC20RPG.NavigationSpells'}}</a>
    <a class="item" data-tab="effects">{{localize 'DC20RPG.NavigationEffects'}}</a>
    <a class="item" data-tab="journal">{{localize 'DC20RPG.NavigationJournal'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Skills Tab --}}
    <div class="tab skills-tab" data-group="primary" data-tab="skills">
      {{> "systems/dc20rpg/templates/actor/parts/actor-skills.hbs"}}
    </div>

    {{!-- Owned Features Tab --}}
    <div class="tab features-tab" data-group="primary" data-tab="features">
      {{> "systems/dc20rpg/templates/actor/parts/actor-features.hbs"}}
    </div>

    {{!-- Journal Tab --}}
    <div class="tab journal-tab" data-group="primary" data-tab="journal">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.journal target="system.journal" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items-tab" data-group="primary" data-tab="items">
       {{> "systems/dc20rpg/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells-tab" data-group="primary" data-tab="spells">
      {{> "systems/dc20rpg/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects-tab flexcol" data-group="primary" data-tab="effects">
      {{> "systems/dc20rpg/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>

