<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header flexcol">
    {{PARTIAL "Actor Header"}}
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs flexcol" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="core">{{localize 'DC20RPG.NavigationCore'}}</a>
    <a class="item" data-tab="actions">{{localize 'DC20RPG.NavigationActions'}}</a>
    <a class="item" data-tab="effects">{{localize 'DC20RPG.NavigationEffects'}}</a>
    <a class="item" data-tab="journal">{{localize 'DC20RPG.NavigationJournal'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body flexcol">
    {{PARTIAL "Actor Resources"}}
    {{PARTIAL "Core"}}
    {{PARTIAL "Actor Actions"}}

    {{!-- Effects Tab --}}
    <div class="tab effects-tab" data-group="primary" data-tab="effects">
      {{PARTIAL "Effects Tables"}}
    </div>

    {{!-- Journal Tab --}}
    <div class="tab journal-tab" data-group="primary" data-tab="journal">
      <div class="description-box">
        {{editor enriched.journal target="system.journal" button=true editable=editable engine="prosemirror"}}
      </div>
    </div>

    {{PARTIAL "Actor Item Tooltip"}}
  </section>
</form>

