{{#ifCond checkDetails.actionType '===' "contest"}}
<div class="roll-title">{{checkDetails.contestedLabel}}</div>
<div class="card-buttons">
  <button class="roll-check" data-key={{check.contestedKey}}>
    Roll {{checkDetails.contestedLabel}}  
  </button>
</div>
{{else}}
<div class="roll-title">Check DC</div>
  <div class="dice-roll">
    <div class="dice-result">
      <h4 class="dice-total">{{checkDetails.checkDC}}</h4>
    </div>
  </div>
{{/ifCond}}