{{#each rolls}}
<div class="{{#if coreFormula}}core-roll{{else}}formula-roll{{/if}} {{#if winner}}winner{{/if}}">
  <div class="roll-title">{{this.label}}</div>
  <div class="dice-roll">
    <div class="dice-result">
      <div class="dice-formula">
        {{this._formula}}
      </div>
      <div class="dice-tooltip"> {{! <= expanded goes here}}
        <section class="tooltip-part">
          {{#each terms}}
          {{#if faces}}
          <div class="dice">
            <header class="part-header" style="grid-template-columns: 40px 1fr 20px 40px; margin-bottom: 5px; font-size: 14px;">
              <span class="part-formula" style="margin: auto 5px auto 0;">{{number}}d{{faces}}:</span>
              <ol class="dice-rolls">
                {{{printDices results faces}}}
              </ol>
              <span style="margin: auto 2px auto 5px; font-weight: bold;">=</span>
              <span class="part-total" 
                    style="margin: auto 0; display: inline-flex; justify-content: center; border: 1px solid var(--color-text-light-6); border-radius: 3px"
                    >{{sumDices results}}</span>
            </header>
          </div>
          {{/if}}
          {{/each}}
        </section>
      </div>
      <h4 class="dice-total {{#if crit}}crit{{/if}} {{#if fail}}fail{{/if}}">{{this._total}} {{this.typeLabel}}</h4>
      {{#unless coreFormula}}
      <div class="roll-button-wrapper">
        <button class="rollable ra ra-lg ra-health-increase" title="Apply +1 Healing" 
                data-type="heal" data-heal="1" data-heal-type="heal"></button>
        {{#ifCond category '===' "healing"}} 
        <button class="rollable ra ra-lg ra-two-hearts" title="Apply Healing" 
                data-type="heal" data-heal="{{this._total}}" data-heal-type="{{this.type}}"></button>
        {{else}}
        <button class="rollable ra ra-lg ra-dripping-sword" title="Apply True Damage" 
                data-type="dmg" data-dmg="{{this._total}}" data-dmg-type="true"></button>
        <button class="rollable ra ra-lg ra-sword" title="Apply Damage" 
                data-type="dmg" data-dmg="{{this._total}}" data-dmg-type="{{this.type}}"></button>
        <button class="rollable ra ra-lg ra-shield" title="Apply Damage with Armor Damage Reduction" 
                data-type="dmgDR" data-dmg="{{this._total}}" data-dmg-type="{{this.type}}"></button>
        {{/ifCond}}
        <button class="rollable ra ra-lg ra-health-decrease" title="Apply +1 True Damage" 
                data-type="dmg" data-dmg="1" data-dmg-type="true"></button>
      </div>
      {{/unless}}
    </div>
  </div>
</div>
{{/each}}