<div class="roll-title">{{save.label}}</div>
<div class="card-buttons">
  <button class="roll-save" data-save={{save.type}} data-dc={{save.dc}}>
    {{save.label}} vs DC
    <span style="display:inline;line-height:inherit">{{save.dc}}</span>     
  </button>
</div>
{{#if save.fail}}
<div class="specific-description">
  <span><b>On Fail:</b> {{save.fail}}</span>
</div>
{{/if}}
{{#if save.success}}
<div class="specific-description">
  <span><b>On Success:</b> {{save.success}}</span>
</div>
{{/if}}