<div class="roll-title">{{saveLabel}}</div>
<div class="card-buttons">
  <button class="roll-save" data-save={{save.type}} data-dc={{save.dc}}>
    {{saveLabel}} vs DC
    <span style="display:inline;line-height:inherit">{{save.dc}}</span>     
  </button>
</div>
{{#if outcome.fail}}
<div class="specific-description">
  <span><b>On Fail:</b> {{outcome.fail}}</span>
</div>
{{/if}}
{{#if outcome.success}}
<div class="specific-description">
  <span><b>On Success:</b> {{outcome.success}}</span>
</div>
{{/if}}