{{#if saveDetails.type}}
<div class="roll-title">{{saveDetails.label}}</div>
<div class="card-buttons">
  <button class="roll-save" data-key={{saveDetails.type}} data-dc={{saveDetails.dc}}>
    {{saveDetails.label}} vs DC
    <span style="display:inline;line-height:inherit">{{saveDetails.dc}}</span>     
  </button>
</div>
{{/if}}