<div class="description-column">
  <div class="text-box flavor-text">
    <label>Flavor Text</label>
    {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
    {{editor system.flavorText target="system.flavorText" rollData=rollData button=true owner=owner editable=editable class="min-h"}}
  </div>
  <div class="text-box description-text">
    <label>Description</label>
    {{#if system.statuses}}
      {{#if system.statuses.identified}} 
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
      {{else}}
      <span class="unidentified"><br>UNIDENTIFIED</span>
      {{/if}}
    {{else}}
    {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    {{/if}}
  </div>
  {{#if (notEmptyString system.outcome.success)}}
  <div class="extra-description">
    <label>On Success Save:&nbsp</label>
    <span>{{system.outcome.success}}</span>
  </div>
  {{/if}}
  {{#if (notEmptyString system.outcome.fail)}}
  <div class="extra-description">
    <label>On Failed Save:&nbsp</label>
    <span>{{system.outcome.fail}}</span>
  </div>
  {{/if}}
  {{#if (notEmptyString system.outcome.heavy)}}
  <div class="extra-description">
    <label>On Heavy Hit:&nbsp</label>
    <span>{{system.outcome.heavy}}</span>
  </div>
  {{/if}}
  {{#if (notEmptyString system.outcome.brutal)}}
  <div class="extra-description">
    <label>On Brutal Hit:&nbsp</label>
    <span>{{system.outcome.brutal}}</span>
  </div>
  {{/if}}
</div>