<div class="tab advanced-tab content" data-group="primary" data-tab="advanced">

  <nav class="advanced-tabs tabs" data-group="advanced">
    <a class="item" data-tab="adv-core"><span>{{localize 'dc20rpg.item.sheet.adv-core.tab'}}</span></a>
    <a class="item" data-tab="enhancement"><span>{{localize 'dc20rpg.item.sheet.enhancement.tab'}}</span></a>
    <a class="item" data-tab="conditional"><span>{{localize 'dc20rpg.item.sheet.conditional.tab'}}</span></a>
  </nav>

  <div class="advanced-content">
    {{PARTIAL "Advancement Core"}}
    {{PARTIAL "Enhancements"}}
    {{PARTIAL "Conditional"}}
  </div>
</div>



