<div class="sub-header margin-top-5">
  <span>{{localize "dc20rpg.item.sheet.basicConfig.title"}}</span>
</div>
<div class="content-wrapper">
  <div class="row">
    <span>{{localize "dc20rpg.item.sheet.config.isReaction"}}</span>
    <a class="fa-lg activable {{#if system.isReaction}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.isReaction"></a>
  </div>
  <div class="row margin-top-5">
    <span>{{localize "dc20rpg.item.sheet.config.quickRoll"}}</span>
    <a class="fa-lg activable {{#if system.quickRoll}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.quickRoll"></a>
  </div>
  <div class="row margin-top-5" title="{{localize "dc20rpg.item.sheet.config.toggleableTitle"}}">
    <span>{{localize "dc20rpg.item.sheet.config.toggleable"}}</span>
    <a class="fa-lg activable {{#if system.toggle.toggleable}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.toggle.toggleable"></a>
  </div>
  <div class="row margin-top-5" title="{{localize "dc20rpg.item.sheet.config.toggleOnRollTitle"}}">
    <span>{{localize "dc20rpg.item.sheet.config.toggleOnRoll"}}</span>
    <a class="fa-lg activable {{#if system.toggle.toggleOnRoll}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.toggle.toggleOnRoll"></a>
  </div>
  <div class="row margin-top-5">
    <span>{{localize "dc20rpg.item.sheet.config.hideFromCompendiumBrowser"}}</span>
    <a class="fa-lg activable {{#if system.hideFromCompendiumBrowser}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.hideFromCompendiumBrowser"></a>
  </div>
  <div class="row margin-top-5">
    <span>{{localize "dc20rpg.item.sheet.config.choicePointCost"}}</span>
    <input type="text" name="system.choicePointCost" value="{{system.choicePointCost}}" placeholder="-" data-dtype="Number">
  </div>
  <div class="row margin-top-5" title="{{localize "dc20rpg.item.sheet.config.itemKeyTitle"}}">
    <span>{{localize "dc20rpg.item.sheet.config.itemKey"}}</span>
    <input type="text" name="system.itemKey" value="{{system.itemKey}}" placeholder="-">
  </div>
</div>