<div class="item-img">
  <img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
  <div class="cost-wrapper">
    {{{cost-printer useCost true true false true}}}
  </div>
</div>

<div class="header-content">
  <div class="item-details">
    <input class="item-name" name="name" type="text" value="{{item.name}}" title="{{localize 'dc20rpg.item.sheet.name'}}" placeholder="{{localize 'dc20rpg.item.sheet.name'}}"/>
    {{{item-label sheetData}}}
  </div>
  <div class="item-roll">
    {{{item-roll-details item sheetData}}}
  </div>
  <div class="item-properties margin-top-3">
    {{{item-properties item}}}
  </div>
</div>