<div class="properties">
  <div class="grid grid-4col grid-gap-5 margin-top-3">
    {{#each system.properties as |property key|}}
      <a class="activable-box journal-tooltip {{#ifCond key '===' 'multiFaceted'}}disabled{{else}}activable{{/ifCond}} {{#if property.active}} active {{/if}}"
            data-header="{{property.label}}" data-uuid="{{property.journalUuid}}"
            data-path="system.properties.{{key}}.active"
            {{#ifCond key '===' 'multiFaceted'}} title="{{localize "dc20rpg.item.sheet.config.editableOnlyOnCreator"}}" {{/ifCond}}
      >{{property.label}}
      </a>
    {{/each}}
  </div>

  {{!-- {{#if system.properties.reload.active}}
  <div class="row margin-top-5">
    <span>{{localize "dc20rpg.item.sheet.config.reload"}}</span>
    <input type="text" name="system.properties.reload.value" value="{{system.properties.reload.value}}" data-dtype="Number" placeholder="-">
  </div>
  {{/if}} --}}

  {{#if system.properties.reach.active}}
  <div class="row margin-top-5">
    <span>{{localize "dc20rpg.item.sheet.config.reach"}}</span>
    <input type="text" name="system.properties.reach.value" value="{{system.properties.reach.value}}" data-dtype="Number" placeholder="-">
  </div>
  {{/if}}

  {{#if system.properties.requirement.active}}
  <div class="row margin-top-5">
    <span>{{localize "dc20rpg.item.sheet.config.requirement"}}</span>
    <input type="text" name="system.properties.requirement.value" value="{{system.properties.requirement.value}}" placeholder="-">
  </div>
  {{/if}}
</div>