<form id="actor-request" class="dialog-v13 dialog-content standard-form {{cssClass}}">
  <h4 class="divider">{{#if requestSent}}{{requestSent}}{{else}}{{localize "dc20rpg.dialog.actorRequest.selectActors"}}{{/if}}</h4>
  
  {{!-- Actor Select --}}
  {{#if hasActors}}
  <div class="box-content">
    {{#each selectableActors as |wrapper actorId|}}
      <div class="actor">
        <div class="wrapper">
          <img src="{{wrapper.actor.img}}"/>
          <input disabled value="{{wrapper.actor.name}}"/>
        </div>
        {{#if wrapper.request}}
          {{#ifCond wrapper.result '!==' null}}
          <span class="roll-result {{wrapper.outcome}}" data-tooltip="{{localize "dc20rpg.dialog.actorRequest.rollResult"}}">{{wrapper.result}}</span>
          {{else}}
          <i class="fa-regular fa-dice-d20 fa-lg dice-roll" data-tooltip="{{localize "dc20rpg.dialog.actorRequest.awaitingResult"}}"></i>
          {{/ifCond}}
        {{else}}
        {{{checkbox "selectableActors.${actorId}.selected" wrapper.selected checked="fa-2x fa-solid fa-square-check" unchecked="fa-2x fa-regular fa-square" actorId=actorId}}}
        {{/if}}
      </div>
    {{/each}}
  </div>
  {{else}}
  <div class="box-content">
    <div class="actor">
      <div class="wrapper">
        <span>{{localize "dc20rpg.dialog.actorRequest.noPlayer"}}</span>
      </div>
    </div>
  </div>
  {{/if}}
  </div>

  {{#if showRollModification}}
  <fieldset>
    <legend>{{localize "dc20rpg.dialog.actorRequest.rollModification"}}</legend>
    
    <div class="form-group">
      <label>{{localize 'dc20rpg.dialog.actorRequest.rollLevel'}}</label>
      <div class="form-fields">
        <label>{{localize "dc20rpg.dialog.actorRequest.advantage"}}</label>
        <input type="number" data-path="rollOptions.rollLevel.adv" value="{{rollOptions.rollLevel.adv}}" data-max="9" data-cType="numeric"/>
        <label>{{localize "dc20rpg.dialog.actorRequest.disadvantage"}}</label>
        <input type="number" data-path="rollOptions.rollLevel.dis" value="{{rollOptions.rollLevel.dis}}" data-max="9" data-cType="numeric"/>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize 'dc20rpg.dialog.actorRequest.rollDC'}}</label>
      <input type="number" data-path="rollOptions.rollDC" value="{{rollOptions.rollDC}}" data-cType="numeric-nullable"/>
    </div>

    <div class="form-group">
      <label>{{localize 'dc20rpg.dialog.actorRequest.rollMode'}}</label>
      <select data-cType="string" data-path="rollOptions.rollMode">
        {{selectOptions rollModes selected=rollOptions.rollMode blank=""}}
      </select>
    </div>
  </fieldset>
  {{/if}}

  {{#unless showCloseButton}}
  <h4 class="divider">{{header}}</h4>
  {{!-- Select Roll --}}
  <div class="select-wrapper" style="grid-template-columns: {{grid}}">
    {{#if showBasic}}
    <div class="select-column scrollable">
      {{!-- Rest --}}
      {{#if selectOptions.rest}}
      <fieldset>
        <legend>{{localize "dc20rpg.dialog.rollSelect.rest"}}</legend>
        {{#each selectOptions.rest as |name key|}}
        <button class="option" data-action="confirm" data-key="{{key}}" data-type="rest">{{name}}</button>
        {{/each}}
      </fieldset>
      {{/if}}

      {{!-- Basic --}}
      {{#if selectOptions.basic}}
      <fieldset>
        <legend>{{localize "dc20rpg.dialog.rollSelect.basic"}}</legend>
        {{#each selectOptions.basic as |name key|}}
        <button class="option" data-action="confirm" data-key="{{key}}" data-type="check">{{name}}</button>
        {{/each}}
      </fieldset>
      {{/if}}

      {{!-- Save --}}
      {{#if selectOptions.save}}
      <fieldset>
        <legend>{{localize "dc20rpg.dialog.rollSelect.save"}}</legend>
        {{#each selectOptions.save as |name key|}}
        <button class="option" data-action="confirm" data-key="{{key}}" data-type="save">{{name}}</button>
        {{/each}}
      </fieldset>
      {{/if}}

      {{!-- Attribute Check --}}
      {{#if selectOptions.attribute}}
      <fieldset>
        <legend>{{localize "dc20rpg.dialog.rollSelect.attribute"}}</legend>
        {{#each selectOptions.attribute as |name key|}}
        <button class="option" data-action="confirm" data-key="{{key}}" data-type="check">{{name}}</button>
        {{/each}}
      </fieldset>
      {{/if}}
    </div>
    {{/if}}

    {{!-- Skills --}}
    {{#if showSkill}}
    <div class="select-column scrollable">
      
      {{!-- Skill Check --}}
      {{#if selectOptions.skill}}
      <fieldset>
        <legend>{{localize "dc20rpg.dialog.rollSelect.skill"}}</legend>
        {{#each selectOptions.skill as |name key|}}
        <button class="option" data-action="confirm" data-key="{{key}}" data-type="check">{{name}}</button>
        {{/each}}
      </fieldset>
      {{/if}}

      {{!-- Trade Check --}}
      {{#if selectOptions.trade}}
      <fieldset>
        <legend>{{localize "dc20rpg.dialog.rollSelect.trade"}}</legend>
        {{#each selectOptions.trade as |name key|}}
        <button class="option" data-action="confirm" data-key="{{key}}" data-type="check">{{name}}</button>
        {{/each}}
      </fieldset>
      {{/if}}

    </div>
    {{/if}}
  </div>
  {{/unless}}

  {{#if showCloseButton}}
  <button class="button margin-top-5" data-action="close"><i class="fa-solid"></i>{{localize "dc20rpg.dialog.actorRequest.close"}}</button>
  {{/if}}
</form>