<div class="chat_v2">
  <div class="info-section">
    <div class="header {{#if source}}expand-row{{/if}} {{messageType}}">
      <div class="name-wrapper">
        <img src="{{image}}"/>
        <div class="name">  
          {{#ifCond messageType "===" 'damage'}}
          {{repleaceLocalize "dc20rpg.chat.damage" amount}}
          {{/ifCond}}
          {{#ifCond messageType "===" 'temporary'}}
          {{repleaceLocalize "dc20rpg.chat.temporary" amount}}
          {{/ifCond}}
          {{#ifCond messageType "===" 'healing'}}
          {{repleaceLocalize "dc20rpg.chat.heal" amount}}
          {{/ifCond}}
        </div>
      </div>
      {{#if userIsGM}}
      <a class="revert-button" title="{{localize "dc20rpg.chat.revet"}}">
        <i class="fa-lg fa-solid fa-backward"></i>
      </a>
      {{/if}}
    </div>
    {{#if source}}
    <div class="expandable-row">
      <div class="description">
        {{{source}}}
      </div>
    </div>
    {{/if}}
  </div>
</div>