<div class="chat-roll-card" style="display: block;">
  <header>
    <img class="chat-img" src="{{image}}"/>
    <div class="chat-title show-hide-description">
      <a>{{label}}</a>
    </div>
  </header>
  <div class="chat-description 
  {{#if (arrayIncludes actionType arrayString='dynamic attack healing save other check contest')}} hidden {{/if}}">
    {{{description}}}
  </div>
  {{#if (arrayIncludes actionType arrayString="dynamic attack healing save other check contest")}}
  <div class="chat-roll-wrapper wrapper">
    {{PARTIAL "Dice Roll"}}
  </div>
  {{/if}}
  {{#if (arrayIncludes actionType arrayString="dynamic save")}}
  <div class="chat-save-wrapper wrapper">
    {{PARTIAL "Save Details"}}
  </div>
  {{/if}}
  {{#if (arrayIncludes actionType arrayString="contest check")}}
  <div class="check-skill-check-wrapper wrapper">
    {{PARTIAL "Check Details"}}
  </div>
  {{/if}}
  <div class="wrapper">
    {{PARTIAL "Chat Outcomes"}}
  </div>
</div>