<div class="chat_v2">
  {{!-- Informations --}}
  <div class="info-section">
    <div class="header {{#if description}}expand-row{{/if}}">
      <div class="name-wrapper">
        <img src="{{image}}"/>
        <div class="name">{{rollTitle}}</div>
      </div>
    </div>
    {{#if description}}
    <div class="expandable-row">
      <div class="description">
        {{{description}}}
      </div>
    </div>
    {{/if}}
  </div>

  {{!-- Check DC --}}
  {{#ifCond checkDetails.actionType '===' "check"}}
  <div class="roll-box check">
    <span class="title">{{localize "dc20rpg.chat.checkDC"}}</span>
    <div class="dice-roll">
      <div class="dice-result">
        <h4 class="dice-total {{#ifCond winTotal '>=' checkDetails.checkDC}}success{{else}}fail{{/ifCond}}">{{checkDetails.checkDC}}</h4>
      </div>
    </div>
  </div>
  {{/ifCond}}

  {{!-- Rolls --}}
  {{#each chatFormattedRolls.box}}{{#ifCond @index '===' 0}}
  <div class="roll-box">
    <span class="title">{{label}}</span>
      <div class="dice-roll">

        {{#if @root.rollModNotSupported}}
          <div class="not-supported" title='{{localize "dc20rpg.chat.rollModNotSupported"}}'><i class="fa-solid fa-square-xmark fa-lg"></i></div>
        {{else}}
          {{!-- Roll extra ADV and DIS --}}
          {{#ifCond coreFormula '&&' @root.canUserModify}}
            {{#ifCond @root.rollLevel '===' 0}}
              <div class="add-roll" data-type="adv" title='{{localize "dc20rpg.chat.rollAdv"}}'><a class="fa-solid fa-square-plus fa-lg"></a></div>
              <div class="add-roll justify-end" data-type="dis" title='{{localize "dc20rpg.chat.rollDis"}}'><a class="fa-solid fa-square-minus fa-lg"></a></div>
            {{/ifCond}}

            {{#ifCond @root.rollLevel '>' 0}}
              <div class="add-roll" data-type="adv" title='{{localize "dc20rpg.chat.rollAdv"}}'><a class="fa-solid fa-square-plus fa-lg"></a></div>
              <div class="remove-roll justify-end" data-type="adv" title='{{localize "dc20rpg.chat.removeAdv"}}'><a class="fa-solid fa-square-xmark fa-lg"></a></div>
            {{/ifCond}}

            {{#ifCond @root.rollLevel '<' 0}}
              <div class="remove-roll" data-type="dis" title='{{localize "dc20rpg.chat.removeDis"}}'><a class="fa-solid fa-square-xmark fa-lg"></a></div>
              <div class="add-roll justify-end" data-type="dis" title='{{localize "dc20rpg.chat.rollDis"}}'><a class="fa-solid fa-square-minus fa-lg"></a></div>
            {{/ifCond}}
          {{/ifCond}}
        {{/if}}

        <div class="dice-result">
          <h4 class="dice-total {{#if ignored}}not-winner{{/if}}
              {{#if @root.against}}{{#ifCond @root.against '>' _total}}fail{{else}}success{{/ifCond}}{{/if}}
              {{#if crit}}crit{{/if}} {{#if fail}}fail{{/if}}" 
          >
          {{_total}}
          </h4>
          <div class="dice-tooltip"> {{! <= expanded goes here}}
            <section class="tooltip-part">
              {{#each terms}}
              {{#if faces}}
              <div class="dice">
                <header class="part-header">
                  <span class="part-formula" style="margin: auto 5px auto 0;">{{number}}d{{faces}}:</span>
                  <ol class="dice-rolls">
                    {{{printDices results faces}}}
                  </ol>
                  <span style="margin: auto 2px auto 5px; font-weight: bold;">=</span>
                  <span class="part-total" 
                        style="margin: auto 0; display: inline-flex; justify-content: center; border: 1px solid var(--color-text-light-6); border-radius: 3px"
                        >{{#ifCond faces '===' 20}}{{@root.chatFormattedRolls.winningRoll.flatDice}}{{else}}{{sumDices results}}{{/ifCond}}</span>
                </header>
              </div>
              {{/if}}
              {{/each}}
              <div class="dice-formula">
                {{_formula}}
              </div>
            </section>
          </div>
        </div>
    </div>
  </div>
  {{/ifCond}}{{/each}}

  {{!-- Extra rolls that were added manualy --}}
  {{#ifCond extraRolls.length ">" 0}}
  <div class="extra-box-wrapper {{#ifCond @root.extraRolls.length ">" 1}}half-box{{/ifCond}}">
  {{#each extraRolls}}
    <div class="roll-box">
      {{!-- <span class="title">{{label}}</span> --}}
        <div class="dice-roll">
          <div class="dice-result">
            <h4 class="dice-total {{#if ignored}}not-winner{{/if}}
                {{#if @root.against}}{{#ifCond @root.against '>' _total}}fail{{else}}success{{/ifCond}}{{/if}}
                {{#if crit}}crit{{/if}} {{#if fail}}fail{{/if}}" 
            >
            {{_total}}
            </h4>
            <div class="dice-tooltip"> {{! <= expanded goes here}}
              <section class="tooltip-part">
                {{#each terms}}
                {{#if faces}}
                <div class="dice">
                  <header class="part-header">
                    <span class="part-formula" style="margin: auto 5px auto 0;">{{number}}d{{faces}}:</span>
                    <ol class="dice-rolls">
                      {{{printDices results faces}}}
                    </ol>
                    <span style="margin: auto 2px auto 5px; font-weight: bold;">=</span>
                    <span class="part-total" 
                          style="margin: auto 0; display: inline-flex; justify-content: center; border: 1px solid var(--color-text-light-6); border-radius: 3px"
                          >{{sumDices results}}</span>
                  </header>
                </div>
                {{/if}}
                {{/each}}
                <div class="dice-formula">
                  {{_formula}}
                </div>
              </section>
            </div>
          </div>
      </div>
    </div>
  {{/each}} 
  </div>
  {{/ifCond}}

  {{!-- Other Rolls --}}
  {{#each chatFormattedRolls.box}}{{#ifCond @index '!==' 0}}
  <div class="roll-box">
    <span class="title">{{label}}</span>
      <div class="dice-roll">

        {{#if @root.rollModNotSupported}}
          <div class="not-supported" title='{{localize "dc20rpg.chat.rollModNotSupported"}}'><i class="fa-solid fa-square-xmark fa-lg"></i></div>
        {{else}}
          {{!-- Roll extra ADV and DIS --}}
          {{#ifCond coreFormula '&&' @root.canUserModify}}
            {{#ifCond @root.rollLevel '===' 0}}
              <div class="add-roll" data-type="adv" title='{{localize "dc20rpg.chat.rollAdv"}}'><a class="fa-solid fa-square-plus fa-lg"></a></div>
              <div class="add-roll justify-end" data-type="dis" title='{{localize "dc20rpg.chat.rollDis"}}'><a class="fa-solid fa-square-minus fa-lg"></a></div>
            {{/ifCond}}

            {{#ifCond @root.rollLevel '>' 0}}
              <div class="add-roll" data-type="adv" title='{{localize "dc20rpg.chat.rollAdv"}}'><a class="fa-solid fa-square-plus fa-lg"></a></div>
              <div class="remove-roll justify-end" data-type="adv" title='{{localize "dc20rpg.chat.removeAdv"}}'><a class="fa-solid fa-square-xmark fa-lg"></a></div>
            {{/ifCond}}

            {{#ifCond @root.rollLevel '<' 0}}
              <div class="remove-roll" data-type="dis" title='{{localize "dc20rpg.chat.removeDis"}}'><a class="fa-solid fa-square-xmark fa-lg"></a></div>
              <div class="add-roll justify-end" data-type="dis" title='{{localize "dc20rpg.chat.rollDis"}}'><a class="fa-solid fa-square-minus fa-lg"></a></div>
            {{/ifCond}}
          {{/ifCond}}
        {{/if}}

        <div class="dice-result">
          <h4 class="dice-total
              {{#if @root.against}}{{#ifCond @root.against '>' @root.chatFormattedRolls.winningRoll._total}}fail{{else}}success{{/ifCond}}{{/if}}
              {{#if crit}}crit{{/if}} {{#if fail}}fail{{/if}}" 
          >
          {{_total}}
          </h4>
          <div class="dice-tooltip"> {{! <= expanded goes here}}
            <section class="tooltip-part">
              {{#each terms}}
              {{#if faces}}
              <div class="dice">
                <header class="part-header">
                  <span class="part-formula" style="margin: auto 5px auto 0;">{{number}}d{{faces}}:</span>
                  <ol class="dice-rolls">
                    {{{printDices results faces}}}
                  </ol>
                  <span style="margin: auto 2px auto 5px; font-weight: bold;">=</span>
                  <span class="part-total" 
                        style="margin: auto 0; display: inline-flex; justify-content: center; border: 1px solid var(--color-text-light-6); border-radius: 3px"
                        >{{#ifCond faces '===' 20}}{{@root.chatFormattedRolls.winningRoll.flatDice}}{{else}}{{sumDices results}}{{/ifCond}}</span>
                </header>
              </div>
              {{/if}}
              {{/each}}
              <div class="dice-formula">
                {{_formula}}
              </div>
            </section>
          </div>
        </div>
    </div>
  </div>
  {{/ifCond}}{{/each}}

  {{!-- Targets --}}
  <div class="applier">
    {{#if hasTargets}}
    <div class="token-selection">
      {{!-- Apply to selected / Apply to targeted --}}
      <div class="selection {{#if applyToTargets}}active{{/if}} {{#ifCond targetedTokens.length '===' 0}}disabled{{/ifCond}}"> <span>{{localize "dc20rpg.chat.targetedTokens"}}</span> </div>
      <a class="run-check-for-selected" title="{{localize "dc20rpg.chat.selectedCheck"}}"><i class="fa-solid fa-rotate-right"></i></a>
      {{#if userIsGM}}
      <div class="selection {{#unless applyToTargets}}active{{/unless}}"> 
        <span>{{localize "dc20rpg.chat.selectedTokens"}}</span> 
      </div>
      {{else}}
      <div class="selection {{#unless applyToTargets}}active{{/unless}}"><span>{{localize "dc20rpg.chat.nonTarget"}}</span></div>
      {{/if}}
    </div>
    
    <div class="token-container">

      {{#each targets as |target targetKey|}}
      <div class="target">
        <div class="outcome">
          <div class="name-wrapper">
            <img src="{{target.img}}"/>
            <div class="name">{{name}}</div>
          </div>
          {{!-- Hit and Miss --}}
          {{#if target.attackOutcome.label}}
          <div class="label {{#if target.attackOutcome.miss}}miss{{/if}}">{{target.attackOutcome.label}}</div>
          {{/if}}
        </div>
        <div class="button-section margin-top-5">
          {{!-- Save --}}
          {{#if (arrayIncludes @root.actionType arrayString="dynamic attack save")}} {{#if @root.saveDetails.type}}
          <a class="roll-button {{#ifCond @root.userIsGM '||' isOwner}}roll-save{{else}}disabled{{/ifCond}}" data-target="{{id}}" data-key={{@root.saveDetails.type}} data-dc={{@root.saveDetails.dc}}>
            {{@root.saveDetails.label}} DC {{@root.saveDetails.dc}}  
          </a>
          {{/if}} {{/if}}
          {{!-- Contest --}}
          {{#ifCond @root.checkDetails.actionType '===' "contest"}}
          <a class="roll-button {{#ifCond @root.userIsGM '||' isOwner}}roll-check{{else}}disabled{{/ifCond}}" data-target="{{id}}" data-key={{@root.checkDetails.contestedKey}} data-against={{@root.checkDetails.contestedAgainst}}>
            {{@root.checkDetails.contestedLabel}} vs {{@root.checkDetails.contestedAgainst}}
          </a>
          {{/ifCond}}

          {{!-- Save and Contest Outcome --}}
          {{#if target.rollOutcome}}
          <div class="label {{#unless target.rollOutcome.success}}miss{{/unless}}">{{target.rollOutcome.label}}</div>
          {{/if}}
        </div>
        {{#if @root.shouldShowDamage}}
        <div class="row-wrapper">
        {{!-- Damage --}}
        {{#each target.dmg as |roll rollKey|}}
          <div class="row">
            <a class="activable margin-top-3 margin-right-5 fa-lg {{#if roll.showModified}}fa-solid{{else}}fa-regular{{/if}} fa-square-pen" 
                data-path="system.targets.{{ ../id}}.dmg.{{rollKey}}.showModified" title="{{localize "dc20rpg.chat.modifiedRoll"}}"></a>
            {{#withConditional roll.showModified roll.modified roll.clear}}
            <div class="damage">
              <div class="value" title="{{source}}">
                <span>{{value}} {{varLocalize 'dc20rpg.reductions.' dmgType ''}}</span>
              </div>
              {{#if @root.userIsGM}}
              <div class="button-container">
                <div class="small-button-wrapper">
                  <a class="modify-roll margin-bottom-1" data-direction="up" data-modified="{{roll.showModified}}" data-path="system.targets.{{ ../../id}}.dmg.{{rollKey}}" title="{{localize "dc20rpg.chat.addOneDmg"}}"> + </a>
                  <a class="modify-roll margin-top-1" data-direction="down" data-modified="{{roll.showModified}}" data-path="system.targets.{{ ../../id}}.dmg.{{rollKey}}" title="{{localize "dc20rpg.chat.subtractOneDmg"}}"> - </a>
                </div>
                <a class="apply-damage" data-target="{{ ../../id}}" data-roll="{{rollKey}}" data-modified="{{roll.showModified}}" title="{{localize "dc20rpg.chat.applyDamage"}}">
                  <i class="fa-lg fa-solid fa-gavel"></i>
                </a>
              </div>
              {{/if}}
            </div>
            {{/withConditional}}
          </div>
        {{/each}}

        {{!-- Healing --}}
        {{#each target.heal as |roll rollKey|}}
          <div class="row">
            <a class="activable margin-top-3 margin-right-5 fa-lg {{#if roll.showModified}}fa-solid{{else}}fa-regular{{/if}} fa-square-pen" 
                data-path="system.targets.{{ ../id}}.heal.{{rollKey}}.showModified" title="{{localize "dc20rpg.chat.modifiedRoll"}}"></a>
            {{#withConditional roll.showModified roll.modified roll.clear}}
            <div class="healing">
              <div class="value" title="{{source}}">
                <span>{{value}} {{varLocalize 'dc20rpg.healTypes.' healType ''}}</span>
              </div>
              {{#if @root.userIsGM}}
              <div class="button-container">
                <div class="small-button-wrapper">
                  <a class="modify-roll margin-bottom-1" data-direction="up" data-modified="{{roll.showModified}}" data-path="system.targets.{{ ../../id}}.heal.{{rollKey}}" title="{{localize "dc20rpg.chat.addOneHealing"}}"> + </a>
                  <a class="modify-roll margin-top-1" data-direction="down" data-modified="{{roll.showModified}}" data-path="system.targets.{{ ../../id}}.heal.{{rollKey}}" title="{{localize "dc20rpg.chat.subtractOneHealing"}}"> - </a>
                </div>
                <a class="apply-healing" data-target="{{ ../../id}}" data-roll="{{rollKey}}" data-modified="{{roll.showModified}}" title="{{localize "dc20rpg.chat.applyHealing"}}"><i class="fa-lg fa-solid fa-heart"></i></a>
              </div>
              {{/if}}
            </div>
            {{/withConditional}}
          </div>
        {{/each}}
        
        </div>
        {{/if}}
      </div>
      {{/each}}
    </div>
    {{/if}}

    {{!-- Only GM can apply effects and conditions --}}
    {{#if userIsGM}}
      {{!-- Apply Active effects --}}
      {{#if applicableEffects}}
      <div class="effect-applier">
        {{#each applicableEffects}}
        <div class="effect">
          <div class="name-wrapper">
            <img src="{{img}}"/>
            <div class="name">{{name}}</div>
          </div>
          <a class="apply-effect" data-effect-uuid="{{uuid}}" title="{{localize "dc20rpg.chat.applyEffects"}}"><i class="fa-lg fa-solid fa-wand-magic-sparkles"></i></a>
        </div>
        {{/each}}
      </div>
      {{/if}}

      {{!-- Apply Statuses --}}
      {{#if applicableStatuses}}
      <div class="effect-applier">
        {{#each applicableStatuses}}
        <div class="effect">
          <div class="name-wrapper">
            <img src="{{img}}"/>
            <div class="name">{{name}}</div>
          </div>
          <a class="apply-status" data-status="{{status}}" title="{{localize "dc20rpg.chat.applyStatus"}}"><i class="fa-lg fa-solid fa-wand-magic-sparkles"></i></a>
        </div>
        {{/each}}
      </div>
      {{/if}}

      {{!-- There can be one effect that is fully sent to chat message (example: Feint action) --}}
      {{#if fullEffect}}
      <div class="effect-applier">
        <div class="effect">
          <div class="name-wrapper">
            <img src="{{fullEffect.img}}"/>
            <div class="name">{{fullEffect.name}}</div>
          </div>
          <a class="apply-full-effect" title="{{localize "dc20rpg.chat.applyStatus"}}"><i class="fa-lg fa-solid fa-wand-magic-sparkles"></i></a>
        </div>
      </div>
      {{/if}}
    {{/if}}
  </div>
</div>