<div class="chat_v2">
  {{!-- Informations --}}
  <div class="info-section">
    <div class="header {{#ifCond description '||' details}}expand-row{{/ifCond}}">
      <div class="name-wrapper">
        <img src="{{image}}"/>
        <div class="name">{{rollTitle}}</div>
      </div>
    </div>
    {{#ifCond description '||' details}}
    <div class="expandable-row">
      <div class="description">
        {{{description}}}
      </div>
      {{#if details}}
      <div class="details">
        {{{details}}}
      </div>
      {{/if}}
    </div>
    {{/ifCond}}
  </div>

  {{!-- Check DC --}}
  {{#ifCond checkDetails.actionType '===' "check"}}
  <div class="roll-box check">
    <span class="title">{{localize "dc20rpg.chat.checkDC"}}</span>
    <div class="dice-roll">
      <div class="dice-result">
        <h4 class="dice-total {{#ifCond checkDetails.rollTotal '>=' checkDetails.checkDC}}success{{else}}fail{{/ifCond}}">{{checkDetails.checkDC}}</h4>
      </div>
    </div>
  </div>
  {{/ifCond}}

  {{!-- Core Roll --}}
  {{#if chatFormattedRolls.core}}{{#with chatFormattedRolls.core}}
  <div class="roll-box">
    <span class="title">{{label}}</span>
    <div class="dice-roll">
      {{!-- Roll extra ADV and DIS --}}
      {{#if @root.canUserModify}}
        {{#ifCond @root.rollLevel '===' 0}}
          <div class="add-roll" data-type="adv" title='{{localize "dc20rpg.chat.rollAdv"}}'><a class="fa-solid fa-square-plus fa-lg"></a></div>
          <div class="add-roll justify-end" data-type="dis" title='{{localize "dc20rpg.chat.rollDis"}}'><a class="fa-solid fa-square-minus fa-lg"></a></div>
        {{/ifCond}}

        {{#ifCond @root.rollLevel '>' 0}}
          <div class="add-roll" data-type="adv" title='{{localize "dc20rpg.chat.rollAdv"}}'><a class="fa-solid fa-square-plus fa-lg"></a></div>
          <div class="remove-roll justify-end" data-type="adv" title='{{localize "dc20rpg.chat.removeAdv"}}'><a class="fa-solid fa-square-xmark fa-lg"></a></div>
        {{/ifCond}}

        {{#ifCond @root.rollLevel '<' 0}}
          <div class="remove-roll" data-type="dis" title='{{localize "dc20rpg.chat.removeDis"}}'><a class="fa-solid fa-square-xmark fa-lg"></a></div>
          <div class="add-roll justify-end" data-type="dis" title='{{localize "dc20rpg.chat.rollDis"}}'><a class="fa-solid fa-square-minus fa-lg"></a></div>
        {{/ifCond}}
      {{/if}}

      <div class="dice-result">
        <h4 class="dice-total {{#if ignored}}not-winner{{/if}}
            {{#if @root.against}}{{#ifCond @root.against '>' _total}}fail{{else}}success{{/ifCond}}{{/if}}
            {{#if crit}}crit{{/if}} {{#if fail}}fail{{/if}}" 
        >
        {{_total}}
        </h4>
        <div class="dice-tooltip"> {{! <= expanded goes here}}
          <section class="tooltip-part">
            {{#each terms}}
            {{#if faces}}
            <div class="dice">
              <header class="part-header">
                <span class="part-formula" style="margin: auto 5px auto 0;">{{number}}d{{faces}}:</span>
                <ol class="dice-rolls">
                  {{{printDices results faces}}}
                </ol>
                <span style="margin: auto 2px auto 5px; font-weight: bold;">=</span>
                <span class="part-total" 
                      style="margin: auto 0; display: inline-flex; justify-content: center; border: 1px solid var(--color-text-light-6); border-radius: 3px"
                      >{{#ifCond faces '===' 20}}{{@root.chatFormattedRolls.winningRoll.flatDice}}{{else}}{{sumDices results}}{{/ifCond}}</span>
              </header>
            </div>
            {{/if}}
            {{/each}}
            <div class="dice-formula">
              {{_formula}}
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  {{/with}}{{/if}}

  {{!-- Extra Core Rolls --}}
  {{#ifCond extraRolls.length ">" 0}}
  <div class="extra-box-wrapper {{#ifCond @root.extraRolls.length ">" 1}}half-box{{/ifCond}}">
  {{#each extraRolls}}
    <div class="roll-box">
      {{!-- <span class="title">{{label}}</span> --}}
        <div class="dice-roll">
          <div class="dice-result">
            <h4 class="dice-total {{#if ignored}}not-winner{{/if}}
                {{#if @root.against}}{{#ifCond @root.against '>' _total}}fail{{else}}success{{/ifCond}}{{/if}}
                {{#if crit}}crit{{/if}} {{#if fail}}fail{{/if}}" 
            >
            {{_total}}
            </h4>
            <div class="dice-tooltip"> {{! <= expanded goes here}}
              <section class="tooltip-part">
                {{#each terms}}
                {{#if faces}}
                <div class="dice">
                  <header class="part-header">
                    <span class="part-formula" style="margin: auto 5px auto 0;">{{number}}d{{faces}}:</span>
                    <ol class="dice-rolls">
                      {{{printDices results faces}}}
                    </ol>
                    <span style="margin: auto 2px auto 5px; font-weight: bold;">=</span>
                    <span class="part-total" 
                          style="margin: auto 0; display: inline-flex; justify-content: center; border: 1px solid var(--color-text-light-6); border-radius: 3px"
                          >{{sumDices results}}</span>
                  </header>
                </div>
                {{/if}}
                {{/each}}
                <div class="dice-formula">
                  {{_formula}}
                </div>
              </section>
            </div>
          </div>
      </div>
    </div>
  {{/each}} 
  </div>
  {{/ifCond}}

  {{!-- Other Rolls --}}
  {{#each chatFormattedRolls.other}}
  <div class="roll-box">
    <span class="title">{{label}}</span>
      <div class="dice-roll">

        {{#if @root.rollModNotSupported}}
          <div class="not-supported" title='{{localize "dc20rpg.chat.rollModNotSupported"}}'><i class="fa-solid fa-square-xmark fa-lg"></i></div>
        {{else}}
          {{!-- Roll extra ADV and DIS --}}
          {{#ifCond coreFormula '&&' @root.canUserModify}}
            {{#ifCond @root.rollLevel '===' 0}}
              <div class="add-roll" data-type="adv" title='{{localize "dc20rpg.chat.rollAdv"}}'><a class="fa-solid fa-square-plus fa-lg"></a></div>
              <div class="add-roll justify-end" data-type="dis" title='{{localize "dc20rpg.chat.rollDis"}}'><a class="fa-solid fa-square-minus fa-lg"></a></div>
            {{/ifCond}}

            {{#ifCond @root.rollLevel '>' 0}}
              <div class="add-roll" data-type="adv" title='{{localize "dc20rpg.chat.rollAdv"}}'><a class="fa-solid fa-square-plus fa-lg"></a></div>
              <div class="remove-roll justify-end" data-type="adv" title='{{localize "dc20rpg.chat.removeAdv"}}'><a class="fa-solid fa-square-xmark fa-lg"></a></div>
            {{/ifCond}}

            {{#ifCond @root.rollLevel '<' 0}}
              <div class="remove-roll" data-type="dis" title='{{localize "dc20rpg.chat.removeDis"}}'><a class="fa-solid fa-square-xmark fa-lg"></a></div>
              <div class="add-roll justify-end" data-type="dis" title='{{localize "dc20rpg.chat.rollDis"}}'><a class="fa-solid fa-square-minus fa-lg"></a></div>
            {{/ifCond}}
          {{/ifCond}}
        {{/if}}

        <div class="dice-result" title="{{modifierSources}}">
          <h4 class="dice-total
              {{#if @root.against}}{{#ifCond @root.against '>' @root.chatFormattedRolls.winningRoll._total}}fail{{else}}success{{/ifCond}}{{/if}}
              {{#if crit}}crit{{/if}} {{#if fail}}fail{{/if}}" 
          >
          {{_total}}
          </h4>
          <div class="dice-tooltip"> {{! <= expanded goes here}}
            <section class="tooltip-part">
              {{#each terms}}
              {{#if faces}}
              <div class="dice">
                <header class="part-header">
                  <span class="part-formula" style="margin: auto 5px auto 0;">{{number}}d{{faces}}:</span>
                  <ol class="dice-rolls">
                    {{{printDices results faces}}}
                  </ol>
                  <span style="margin: auto 2px auto 5px; font-weight: bold;">=</span>
                  <span class="part-total" 
                        style="margin: auto 0; display: inline-flex; justify-content: center; border: 1px solid var(--color-text-light-6); border-radius: 3px"
                        >{{#ifCond faces '===' 20}}{{@root.chatFormattedRolls.winningRoll.flatDice}}{{else}}{{sumDices results}}{{/ifCond}}</span>
                </header>
              </div>
              {{/if}}
              {{/each}}
              <div class="dice-formula">
                {{_formula}}
              </div>
            </section>
          </div>
        </div>
    </div>
  </div>
  {{/each}}

  {{!-- Create Measurement Template --}}
  {{#if measurementTemplates}}
  <div class="measurement-templates">
    {{#each measurementTemplates as |template key|}}
    <div class="template">
      {{#unless template.selected}}
      <a class="template-side-button fa-solid fa-minus margin-right-2 {{#ifCond @root.userIsGM '||' @root.canUserModify}}reduce-template-space{{else}}disabled{{/ifCond}}" data-key="{{key}}"></a>
      {{/unless}}
      <a class="template-button {{#ifCond @root.userIsGM '||' @root.canUserModify}}create-template{{#if template.selected}} selected{{/if}}{{else}}disabled{{/ifCond}} " data-key="{{key}}">
        {{template.label}}
      </a>
      {{#unless template.selected}}
      <a class="template-side-button fa-solid fa-plus margin-left-2 {{#ifCond @root.userIsGM '||' @root.canUserModify}}add-template-space{{else}}disabled{{/ifCond}}" data-key="{{key}}"></a>
      {{/unless}}
    </div>
    {{/each}}
  </div>
  {{/if}}

  {{!-- Targets --}}
  <div class="applier">
    {{#if hasTargets}}
    <div class="token-selection">
      {{!-- Apply to selected / Apply to targeted --}}
      <div class="selection {{#if applyToTargets}}active{{/if}} {{#ifCond targetedTokens.length '===' 0}}disabled{{/ifCond}}"> <span>{{localize "dc20rpg.chat.targetedTokens"}}</span> </div>
      <a class="run-check-for-selected" title="{{localize "dc20rpg.chat.selectedCheck"}}"><i class="fa-solid fa-rotate-right"></i></a>
      {{#if userIsGM}}
      <div class="selection {{#unless applyToTargets}}active{{/unless}}"> 
        <span>{{localize "dc20rpg.chat.selectedTokens"}}</span> 
      </div>
      {{else}}
      <div class="selection {{#unless applyToTargets}}active{{/unless}}"><span>{{localize "dc20rpg.chat.nonTarget"}}</span></div>
      {{/if}}
    </div>

    <div class="token-container">
      {{!-- Target Confirm --}}
      {{#if userIsGM}}
      <div class="gm-button-container">
        <a class="apply-all-button" title="{{localize "dc20rpg.chat.applyAllTooltip"}}">
          {{localize "dc20rpg.chat.applyAll"}}
        </a>
        <a class="target-confirm-button" title="{{localize "dc20rpg.chat.confirmTargetsTooltip"}}">
          {{localize "dc20rpg.chat.confirmTargets"}}
        </a>
      </div>
      {{/if}}

      {{#each targets as |target targetKey|}}
      <div class="target">
        {{#unless target.noTarget}}
        <div class="outcome">
          <div class="name-wrapper">
            <img src="{{target.img}}"/>
            <div class="name">{{name}}</div>
          </div>
          {{!-- Hit and Miss --}}
          {{#if target.attackOutcome.label}}
          <div class="label {{#if target.attackOutcome.miss}}miss{{/if}}">{{target.attackOutcome.label}}</div>
          {{/if}}
        </div>
        {{/unless}}
        <div class="button-section margin-top-5">
          {{!-- Save --}}
          {{#if (arrayIncludes @root.actionType arrayString="dynamic attack save")}} {{#if @root.saveDetails.type}}
          <a class="roll-button {{#ifCond @root.userIsGM '||' isOwner}}roll-save{{else}}disabled{{/ifCond}}" data-target="{{id}}" data-key={{@root.saveDetails.type}} data-dc={{@root.saveDetails.dc}}>
            {{@root.saveDetails.label}} DC {{@root.saveDetails.dc}}  
          </a>
          {{/if}} {{/if}}
          {{!-- Contest --}}
          {{#ifCond @root.checkDetails.actionType '===' "contest"}}
          <a class="roll-button {{#ifCond @root.userIsGM '||' isOwner}}roll-check{{else}}disabled{{/ifCond}}" data-target="{{id}}" data-key={{@root.checkDetails.contestedKey}} data-against={{@root.checkDetails.contestedAgainst}}>
            {{@root.checkDetails.contestedLabel}} vs {{@root.checkDetails.contestedAgainst}}
          </a>
          {{/ifCond}}

          {{!-- Save and Contest Outcome --}}
          {{#if target.rollOutcome}}
          <div class="label {{#unless target.rollOutcome.success}}miss{{/unless}}">{{target.rollOutcome.label}}</div>
          {{/if}}
        </div>
        {{#if @root.shouldShowDamage}}
        <div class="row-wrapper">
        {{!-- Damage --}}
        {{#each target.dmg as |roll rollKey|}}
          <div class="row">
            <a class="activable margin-top-3 margin-right-5 fa-lg {{#if roll.showModified}}fa-solid{{else}}fa-regular{{/if}} fa-square-pen" 
                data-path="system.targets.{{ ../id}}.dmg.{{rollKey}}.showModified" title="{{localize "dc20rpg.chat.modifiedRoll"}}"></a>
            {{#withConditional roll.showModified roll.modified roll.clear}}
            <div class="damage">
              <div class="value" title="{{source}}">
                <span>{{value}} {{varLocalize 'dc20rpg.reductions.' dmgType ''}}</span>
              </div>
              {{#if @root.userIsGM}}
              <div class="button-container">
                <div class="small-button-wrapper">
                  <a class="modify-roll margin-bottom-1" data-direction="up" data-modified="{{roll.showModified}}" data-path="system.targets.{{ ../../id}}.dmg.{{rollKey}}" title="{{localize "dc20rpg.chat.addOneDmg"}}"> + </a>
                  <a class="modify-roll margin-top-1" data-direction="down" data-modified="{{roll.showModified}}" data-path="system.targets.{{ ../../id}}.dmg.{{rollKey}}" title="{{localize "dc20rpg.chat.subtractOneDmg"}}"> - </a>
                </div>
                <a class="apply-damage" data-target="{{ ../../id}}" data-roll="{{rollKey}}" data-modified="{{roll.showModified}}" title="{{localize "dc20rpg.chat.applyDamage"}}">
                  <i class="fa-lg fa-solid fa-gavel"></i>
                </a>
              </div>
              {{/if}}
            </div>
            {{/withConditional}}
          </div>
        {{/each}}

        {{!-- Healing --}}
        {{#each target.heal as |roll rollKey|}}
          <div class="row">
            <a class="activable margin-top-3 margin-right-5 fa-lg {{#if roll.showModified}}fa-solid{{else}}fa-regular{{/if}} fa-square-pen" 
                data-path="system.targets.{{ ../id}}.heal.{{rollKey}}.showModified" title="{{localize "dc20rpg.chat.modifiedRoll"}}"></a>
            {{#withConditional roll.showModified roll.modified roll.clear}}
            <div class="healing">
              <div class="value" title="{{source}}">
                <span>{{value}} {{varLocalize 'dc20rpg.healTypes.' healType ''}}</span>
              </div>
              {{#if @root.userIsGM}}
              <div class="button-container">
                <div class="small-button-wrapper">
                  <a class="modify-roll margin-bottom-1" data-direction="up" data-modified="{{roll.showModified}}" data-path="system.targets.{{ ../../id}}.heal.{{rollKey}}" title="{{localize "dc20rpg.chat.addOneHealing"}}"> + </a>
                  <a class="modify-roll margin-top-1" data-direction="down" data-modified="{{roll.showModified}}" data-path="system.targets.{{ ../../id}}.heal.{{rollKey}}" title="{{localize "dc20rpg.chat.subtractOneHealing"}}"> - </a>
                </div>
                <a class="apply-healing" data-target="{{ ../../id}}" data-roll="{{rollKey}}" data-modified="{{roll.showModified}}" title="{{localize "dc20rpg.chat.applyHealing"}}"><i class="fa-lg fa-solid fa-heart"></i></a>
              </div>
              {{/if}}
            </div>
            {{/withConditional}}
          </div>
        {{/each}}
        
        </div>
        {{/if}}
      </div>
      {{/each}}
    </div>
    {{/if}}

    {{#if hasAnyEffectsToApply}}
    <div class="effect-applier">
      {{!-- Apply Active Effects --}}
      {{#each applicableEffects as |effect index|}}
      <div class="effect">
        <div class="name-wrapper">
          <img src="{{effect.img}}"/>
          <div class="name">{{effect.name}}</div>
        </div>
        {{#if @root.userIsGM}} <a class="apply-effect" data-index="{{index}}" title="{{localize "dc20rpg.chat.applyEffects"}}"><i class="fa-lg fa-solid fa-wand-magic-sparkles"></i></a> {{/if}}
      </div>
      {{/each}}

      {{!-- Apply Statuses --}}
      {{#each applicableStatuses}}
      <div class="effect">
        <div class="name-wrapper">
          <img src="{{img}}"/>
          <div class="name">{{name}}</div>
        </div>
        {{#if @root.userIsGM}} <a class="apply-status" data-status="{{status}}" title="{{localize "dc20rpg.chat.applyStatus"}}"><i class="fa-lg fa-solid fa-wand-magic-sparkles"></i></a> {{/if}}
      </div>
      {{/each}}

      {{!-- Exhaustion and Doomed --}}
      {{#each specialStatuses}}
      <div class="effect">
        <div class="name-wrapper">
          <img src="{{img}}"/>
          <div class="name">{{name}}</div>
        </div>
        {{#if @root.userIsGM}} <a class="toggle" data-key="{{id}}" title="{{varLocalize 'dc20rpg.chat.' id 'Toggle'}}"><i class="fa-lg fa-solid fa-wand-magic-sparkles"></i></a> {{/if}}
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
</div>