<div class="chat_v2">
  {{!-- Informations --}}
  <div class="info-section">
    <div class="header {{#ifCond description '||' details}}desc-expand-row{{/ifCond}}">
      <div class="name-wrapper">
        <img src="{{image}}"/>
        <div class="name">{{rollTitle}}</div>
      </div>
    </div>
    {{#ifCond description '||' details}}
    <div class="expandable-row">
      <div class="description">
        {{{description}}}
      </div>
      {{#if details}}
      <div class="details">
        {{{details}}}
      </div>
      {{/if}}
    </div>
    {{/ifCond}}
  </div>

  {{!-- Check DC --}}
  {{#if checkDC}}
  <div class="check">
    <span class="title">{{localize "dc20rpg.chat.checkDC"}}</span>
    <div class="value {{#ifCond winningRoll.total '>=' checkDC}}success{{/ifCond}}">{{checkDC}}</div>
  </div>
  {{/if}}

  {{!-- Core Roll --}}
  <div class="roll-box first-roll" data-tooltip="{{coreRoll.source}}">
    <span class="title">{{coreRoll.label}}</span>
    {{> "systems/dc20rpg/templates/chat/partial/core-roll.hbs" coreRoll}}
  </div>
  {{#ifCond extraRolls.length ">" 0}}
  <div class="extra-box-wrapper {{#ifCond extraRolls.length ">" 1}}half-box{{/ifCond}}" data-tooltip="{{coreRoll.source}}">
  {{#each extraRolls}}
    <div class="roll-box">
      {{> "systems/dc20rpg/templates/chat/partial/core-roll.hbs" this}}
    </div>
  {{/each}}
  </div>
  {{/ifCond}}
  
  {{!-- Other Rolls --}}
  {{#each otherRolls}}
  <div class="roll-box first-roll" data-tooltip="{{modifierSources}}">
    <span class="title">{{label}}</span>
    {{> "systems/dc20rpg/templates/chat/partial/core-roll.hbs" this}}
  </div>
  {{/each}}

  {{!-- Measurement Templates --}}
  {{#if measurementTemplates}}
  <div class="measurement-templates">
    {{#each measurementTemplates as |template key|}}
    <div class="template">
      {{#unless template.selected}} {{#ifCond @root.userIsGM '||' @root.canUserModify}}
      <a class="template-side-button fa-solid fa-minus margin-right-2 reduce-template-space" data-key="{{key}}"></a>
      {{/ifCond}} {{/unless}}
      <a class="template-button {{#ifCond @root.userIsGM '||' @root.canUserModify}}create-template{{#if template.selected}} selected{{/if}}{{else}}disabled{{/ifCond}} " data-key="{{key}}">
        {{template.label}}
      </a>
      {{#unless template.selected}} {{#ifCond @root.userIsGM '||' @root.canUserModify}}
      <a class="template-side-button fa-solid fa-plus margin-left-2 add-template-space" data-key="{{key}}"></a>
      {{/ifCond}} {{/unless}}
    </div>
    {{/each}}
  </div>
  {{/if}}

  {{#if itemRoll}}
  <div class="applier">
    {{!-- Tab Selector --}}
    <div class="target-selection">
      <div class="tab-selection {{#ifCond targetTab '===' "target"}}active{{/ifCond}} {{#ifCond targeted.length "<=" 0}}disabled{{/ifCond}}" {{#ifCond targeted.length ">" 0}}data-tab="target"{{/ifCond}}> 
        <span>{{localize "dc20rpg.chat.targetedTokens"}}</span> 
      </div>
      <a class="refresh-targets chat-button" data-tooltip="{{localize "dc20rpg.chat.selectedCheck"}}"><i class="fa-solid fa-rotate-right"></i></a>
      {{#if userIsGM}}
      <div class="tab-selection {{#ifCond targetTab '===' "selected"}}active{{/ifCond}}" data-tab="selected"> 
        <span>{{localize "dc20rpg.chat.selectedTokens"}}</span> 
      </div>
      {{else}}
      <div class="tab-selection {{#ifCond targetTab '===' "dummy"}}active{{/ifCond}}" data-tab="dummy"> 
        <span>{{localize "dc20rpg.chat.nonTarget"}}</span> 
      </div>
      {{/if}}
    </div>

    {{!-- GM Menu --}}
    {{#if userIsGM}}
    <div class="gm-menu">
      <a class="chat-button small share-formula fa-solid {{#if shareFormula}}fa-circle-half-stroke{{else}}fa-circle{{/if}}" data-tooltip="{{localize "dc20rpg.chat.shareFormula"}}{{#if shareFormula}} - Enabled{{else}} - Disabled{{/if}}"></a>
      <a class="chat-button apply-all fa-solid fa-gavel" data-tooltip="{{localize "dc20rpg.chat.applyAll"}}"></a>
      <a class="chat-button send-all-roll-requests fa-solid fa-dice" data-tooltip="{{localize "dc20rpg.chat.sendRollRequests"}}"></a>
      <a class="chat-button target-confirm fa-solid fa-circle-check" data-tooltip="{{localize "dc20rpg.chat.confirmTargets"}}"></a>
      <a class="chat-button apply-all-effects-fail fa-solid fa-wand-magic" data-tooltip="{{localize "dc20rpg.chat.applyToFailedRolls"}}"></a>
      <a class="chat-button apply-all-effects fa-solid fa-wand-magic-sparkles" data-tooltip="{{localize "dc20rpg.chat.applyAllEffects"}}"></a>
      <a class="chat-button small add-selected-to-targets fa-solid fa-crosshairs" data-tooltip="{{localize "dc20rpg.chat.addToTargets"}}"></a> 
    </div>
    {{/if}}

    {{!-- Targets --}}
    <div class="target-container">
      {{#each targets}}
      {{> "systems/dc20rpg/templates/chat/partial/target.hbs" this}}
      {{/each}}
    </div>


    {{!-- Effects and Requests --}}
    {{#if userIsGM}}
    <div class="effect-applier">
      <div class="title-wrapper">
        <span class="title margin-bottom-5">{{localize "dc20rpg.chat.applyToSelected"}}</span>
      </div>

      <div class="button-section">
        <div class="roll-buttons-wrapper">
          {{#each rollRequests.saves as |request key|}}
          <a class="roll-button chat-button {{#ifCond @root.userIsGM '||' ../actor.isOwner}}roll-request{{else}}disabled{{/ifCond}}" data-key={{key}} data-category="saves">
            {{label}} DC {{dc}}  
          </a>
          {{/each}}
          {{#ifCond @root.winningRoll.total '!==' undefined}}
          {{#each rollRequests.contests as |request key|}}
          <a class="roll-button chat-button {{#ifCond @root.userIsGM '||' ../actor.isOwner}}roll-request{{else}}disabled{{/ifCond}}" data-key={{key}} data-category="contests">
            {{label}} vs {{@root.winningRoll.total}}  
          </a>
          {{/each}}
          {{/ifCond}}
        </div>
      </div>

      <div class="effects">
        {{!-- Effect Applier --}}
        {{#each effects as |effect index|}}
        <a><img src="{{effect.img}}" data-index="{{index}}" class="effect apply-effect" data-tooltip="{{effect.name}}{{localize "dc20rpg.chat.applyEffects"}}"/></a>
        {{/each}}
        
        {{!-- Status Applier --}}
        {{#each statuses as |status index|}}
        {{#if status.display}}
        <a><img src="{{status.img}}" data-index="{{index}}" class="effect apply-status" data-tooltip="{{status.name}}{{localize "dc20rpg.chat.applyStatus"}}"/></a>
        {{/if}}
        {{/each}}
      </div>
    </div>
    
    {{/if}}
  </div>
  {{/if}}
  
<div class="fotter" style="margin-bottom:5px;"></div>