{{log this}}
<div class="chat_v2">
  {{!-- Informations --}}
  <div class="info-section">
    <div class="header {{#if description}}expand-row{{/if}}">
      <img src="{{image}}"/>
      <div class="name">{{rollTitle}}</div>
    </div>
    {{#if description}}
    <div class="expandable-row">
      <div class="description">
        {{{description}}}
      </div>
    </div>
    {{/if}}
  </div>


  {{!-- Check DC --}}
  {{#ifCond checkDetails.actionType '===' "check"}}
  <div class="roll-box check">
    <span class="title">{{localize "dc20rpg.chat.checkDC"}}</span>
    <div class="dice-roll">
      <div class="dice-result">
        <h4 class="dice-total {{#ifCond winTotal '>=' checkDetails.checkDC}}success{{else}}fail{{/ifCond}}">{{checkDetails.checkDC}}</h4>
      </div>
    </div>
  </div>
  {{/ifCond}}

  {{!-- Rolls --}}
  {{#each chatFormattedRolls.box}}
  <div class="roll-box">
    <span class="title">{{label}}</span>
      <div class="dice-roll">
        <div class="dice-result">
          <h4 class="dice-total {{#if crit}}crit{{/if}} {{#if fail}}fail{{/if}}">{{_total}}</h4>
          <div class="dice-tooltip"> {{! <= expanded goes here}}
            <section class="tooltip-part">
              {{#each terms}}
              {{#if faces}}
              <div class="dice">
                <header class="part-header">
                  <span class="part-formula" style="margin: auto 5px auto 0;">{{number}}d{{faces}}:</span>
                  <ol class="dice-rolls">
                    {{{printDices results faces}}}
                  </ol>
                  <span style="margin: auto 2px auto 5px; font-weight: bold;">=</span>
                  <span class="part-total" 
                        style="margin: auto 0; display: inline-flex; justify-content: center; border: 1px solid var(--color-text-light-6); border-radius: 3px"
                        >{{#ifCond _faces '===' 20}}{{@root.roll.flatDice}}{{else}}{{sumDices results}}{{/ifCond}}</span>
                </header>
              </div>
              {{/if}}
              {{/each}}
              <div class="dice-formula">
                {{_formula}}
              </div>
            </section>
          </div>
        </div>
    </div>
  </div>
  {{/each}}


  {{!-- Save Button / Contest Button --}}
  <div class="button-section">
    {{!-- Save --}}
    {{#if (arrayIncludes actionType arrayString="dynamic attack save")}} {{#if saveDetails.type}}
    <button class="roll-button roll-save" data-key={{saveDetails.type}} data-dc={{saveDetails.dc}}>
      {{saveDetails.label}} DC {{saveDetails.dc}}  
    </button>
    {{/if}} {{/if}}

    {{!-- Contest --}}
    {{#ifCond checkDetails.actionType '===' "contest"}}
    <button class="roll-button roll-check" data-key={{checkDetails.contestedKey}} data-against={{checkDetails.contestedAgainst}}>
      {{checkDetails.contestedLabel}} vs {{checkDetails.contestedAgainst}}
    </button>
    {{/ifCond}}
  </div>

  <div class="applier">
    <div class="token-selection">
      {{!-- Apply to selected / Apply to targeted --}}
      <div class="selection {{#if applyToTargets}}active{{/if}}"> <span>Targeted</span> </div>
      <div class="selection {{#unless applyToTargets}}active{{/unless}}"> 
        <span>Selected</span> 
        {{#unless applyToTargets}}
          <a class="run-check-for-selected" title="{{localize "dc20rpg.chat.selectedCheck"}}"><i class="fa-solid fa-rotate-right"></i></a>
        {{/unless}}
      </div>
    </div>
    <div class="token-container">

      {{#each tokens as |token tokenKey|}}
      <div class="target">
        <div class="outcome">
          <div class="name-wrapper">
            <img src="{{token.img}}"/>
            <div class="name">{{name}}</div>
          </div>
          <div class="label {{#if token.outcome.miss}}miss{{/if}}">{{token.outcome.label}}</div>
        </div>
        <div class="row-wrapper">
        {{#each token.dmg as |roll rollKey|}}
          <div class="row">
            <a class="activable margin-top-3 margin-right-5 fa-lg {{#if roll.showModified}}fa-solid{{else}}fa-regular{{/if}} fa-square-pen" 
                data-path="system.tokens.{{ ../id}}.dmg.{{rollKey}}.showModified" title="{{localize "dc20rpg.chat.modifiedRoll"}}"></a>
            {{#withConditional roll.showModified roll.modified roll.clear}}
            <div class="damage">
              <div class="value" title="{{source}}">
                <span>{{value}} {{varLocalize 'dc20rpg.reductions.' dmgType ''}}</span>
              </div>
              <div class="button-container">
                <div class="small-button-wrapper">
                  <a class="modify-roll margin-bottom-1" data-direction="up" data-modified="{{roll.showModified}}" data-path="system.tokens.{{ ../../id}}.dmg.{{rollKey}}" title="{{localize "dc20rpg.chat.addOneDmg"}}"> + </a>
                  <a class="modify-roll margin-top-1" data-direction="down" data-modified="{{roll.showModified}}" data-path="system.tokens.{{ ../../id}}.dmg.{{rollKey}}" title="{{localize "dc20rpg.chat.subtractOneDmg"}}"> - </a>
                </div>
                <a class="apply-damage" title="{{localize "dc20rpg.chat.applyDamage"}}"><i class="fa-lg fa-solid fa-gavel"></i></a>
              </div>
            </div>
            {{/withConditional}}
          </div>
        {{/each}}

        {{#each token.heal as |roll rollKey|}}
          <div class="row">
            <a class="activable margin-top-3 margin-right-5 fa-lg {{#if roll.showModified}}fa-solid{{else}}fa-regular{{/if}} fa-square-pen" 
                data-path="system.tokens.{{ ../id}}.heal.{{rollKey}}.showModified" title="{{localize "dc20rpg.chat.modifiedRoll"}}"></a>
            {{#withConditional roll.showModified roll.modified roll.clear}}
            <div class="healing">
              <div class="value" title="{{source}}">
                <span>{{value}} {{varLocalize 'dc20rpg.healTypes.' healType ''}}</span>
              </div>
              <div class="button-container">
                <div class="small-button-wrapper">
                  <a class="modify-roll margin-bottom-1" data-direction="up" data-modified="{{roll.showModified}}" data-path="system.tokens.{{ ../../id}}.heal.{{rollKey}}" title="{{localize "dc20rpg.chat.addOneHealing"}}"> + </a>
                  <a class="modify-roll margin-top-1" data-direction="down" data-modified="{{roll.showModified}}" data-path="system.tokens.{{ ../../id}}.heal.{{rollKey}}" title="{{localize "dc20rpg.chat.subtractOneHealing"}}"> - </a>
                </div>
                <a class="apply-healing" title="{{localize "dc20rpg.chat.applyHealing"}}"><i class="fa-lg fa-solid fa-heart"></i></a>
              </div>
            </div>
            {{/withConditional}}
          </div>
        {{/each}}
        </div>
      </div>
      {{/each}}
    </div>

    <div class="token">

    </div>


    {{!-- Apply Effect --}}
    <div class="effect-applier">
      {{!-- Przesyłamy tylko tablice zawierającą ikonę, nazwe oraz uuid efektu --}}
      {{!-- Potem przy pomocy uuid kopiujemy efekt na aktora. --}}
    </div>
  </div>


  {{!-- Apply Damage/Healinh --}}
  <div class="applier">

  </div>
</div>