<form id="actions-dialog" class="dialog-content">
  {{!-- Navigation --}}
  <nav class="dialog-tabs tabs" data-group="primary">
    <a class="item" data-tab="offensive">Offensive</a>
    <a class="item" data-tab="defensive">Defensive</a>
    <a class="item" data-tab="utility">Utility</a>
    <a class="item" data-tab="skill">Skill Based</a>
  </nav>

  <section class="dialog-body">
    {{!-- Offensive Actions --}}
    <div class="tab offensive-tab" data-group="primary" data-tab="offensive">
      <div class="title-row margin-bottom-3 margin-top-5">
        <label>Offensive Actions</label>
      </div>
      {{#each offensive as |action key|}}
      <div class="action">
        <div class="action-header">
          <label>{{action.name}}</label>
          <div class="button-wrapper">
            {{#each formulas as |formula formulaKey|}}
            <button class="roll-action" data-key="{{key}}" data-formula-key="{{formulaKey}}">
              {{formula.label}}
            </button>
            {{/each}}
          </div>
        </div>
        <div class="action-description">
          {{{action.description}}}
        </div>
      </div>
      {{/each}}
    </div>

    {{!-- Defensive Actions --}}
    <div class="tab defensive-tab" data-group="primary" data-tab="defensive">
      <div class="title-row margin-bottom-3 margin-top-5">
        <label>Defensive Actions</label>
      </div>
      {{#each defensive as |action key|}}
      <div class="action">
        <div class="action-header">
          <label>{{action.name}}</label>
          <div class="button-wrapper">
            {{#each formulas as |formula formulaKey|}}
            <button class="roll-action" data-key="{{key}}" data-formula-key="{{formulaKey}}">
              {{formula.label}}
            </button>
            {{/each}}
          </div>
        </div>
        <div class="action-description">
          {{{action.description}}}
        </div>
      </div>
      {{/each}}
    </div>

    {{!-- Utility Actions --}}
    <div class="tab utility-tab" data-group="primary" data-tab="utility">
      <div class="title-row margin-bottom-3 margin-top-5">
        <label>Utility Actions</label>
      </div>
      {{#each utility as |action key|}}
      <div class="action">
        <div class="action-header">
          <label>{{action.name}}</label>
          <div class="button-wrapper">
            {{#each formulas as |formula formulaKey|}}
            <button class="roll-action" data-key="{{key}}" data-formula-key="{{formulaKey}}">
              {{formula.label}}
            </button>
            {{/each}}
          </div>
        </div>
        <div class="action-description">
          {{{action.description}}}
        </div>
      </div>
      {{/each}}
    </div>

    {{!-- Skill Based Actions --}}
    <div class="tab skill-tab" data-group="primary" data-tab="skill">
      <div class="title-row margin-bottom-3 margin-top-5">
        <label>Skill Based Actions</label>
      </div>
      {{#each skill as |action key|}}
      <div class="action">
        <div class="action-header">
          <label>{{action.name}}</label>
          <div class="button-wrapper">
            {{#each formulas as |formula formulaKey|}}
            <button class="roll-action" data-key="{{key}}" data-formula-key="{{formulaKey}}">
              {{formula.label}}
            </button>
            {{/each}}
          </div>
        </div>
        <div class="action-description">
          {{{action.description}}}
        </div>
      </div>
      {{/each}}
    </div>
  </section>
</form>