<form id="advancement-dialog" class="dialog-content">
  

  {{!-- Scaling Values --}}
  {{#if showScaling}}
  <div class="content">
    <div class="title-row">
      <div class="title-wrapper">
        <img src="{{title.img}}">
        <label>{{title.text}}</label>
      </div>
    </div>
    <div class="subtitle-row">
      <label>Some of your stats got and upgrade!</label>
    </div>
    {{#each scaling as |value key|}}
    <div class="scaling-value-row">
      <label>{{value.label}}</label>
      <div class="progress">
        <span>{{value.previous}}</span>
        <i class="fa-lg fa-solid fa-circle-right"></i>
        <span>{{value.current}}</span>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="footer">
    <button class="next">Next</button>
  </div>

  {{!-- Advancements Progress --}}
  {{else}}
  <div class="content">
    <div class="title-row">
      <div class="title-wrapper">
        <img src="{{title.img}}">
        <label>{{title.text}}</label>
      </div>
    </div>
    <div class="subtitle-row">
      <label>You gain following advancement: {{name}}</label>
    </div>
    {{#if mustChoose}}
    <div class="subtitle-row">
      <label>You have {{pointsLeft}} points left to spend on items bellow</label>
    </div>
    {{/if}}
    <div class="items-table actor-advancement-table">
      <div class="item-header">
        <div class="column column-name">Item Name</div>
        {{#if mustChoose}}
        <div class="column">
          <span>Cost</span>
        </div>
        <div class="column">
          <span>Select Item</span>
        </div>
        {{else}}
        <div class="column"></div>
        <div class="column"></div>
        {{/if}}
      </div>
    {{#each items as |item key|}}
      <div class="item-row">
        <div class="column column-name activable" data-path="items.{{key}}.showDescription" title="Show/Hide Description">    
          <img src="{{item.img}}"/>
          <span class="margin-left-3">{{item.name}}</span>
        </div>
        {{#if @root.mustChoose}}
        <div class="column">
          {{item.pointValue}}
        </div>
          {{#if item.mandatory}}
          <div class="column" title="This item is mandatory for that advancement">
            <i class="fa-lg fa-solid fa-square-check"></i>
          </div>
          {{else}}
          <div class="column" title="This item is mandatory for that advancement">
            <a class="activable fa-lg {{#if item.selected}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="items.{{key}}.selected"></a>
          </div>
          {{/if}}
        {{else}}
        <div class="column">
          -
        </div>
        <div class="column">
          <i class="fa-lg fa-solid fa-square-check"></i>
        </div>
        {{/if}}
      </div>
      {{#if item.showDescription}}
      <div class="description">
        {{{item.description}}}
      </div>
      {{/if}}
    {{/each}}

      {{#if talent}}
      <div class="item-row">
        <div class="column column-name" title="You gain a Talent of your choice">    
          <img src="icons/svg/combat.svg"/>
          <span class="margin-left-3">Talent</span>
        </div>
        <div class="column">
          -
        </div>
        <div class="column">
          <i class="fa-lg fa-solid fa-square-check"></i>
        </div>
      </div>
      {{/if}}
    </div>
  </div>

  <div class="footer">
    <button class="apply">Save Advancement</button>
  </div>
  {{/if}}
</form>