<form id="advancement-dialog" class="dialog-v2">
  {{PARTIAL "Tooltip"}}
  <div class="border-box">
    <div class="box-inner">
      <div class="wrapper">
        {{#if showScaling}}
        <div class="content">
          <div class="title"><span>{{localize "dc20rpg.dialog.advancement.title"}}</span></div>

          {{#each scaling}}
          <div class="scaling-value-row">
            <label>{{label}}</label>
            <div class="progress">
              <span>{{previous}}</span>
              <i class="fa-lg fa-solid fa-circle-right"></i>
              <span>{{current}}</span>
            </div>
          </div>
          {{/each}}
        </div>

        <div class="footer">
          <div class="border-box margin-top-5 close-button"> 
            <div class="box-inner no-padding button-wrapper">
              <button class="close finish">{{localize "dc20rpg.dialog.advancement.finish"}}</button>
            </div>
          </div> 
        </div>
        {{else}}
        {{!-- Advancements Progress --}}
        <div class="content">
          <div class="title"><span>{{localize "dc20rpg.dialog.advancement.features"}}</span></div>
          {{#if @root.mustChoose}}
            <div class="sub-title margin-top-5">{{localize "dc20rpg.dialog.advancement.choices"}}: {{@root.pointsLeft}}</div>
          {{/if}}
          {{#if @root.talent}}
            <div class="sub-title margin-top-5">
              <div>{{localize "dc20rpg.dialog.advancement.givesTalent"}}</div>
              <div class="talent-mastery" title="{{localize "dc20rpg.dialog.advancement.talentMastery"}}">
                <a class="activable-box activable {{#if martialTalent}}active{{/if}}" data-path="martialTalent"> 
                  {{localize "dc20rpg.dialog.advancement.martial"}}
                </a>
                <span> / </span>
                <a class="activable-box activable {{#unless martialTalent}}active{{/unless}}" data-path="martialTalent"> 
                  {{localize "dc20rpg.dialog.advancement.spellcaster"}}
                </a>
              </div>
            </div>
          {{else}}{{#if @root.allowToAddItems}}
            <div class="sub-title margin-top-5">{{localize "dc20rpg.dialog.advancement.canAddItems"}}</div>
          {{/if}}{{/if}}

          <div class="item-list margin-top-10 actor-select {{#if @root.mustChoose}}multiple-choice{{/if}}">
            <div class="item-header">
              <div class="column name">
                <span class="margin-left-10" >{{localize "dc20rpg.dialog.advancement.table.itemName"}}</span>
              </div>
              {{#if @root.mustChoose}}
              <div class="column" title="{{localize "dc20rpg.dialog.advancement.table.cost"}}">
                <i class="fa-solid fa-coins"></i>
              </div>
              {{/if}}
              <div class="column" title="{{localize "dc20rpg.dialog.advancement.table.select"}}">
                <i class="fa-solid fa-check"></i>
              </div>
              <div class="column config">
                <i class="fa-solid fa-gear"></i>
              </div>
            </div>
            {{#each items as |item key|}}
            <div class="item-row">
              <div class="column name item-tooltip" data-item-key="{{key}}">
                <i class="item-img"><img src="{{item.img}}"/></i>
                <div class="item-name">{{name}}</div>
              </div>
              {{#if @root.mustChoose}}
                <div class="column quantity" title="{{localize "dc20rpg.dialog.advancement.table.pointsCost"}}">
                  <input {{#unless item.removable}}disabled{{/unless}} class="numeric-input" type="number" value="{{item.pointValue}}" data-path="items.{{key}}.pointValue"/>
                </div>
                <div class="column config" title="{{localize "dc20rpg.dialog.advancement.table.select"}}">
                  {{#if item.mandatory}}
                  <i class="fa-solid fa-check-to-slot"></i>
                  {{else}}
                  <a class="activable {{#if item.selected}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="items.{{key}}.selected"></a>
                  {{/if}}
                </div>
              {{else}}
                <div class="column config" title="{{localize "dc20rpg.dialog.advancement.table.selected"}}">
                  <i class="fa-solid fa-check-to-slot"></i>
                </div>
              {{/if}}
                <div class="column config">
                  {{#if item.removable}}
                  <a class="item-delete fas fa-trash" data-key="{{key}}" title="{{localize "dc20rpg.dialog.advancement.table.remove"}}"></a>
                  {{/if}}
                  {{#if item.canBeCounted}}
                  <a class="activable fa-book {{#if item.ignoreKnown}}fa-solid{{else}}fa-regular{{/if}}" data-path="items.{{key}}.ignoreKnown" title="{{localize "dc20rpg.dialog.advancement.table.ignoreKnown"}}"></a>
                  {{/if}}
                </div>
            </div>
            {{/each}}
          </div>
        </div>

        <div class="footer">
          <div class="border-box margin-top-5 close-button"> 
            <div class="box-inner no-padding button-wrapper">
              <button class="close apply">{{localize "dc20rpg.dialog.advancement.apply"}}</button>
            </div>
          </div> 
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</form>