<form id="actor-request" class="dialog-v2">
  <div class="header">
    <span>{{title}}</span>
  </div>
  
  {{!-- Select Roll --}}
  <select class="long-select selectable">
    {{selectOptions rollOptions selected=selected blank=""}}
  </select>

  {{!-- Actor Select --}}
  <div class="box-content">
    {{#if hasActors}}
    {{#each selectedActors as |actor actorId|}}
      <div class="actor">
        <div class="wrapper">
          <img src="{{actor.actor.img}}"/>
          <input disabled value="{{actor.actor.name}}"/>
        </div>
        <a class="activable" data-path="selectedActors.{{actorId}}.selected">
          <i class="fa-2x {{#if actor.selected}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}"></i>
        </a>
      </div>
    {{/each}}
    {{else}}
      <div class="actor">
        <div class="wrapper">
          <span>{{localize "dc20rpg.dialog.actorRequest.noPlayer"}}</span>
        </div>
      </div>
    {{/if}}
  </div>

  <button class="close confirm-request button margin-top-5">{{localize "dc20rpg.dialog.actorRequest.title"}}</button>
</form>