<form id="character-creation-wizard" class="dialog-v2">
  <div class="border-box">
    <div class="box-inner">
      {{!-- Step 0 --}}
      {{#ifCond currentStep '===' 0}}
      <div class="title"><span>{{localize "dc20rpg.dialog.acr.title"}}</span></div>
      <div class="character-data-wrapper">
        <img class="image-picker" src="{{actorData.img}}" data-path="{{actorData.img}}" title="If you can't open the File Browser window, you may not have the appropriate permissions. Ask your GM to grant it to you."/>
        <div class="detatils">
          <div class="row long name-row">
            <span>{{localize "dc20rpg.dialog.acr.name"}}</span>
            <input class="input-text" type="text" value="{{actorData.name}}" data-path="actorData.name"/>
          </div>
          <div class="title margin-top-15"><span>{{localize "dc20rpg.dialog.acr.atr&saves"}}</span></div>
          <div class="attr-wrapper grid grid-4col">
            {{#each actorData.attributes as |atr key|}}
            <div class="attr" title="{{varLocalize 'dc20rpg.attributes.' key ''}}">
              <div class="atr-name">
                <label>{{key}}</label>
              </div>
              <div class="value">
                <input class="input" type="number" data-path="actorData.attributes.{{key}}.value" value="{{atr.value}}" data-dtype="Number" {{#unless @root.actorData.attrPoints.manual}}disabled{{/unless}}>
              </div>
              <div class="buttons">
                {{#unless @root.actorData.attrPoints.manual}}<a class="add-attr" data-key="{{key}}"><i class="fa-solid fa-square-plus"></i></a>{{/unless}}
                <a class="save-mastery" title="Save Mastery" data-key="{{key}}"><i class="fa-shield {{#if atr.mastery}}fa-solid{{else}}fa-regular{{/if}}"></i></a>
                {{#unless @root.actorData.attrPoints.manual}}<a class="sub-attr" data-key="{{key}}"><i class="fa-solid fa-square-minus"></i></a>{{/unless}}
              </div>
            </div>
            {{/each}}
          </div>
          <div class="row">
            <span>{{localize "dc20rpg.dialog.acr.provideManually"}}</span>
            <a class="manual-switch" data-path="actorData.attrPoints.manual"><i class="fa-lg {{#if actorData.attrPoints.manual}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a>
          </div>
          {{#unless actorData.attrPoints.manual}}
          <div class="row margin-top-5">
            <span>{{localize "dc20rpg.dialog.acr.pointsLeft"}}:</span>
            <span style="text-align: end;">{{actorData.attrPoints.pointsLeft}}</span>
          </div>
          {{/unless}}
          <div class="row margin-top-5">
            <span>{{localize "dc20rpg.dialog.acr.saveMasterisesLeft"}}:</span>
            <span style="text-align: end;">{{actorData.attrPoints.saveMasteries}}</span>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="border-box margin-top-5 next-button"> 
          <div class="box-inner no-padding button-wrapper">
            <button {{#if disableNext}}disabled{{/if}} class="next">{{localize "dc20rpg.dialog.config.next"}}</button>
          </div>
        </div> 
      </div>

      {{!-- Step 1 -> 3 --}}
      {{else}} {{#ifCond currentStep '!==' 4}}
      <div class="title">
        <span>{{localize "dc20rpg.dialog.config.select"}} {{itemType}}</span>
        {{#ifCond itemType "===" "ancestry"}}
        <a class="mix-ancestry fa-solid fa-network-wired" title="{{localize 'dc20rpg.sheet.mixAncestery'}}"></a>
        {{/ifCond}}
      </div>
      <div class="unique-item-picker-wrapper">
        <div class="item-selector">
          {{#each collectedItems as |item index|}}
          <div class="item-row select-row {{#ifCond @root.selectedItem._id '===' item._id}}selected{{/ifCond}}" data-index="{{index}}", data-type="{{@root.itemType}}">
            <img class="item-img" src="{{item.img}}"/>
            <div class="item-name">{{item.name}}</div>
          </div>
          {{/each}}
        </div>

        <div class="item-description">
          <div class="item-row">
            <img class="item-img" src="{{selectedItem.img}}"/>
            <div class="item-name">{{selectedItem.name}}</div>
          </div>
          <div class="description">
            {{{selectedItem.descriptionHTML}}}
          </div>
        </div>
      </div>

      <div class="footer half-button">
        <div class="border-box margin-top-5 next-button"> 
          <div class="box-inner no-padding button-wrapper">
            <button class="back">{{localize "dc20rpg.dialog.config.back"}}</button>
          </div>
        </div> 
        <div class="border-box margin-top-5 next-button"> 
          <div class="box-inner no-padding button-wrapper">
            <button {{#if disableNext}}disabled{{/if}} class="next">{{localize "dc20rpg.dialog.config.next"}}</button>
          </div>
        </div> 
      </div>
      {{else}}
      {{!-- Step 4 --}}
      <div class="title">
        <span>{{localize "dc20rpg.dialog.acr.selectStartingEquipment"}}</span>
        <a class="open-compendium fa-solid fa-book-atlas" title="{{localize "dc20rpg.sheet.openCompendium"}}"></a>
      </div>
      
      <div class="equipment-wrapper grid grid-3col">
        {{#each inventory as |pack key|}}
          <div class="equipment">
            <div class="table-header">
              <span>{{key}}</span>
              <a class="fa-solid fa-circle-question" title="{{pack.text}}"></a>
            </div>
            {{#each pack.items as |item key|}}
            <div class="item-row">
              <img class="item-img" src="{{item.img}}"/>
              <div class="item-name">
                <div>{{item.name}}</div>
                <a class="remove-item fa-solid fa-trash" title="Remove" data-id="{{key}}" data-key="{{../packName}}"></a>
              </div>
            </div>
            {{/each}}
          </div>
        {{/each}}
      </div>

      <div class="footer half-button">
        <div class="border-box margin-top-5 next-button"> 
          <div class="box-inner no-padding button-wrapper">
            <button class="back">{{localize "dc20rpg.dialog.config.back"}}</button>
          </div>
        </div> 
        <div class="border-box margin-top-5 next-button"> 
          <div class="box-inner no-padding button-wrapper">
            <button class="create-actor">{{localize "dc20rpg.dialog.config.finish"}}</button>
          </div>
        </div> 
      </div>
      {{/ifCond}} {{/ifCond}}
    </div>
  </div>
</form>