<form id="character-configuration" class="dialog-v2">
  <div class="border-box">
    <div class="box-inner">

      {{!-- Defence Calculations --}}
      <div class="defences grid">
        <div class="content-wrapper phisical">
          <div class="header"> 
            <label>{{localize "dc20rpg.dialog.config.defence.physical.title"}}</label>
          </div>
          <div class="content">
            <div class="row ignore-symetry" title="{{localize "dc20rpg.dialog.config.defence.formulaSelected"}}">
              <i class="fa-solid fa-pen-to-square fa-lg margin-left-3"></i>
              <select class="selectable" data-path="defences.physical.formulaKey">
                {{selectOptions config.physicalDefenceFormulasLabels selected=defences.physical.formulaKey}}
              </select>
            </div>
            {{#ifCond defences.physical.formulaKey '===' "flat"}}
            <input class="numeric-input flat-value" type="number" value="{{defences.physical.normal}}" data-path="defences.physical.normal" title="{{localize "dc20rpg.dialog.config.defence.flat"}}"/>
            {{else}}
              {{#ifCond defences.physical.formulaKey '===' "custom"}}
              <input class="input formula" type="text" value="{{defences.physical.customFormula}}" data-path="defences.physical.customFormula" title="{{localize "dc20rpg.dialog.config.defence.formulaCustom"}}"/>
              {{else}}
              <input disabled class="input formula" type="text" value="{{selectedPhysicalFormula}}" title="{{localize "dc20rpg.dialog.config.defence.formula"}}"/>
              {{/ifCond}}
            {{/ifCond}}
          </div>
        </div>

        <div class="content-wrapper mental">
          <div class="header"> 
            <label>{{localize "dc20rpg.dialog.config.defence.mental.title"}}</label>
          </div>
          <div class="content">
            <div class="row ignore-symetry" title="{{localize "dc20rpg.dialog.config.defence.formulaSelected"}}">
              <i class="fa-solid fa-pen-to-square fa-lg margin-left-3"></i>
              <select class="selectable" data-path="defences.mental.formulaKey">
                {{selectOptions config.mentalDefenceFormulasLabels selected=defences.mental.formulaKey}}
              </select>
            </div>
            {{#ifCond defences.mental.formulaKey '===' "flat"}}
            <input class="numeric-input flat-value" type="number" value="{{defences.mental.normal}}" data-path="defences.mental.normal" title="{{localize "dc20rpg.dialog.config.defence.flat"}}"/>
            {{else}}
              {{#ifCond defences.mental.formulaKey '===' "custom"}}
              <input class="input formula" type="text" value="{{defences.mental.customFormula}}" data-path="defences.mental.customFormula" title="{{localize "dc20rpg.dialog.config.defence.formulaCustom"}}"/>
              {{else}}
              <input disabled class="input formula" type="text" value="{{selectedMentalFormula}}" title="{{localize "dc20rpg.dialog.config.defence.formula"}}"/>
              {{/ifCond}}
            {{/ifCond}}
          </div>
        </div>
      </div>

      {{!-- Speed --}}
      <div class="content-wrapper speed margin-top-5">
        <div class="header"> 
          <label>{{localize "dc20rpg.dialog.config.movement.title"}}</label>
        </div>
        <div class="content">
          {{#each movement as |speed key|}}
          <div class="row ignore-symetry margin-bottom-3" title="{{localize "dc20rpg.dialog.config.defence.formulaSelected"}}">
            <span>{{varLocalize 'dc20rpg.dialog.config.movement.' key '.useCustom'}}</span>
            <div class="input-select">
              {{#if speed.useCustom}}
              <input class="numeric-input flat-value short margin-right-3" type="number" value="{{speed.value}}" data-path="movement.{{key}}.value" title="{{varLocalize 'dc20rpg.dialog.config.movement.' key '.speed'}}"/>
              {{/if}}
              <a class="activable" data-path="movement.{{key}}.useCustom">
                <i class="fa-2x {{#if speed.useCustom}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}"></i>
              </a>
            </div>
          </div>
          {{/each}}
        </div>
      </div>

      {{!-- Jump --}}
      <div class="content-wrapper jump margin-top-5">
        <div class="header"> 
          <label>{{localize "dc20rpg.dialog.config.jump.title"}}</label>
        </div>
        <div class="content">
          <div class="row ignore-symetry" title="{{localize "dc20rpg.dialog.config.jump.key"}}">
            <span>{{localize "dc20rpg.dialog.config.jump.key"}}</span>
            <div class="input-select">
              {{#ifCond jump.key '===' "flat"}}
              <input class="numeric-input flat-value short margin-right-3" type="number" value="{{jump.value}}" data-path="jump.value"/>
              {{/ifCond}}
              <select class="selectable" data-path="jump.key">
                {{selectOptions config.jumpCalculationKeys selected=jump.key}}
              </select>
            </div>
          </div>
        </div>
      </div>

      {{!-- Size --}}
      <div class="content-wrapper jump margin-top-5">
        <div class="header"> 
          <label>{{localize "dc20rpg.dialog.config.size.title"}}</label>
        </div>
        <div class="content">
          <div class="row ignore-symetry">
            <span>{{localize "dc20rpg.dialog.config.size.fromAncestry"}}</span>
            <div class="input-select">
              {{#unless size.fromAncestry}}
              <select class="selectable margin-right-3" data-path="size.size" title="{{localize "dc20rpg.dialog.config.size.selectSize"}}">
                {{selectOptions config.sizes selected=size.size}}
              </select>
              {{/unless}}
              <a class="activable" data-path="size.fromAncestry" title="{{localize 'dc20rpg.dialog.config.size.fromAncestry'}}">
                <i class="fa-2x {{#if size.fromAncestry}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      {{!-- Save Button --}}
      <div class="border-box margin-top-5 close-button"> 
        <div class="box-inner no-padding button-wrapper">
          <button class="close save">{{localize "dc20rpg.dialog.config.update"}}</button>
        </div>
      </div>
    </div>
  </div>
</form>