<div id="compendium-browser">
  {{#if collectingData}}<div class="collecting-data-overlay"><span>{{localize "dc20rpg.dialog.compendiumBrowser.collectingData"}}</span></div>{{/if}}

  {{!-- Item Picker --}}
  <div class="item-picker-wrapper">
    {{!-- Item Selector --}}
    <div class="item-selector">
      {{#each collectedItems as |item index|}}
      <div class="item-row select-row {{#ifCond @root.selectedItem._id '===' item._id}}selected{{/ifCond}}" data-uuid="{{item.uuid}}" data-index="{{index}}", data-type="{{@root.itemType}}">
        <img class="item-img" src="{{item.img}}"/>
        <div class="item-name">{{item.name}}</div>
      </div>
      {{/each}}
    </div>

    <div class="item-info-wrapper">
      {{!-- Filters --}}
      <div class="filters">
        <div class="row">
          <span class="margin-left-5">{{localize 'dc20rpg.dialog.compendiumBrowser.itemType'}}</span>
          <select {{#if lockItemType}}disabled{{/if}} class="select-type">
            {{selectOptions allItemTypes selected=itemType}}
          </select>
        </div>

        {{#each filters}}
        <div class="row margin-top-3">
          <span class="margin-left-5">{{varLocalize 'dc20rpg.dialog.compendiumBrowser.' updatePath ''}}</span>
          {{!-- Text --}}
          {{#ifCond filterType '===' "text"}} 
          <input class="input" type="text" value="{{value}}" data-path="filters.{{updatePath}}.value"/>
          {{/ifCond}}

          {{!-- Select --}}
          {{#ifCond filterType '===' "select"}} 
          <select {{#if lockItemType}}disabled{{/if}} class="selectable" data-path="filters.{{updatePath}}.value">
            {{selectOptions options selected=value blank=""}}
          </select>
          {{/ifCond}}

          {{!-- Multi Select --}}
          {{#ifCond filterType '===' "multi-select"}} 
          <div class="multi-select-wrapper">
            {{#each value as |option optionKey|}}
            <div class="multi-select">
              <span class="margin-left-5 margin-right-5">{{varLocalize 'dc20rpg.dialog.compendiumBrowser.' optionKey ''}}</span>
              <a class="fa-lg activable {{#if option}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="filters.{{../updatePath}}.value.{{optionKey}}"></a>
            </div>
            {{/each}}
          </div>
          {{/ifCond}}
        </div>
        {{/each}}
      </div>

      {{!-- Description --}}
      <div class="item-description">
        <div class="item-row">
          {{#if selectedItem}}
          <img class="item-img" src="{{selectedItem.img}}"/>
          <div class="item-name">{{selectedItem.name}}</div>
          <a class="show-item fa-2x fa-solid fa-circle-info" title="{{localize 'dc20rpg.dialog.compendiumBrowser.showItem'}}"></a>
          <a class="add-item fa-2x fa-solid fa-circle-plus margin-left-2" title="{{localize 'dc20rpg.dialog.compendiumBrowser.addItem'}}"></a>
          {{/if}}
        </div>
        <div class="description">
          {{#if selectedItem}}
          {{{selectedItem.descriptionHTML}}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>