<form id="keyword-editor" class="dialog-v13 dialog-content standard-form {{cssClass}}">

  {{!-- Add new keyword --}}
  <fieldset>
    <legend>{{localize 'dc20rpg.dialog.keywordEditor.addKeyword'}}</legend>

    <div class="form-group">
      <label>{{localize "dc20rpg.item.sheet.keyword.key"}}</label>
      <input type="text" data-cType="string" data-path="newKeyword.key" value="{{newKeyword.key}}"/>
    </div>
    <div class="form-group">
      <label>{{localize "dc20rpg.item.sheet.keyword.message"}}</label>
      <input type="text" data-cType="string" data-path="newKeyword.message" value="{{newKeyword.message}}"/>
    </div>
    <div class="form-group">
      <label>{{localize "dc20rpg.item.sheet.keyword.selectOptions"}}</label>
      <input type="text" data-cType="string" data-path="newKeyword.selectOptions" value="{{newKeyword.selectOptions}}"/>
    </div>
    <button data-action="addKeyword" {{#unless newKeyword.key}}disabled{{/unless}}><i class="fa-solid fa-plus-square fa-lg margin-right-5"></i>{{localize "dc20rpg.dialog.keywordEditor.addKeyword"}}</button>
  </fieldset>

  {{!-- Modify current --}}
  {{#each keywords as |content key|}} 
  <fieldset>
    <div class="form-group">
      <label>{{localize 'dc20rpg.dialog.keywordEditor.modifyKeyword'}}: {{key}}</label>
      <a class="fa-solid fa-square-minus fa-lg" data-action="removeKeyword" data-keyword="{{key}}" title="{{localize 'dc20rpg.dialog.keywordEditor.removeKeyword'}}" style="display: flex; justify-content: end;"></a>
    </div>

    {{!-- Fields --}}
    <div class="form-group">
      <label>{{localize "dc20rpg.item.sheet.keyword.message"}}</label>
      <input type="text" data-cType="string" data-path="keywords.{{key}}.message" value="{{content.message}}"/>
    </div>
    <div class="form-group">
      <label>{{localize "dc20rpg.item.sheet.keyword.selectOptions"}}</label>
      <input type="text" data-cType="string" data-path="keywords.{{key}}.selectOptions" value="{{content.selectOptions}}"/>
    </div>

    {{!-- Items --}}
    <fieldset>
      <legend>{{localize 'dc20rpg.dialog.keywordEditor.linkedItems'}}</legend>
      <div class="form-group">
        <label>{{localize "dc20rpg.item.sheet.keyword.addItem"}}</label>
        <input type="text" data-cType="string" data-path="add-item" value="" data-keyword="{{key}}"/>
      </div>

      {{#each content.updateItems as |name id|}}
        <div class="form-group">
          <label>{{name}}</label>
          <a class="fa-solid fa-square-minus fa-lg" data-action="removeItem" data-keyword="{{../key}}" data-item-id="{{id}}" title="{{localize 'dc20rpg.dialog.keywordEditor.removeItemId'}}" style="display: flex; justify-content: end;"></a>
        </div>
      {{/each}}
    </fieldset>
  </fieldset>
  {{/each}}

  <footer class="form-footer">
    <button data-action="save">{{localize "dc20rpg.dialog.config.update"}}</button>
  </footer>
</form>