<form id="mix-ancestry-dialog" class="dialog-v13 dialog-content standard-form {{cssClass}}">
  <h4 class="divider">{{localize "dc20rpg.dialog.mixAncestry.title"}}</h4>

  <div class="form-group">
    <label>{{localize 'dc20rpg.dialog.mixAncestry.first'}}</label>
    <div class="form-fields">
      <select data-cType="string" data-path="ancestry1">
        {{selectOptions ancestries selected=ancestry1 blank=""}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label>{{localize 'dc20rpg.dialog.mixAncestry.second'}}</label>
    <div class="form-fields">
      <select data-cType="string" data-path="ancestry2">
        {{selectOptions ancestries selected=ancestry2 blank=""}}
      </select>
    </div>
  </div>

  <footer class="form-footer">
    <button {{#unless canMix}}disabled{{/unless}} data-action="mix"><i class="fa-solid fa-network-wired fa-lg margin-right-5"></i>{{localize "dc20rpg.dialog.mixAncestry.finish"}}</button>
  </footer>
</form>