<form id="resource-dialog" class="dialog-v2">
  <div class="row">
    <span>{{localize "dc20rpg.dialog.resource.key"}}</span>
    <input disabled class="input" type="text" value="{{resourceKey}}"/>
  </div>
  <div class="row margin-top-5">
    <span>{{localize "dc20rpg.dialog.resource.name"}}</span>
    <input class="input" type="text" value="{{name}}" data-path="system.resources.custom.{{resourceKey}}.name"/>
  </div>
  <div class="row margin-top-5">
    <span>{{localize "dc20rpg.dialog.resource.maxCharges"}}</span>
    <input class="formula input" type="text" value="{{maxFormula}}" data-path="system.resources.custom.{{resourceKey}}.maxFormula"/>
  </div>
  <div class="row margin-top-5">
    <span>{{localize "dc20rpg.dialog.resource.reset"}}</span>
    <select class="selectable" data-path="system.resources.custom.{{resourceKey}}.reset">
      {{selectOptions resetTypes selected=reset blank=""}}
    </select>
  </div>

  <button class="close save button margin-top-5">{{localize "dc20rpg.dialog.config.update"}}</button>
</form>