<form id="rest-dialog" class="dialog-v13 dialog-content standard-form {{cssClass}}">
  <h4 class="divider">{{localize "dc20rpg.dialog.rest.header"}}</h4>

  <fieldset>
    <legend>{{localize 'dc20rpg.dialog.rest.spendPoints'}}</legend>
    <p class="hint">{{localize 'dc20rpg.dialog.rest.spendPointsTip'}}</p>
    
    <div class="form-group spend-rest-points">
      <div class="form-fields">
        <span>{{restPoints.value}}</span>
        <span>/</span>
        <span>{{restPoints.max}}</span>
      </div>
      <div class="form-fields">
        <button data-action="rpSpend"><i class="fa-heart-circle-plus fa-solid"></i>{{localize "dc20rpg.dialog.rest.spend"}}</button>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{localize 'dc20rpg.dialog.rest.rest'}}</legend>

    <div class="form-group">
      <label>{{localize 'dc20rpg.dialog.rest.restType'}}</label>
      <div class="form-fields">
        <select data-cType="string" data-path="selectedRestType">
          {{selectOptions restTypes selected=selectedRestType}}
        </select>
      </div>
    </div>
    <hr/>

    <div class="form-group">
      <label>{{localize 'dc20rpg.dialog.rest.newDay'}}</label>
      <div class="form-fields">
        <input type="checkbox" data-cType="boolean" data-path="newDay" {{checked newDay}}/>
      </div>
      <p class="hint">{{localize 'dc20rpg.dialog.rest.newDayTip'}}</p>
    </div>

    {{#ifCond selectedRestType '===' 'long'}}
    <div class="form-group">
      <label>{{localize 'dc20rpg.dialog.rest.activity'}}</label>
      <div class="form-fields">
        <button data-action="activity"><i class="fa-solid {{#if noActivity}}fa-bed{{else}}fa-person-walking{{/if}} fa-lg margin-right-5"></i>
          {{#if noActivity}}{{localize "dc20rpg.dialog.rest.noActivity"}}{{else}}{{localize "dc20rpg.dialog.rest.lightActivity"}}{{/if}}
        </button>
      </div>
      <p class="hint">{{localize 'dc20rpg.dialog.rest.activityTip'}}</p>
    </div>
    <div class="form-group">
      <label>{{localize 'dc20rpg.dialog.rest.exhaustionDC'}}</label>
      <div class="form-fields">
        <span class="save-dc">{{rest.longRest.exhSaveDC}}</span>
      </div>
      <p class="hint">{{localize 'dc20rpg.dialog.rest.exhaustionTip'}}</p>
    </div>
    {{/ifCond}}

    <footer class="form-footer margin-top-5">
    {{#if resetButton}}
      <button data-action="resetRest"><i class="fa-solid fa-solid fa-rotate-right fa-lg fa-flip-vertical margin-right-5"></i>{{localize 'dc20rpg.dialog.rest.reset'}}</button>
    {{/if}}
    {{#if halfButton}}
      <button data-action="finishRest"><i class="fa-solid fa-campground fa-lg margin-right-5"></i>{{localize 'dc20rpg.dialog.rest.1stHalf'}}</button>
    {{else}}
      <button data-action="finishRest"><i class="fa-solid fa-campground fa-lg margin-right-5"></i>{{localize (concat 'dc20rpg.dialog.rest.finish.' selectedRestType '')}}</button> 
    {{/if}}
    </footer>
  </fieldset>
</form>