<form id="roll-request" class="dialog-v2">
  {{!-- Select Roll --}}
  <div class="row large">
    <span>{{localize "dc20rpg.dialog.rollRequest.selectRoll"}}</span>
    <select class="selectable">
      {{selectOptions rollOptions selected=selectedRoll blank=""}}
    </select>
  </div>

  {{!-- Actor Select --}}
  <div class="box-content">
    {{#if hasActors}}
    {{#each selectedActors as |actor actorId|}}
      <div class="actor">
        <div class="wrapper">
          <img src="{{actor.actor.img}}"/>
          <input disabled value="{{actor.actor.name}}"/>
        </div>
        <a class="activable" data-path="selectedActors.{{actorId}}.selected">
          <i class="fa-2x {{#if actor.selected}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}"></i>
        </a>
      </div>
    {{/each}}
    {{else}}
      <div class="actor">
        <div class="wrapper">
          <span>{{localize "dc20rpg.dialog.rollRequest.noPlayer"}}</span>
        </div>
      </div>
    {{/if}}
  </div>

  <button class="close roll-request button margin-top-5">{{localize "dc20rpg.dialog.rollRequest.title"}}</button>
</form>