<form id="roll-prompt" class="dialog-content dialog-v2">
  {{PARTIAL "Tooltip"}}
  <div class="border-box">
    <div class="box-inner">
      <div class="title-row">
        <label>{{localize "dc20rpg.dialog.rollPrompt.title"}}</label>
      </div>
      {{#if rollDetails.rollTitle}}
      <div class="sub-title">
        <label>{{rollDetails.rollTitle}}</label>
      </div>
      {{/if}}

      {{!-- Roll Menu --}}
      <div class="box-content roll-menu">
        <div class="column">
          <div class="sub-header">
            <span>{{localize 'dc20rpg.sheet.rollMenu.rollLevel'}}</span>
          </div>
          <div class="roll-level">
            <div class="toggle" title="{{localize 'dc20rpg.sheet.rollMenu.adv'}}">
              <span>Adv: </span>
              <a class="toggle-numeric adv"
                data-path="flags.dc20rpg.rollMenu.adv">{{flags.dc20rpg.rollMenu.adv}}</a>
            </div>
            {{#if itemRoll}}
            <div class="absolute-button">
              <a class="ap-for-adv square" data-path="flags.dc20rpg.rollMenu.apCost" title="{{localize 'dc20rpg.sheet.rollMenu.apCost'}}">
                <span class="fa-solid fa-dice-d6 dice"></span>
                <div class="value"><span>{{flags.dc20rpg.rollMenu.apCost}}</span></div>
              </a>
            </div>
            {{/if}}
            <div class="toggle" title="{{localize 'dc20rpg.sheet.rollMenu.dis'}}">
              <span>Dis: </span>
              <a class="toggle-numeric dis"
                data-path="flags.dc20rpg.rollMenu.dis">{{flags.dc20rpg.rollMenu.dis}}</a>
            </div>
          </div>
        </div>

        <div class="mid-column {{#if itemRoll}}margin-left-20{{/if}}">
          <div class="letter-circle-icon small clickable" title="{{localize 'dc20rpg.sheet.rollMenu.runRollLevelCheck'}}">
            <a class="roll-level-check fa-solid fa-magnifying-glass fa-lg"></a>    
          </div>
          {{#if itemRoll}}
          <div class="item-roll-options">
            <a class="item-activable" data-path="flags.dc20rpg.rollMenu.free" data-item-id="{{_id}}" title="{{localize 'dc20rpg.sheet.rollMenu.free'}}">
              <i class="fa-2x fa-piggy-bank{{#if flags.dc20rpg.rollMenu.free}} fa-solid{{else}} fa-regular{{/if}}"></i>
            </a>
            {{#if system.properties.reload.active}}
            <a class="reload-weapon" 
                {{#if system.usesWeapon.weaponAttack}}
                data-item-id="{{system.usesWeapon.weaponId}}"
                {{else}}
                data-item-id="{{_id}}"
                {{/if}}
                title="{{#if system.properties.reload.loaded}}{{localize 'dc20rpg.sheet.rollMenu.loaded'}}{{else}}{{localize 'dc20rpg.sheet.rollMenu.needToReload'}}{{/if}}">
              <i class="fa-2x fa-registered fa-solid" {{#unless system.properties.reload.loaded}}style="color:#f2001c !important"{{/unless}}></i>
            </a>
            {{/if}}
            {{#if system.properties.versatile.active}}
            <a class="item-activable" data-path="flags.dc20rpg.rollMenu.versatile" data-item-id="{{_id}}" title="{{localize 'dc20rpg.sheet.rollMenu.versatile'}}">
              <i class="fa-2x fa-hand{{#if flags.dc20rpg.rollMenu.versatile}} fa-solid{{else}} fa-regular{{/if}}"></i>
            </a>
            {{/if}}
            {{#ifCond system.duration.type '===' "concentration"}}
            <a class="item-activable" data-path="flags.dc20rpg.rollMenu.ignoreConcentration" data-item-id="{{_id}}" title="{{localize 'dc20rpg.sheet.rollMenu.ignoreConcentration'}}">
              <i class="fa-2x fa-head-side-cough-slash{{#if flags.dc20rpg.rollMenu.ignoreConcentration}} fa-solid{{else}} fa-regular{{/if}}"></i>
            </a>
            {{/ifCond}}
            <a class="item-activable" data-path="flags.dc20rpg.rollMenu.flanks" data-item-id="{{_id}}" title="{{localize 'dc20rpg.sheet.rollMenu.flanks'}}">
              <i class="fa-2x fa-left-right{{#if flags.dc20rpg.rollMenu.flanks}} fa-solid{{else}} fa-regular{{/if}}"></i>
            </a>
            <a class="item-activable" data-path="flags.dc20rpg.rollMenu.halfCover" data-item-id="{{_id}}" title="{{localize 'dc20rpg.sheet.rollMenu.halfCover'}}">
              <i class="fa-2x fa-shield-halved{{#if flags.dc20rpg.rollMenu.halfCover}} fa-solid{{else}} fa-regular{{/if}}"></i>
            </a>
            <a class="item-activable" data-path="flags.dc20rpg.rollMenu.tqCover" data-item-id="{{_id}}" title="{{localize 'dc20rpg.sheet.rollMenu.tqCover'}}">
              <i class="fa-2x fa-shield{{#if flags.dc20rpg.rollMenu.tqCover}} fa-solid{{else}} fa-regular{{/if}}"></i>
            </a>
          </div>
          {{/if}}
        </div>

        <div class="column help" title="{{localize 'dc20rpg.sheet.rollMenu.helpDices'}}">
          <div class="sub-header">
            <span>{{localize 'dc20rpg.sheet.rollMenu.helpDices'}}</span>
          </div>
          <div class="help-dices">
            {{!-- d8 --}}
            <a class="toggle-numeric diamond" data-path="flags.dc20rpg.rollMenu.d8"
              title="{{localize 'dc20rpg.sheet.rollMenu.d8'}}">
              <span class="fa-solid fa-diamond dice"></span>
              <div class="value"><span>{{flags.dc20rpg.rollMenu.d8}}</span></div>
            </a>
            {{!-- d6 --}}
            <a class="toggle-numeric square" data-path="flags.dc20rpg.rollMenu.d6"
              title="{{localize 'dc20rpg.sheet.rollMenu.d6'}}">
              <span class="fa-solid fa-square dice"></span>
              <div class="value"><span>{{flags.dc20rpg.rollMenu.d6}}</span></div>
            </a>
            {{!-- d4 --}}
            <a class="toggle-numeric triangle" data-path="flags.dc20rpg.rollMenu.d4"
              title="{{localize 'dc20rpg.sheet.rollMenu.d4'}}">
              <span class="fa-solid fa-play fa-rotate-270 dice"></span>
              <div class="value"><span>{{flags.dc20rpg.rollMenu.d4}}</span></div>
            </a>
          </div>
        </div>
      </div>

      {{!-- Enhancements --}}
      {{#if itemRoll}}
      <div class="enhancements">
        {{#each enhancements as |enhancement key|}}
        <div class="enh-row" data-enh-key="{{key}}" data-item-id="{{enhancement.itemId}}">
          <div class="margin-left-10 column name enh-tooltip" data-enh-key="{{key}}" data-item-id="{{enhancement.itemId}}">
            <div class="item-name">{{enhancement.name}}</div>
          </div>
          <div class="column usage" title="{{localize 'dc20rpg.sheet.itemTable.resources'}}">
            {{{cost-printer enhancement.resources enhancement.enhCosts true}}}
          </div>
          <div class="column enh-number">
            <a class="enh-use-number box" data-item-id="{{enhancement.itemId}}" data-path="system.enhancements.{{key}}.number" title="{{localize 'dc20rpg.sheet.itemTable.enhNumber'}}">
              <span>{{enhancement.number}}</span>
            </a>  
          </div>
        </div>
        {{/each}}
      </div>
      {{/if}}

      {{!-- Roll Button --}}
      <div class="border-box margin-top-5 close-button">
        <div class="box-inner no-padding button-wrapper">
          <button class="close rollable">{{rollDetails.label}}</button>
        </div>
      </div>
    </div>
  </div>
</form>