<form id="roll-prompt" class="dialog-content dialog-v2">
  <div class="border-box">
    <div class="box-inner">
      <div class="title-row">
        <label>{{localize "dc20rpg.dialog.rollPrompt.title"}}</label>
      </div>
      {{#if rollDetails.rollTitle}}
      <div class="sub-title">
        <label>{{rollDetails.rollTitle}}</label>
      </div>
      {{/if}}
      {{!-- Roll Button --}}
      <div class="border-box margin-top-5 close-button">
        <div class="box-inner no-padding button-wrapper">
          <button class="close rollable">{{rollDetails.label}}</button>
        </div>
      </div>

      {{!-- Roll Menu --}}
      <div class="box-content roll-menu">
        <div class="column">
          <div class="sub-header">
            <span>{{localize 'dc20rpg.sheet.rollMenu.rollLevel'}}</span>
          </div>
          <div class="roll-level">
            <div class="toggle" title="{{localize 'dc20rpg.sheet.rollMenu.adv'}}">
              <span>Adv: </span>
              <a class="toggle-actor-numeric adv"
                data-path="flags.dc20rpg.rollMenu.adv">{{flags.dc20rpg.rollMenu.adv}}</a>
            </div>
            <div class="toggle" title="{{localize 'dc20rpg.sheet.rollMenu.dis'}}">
              <span>Dis: </span>
              <a class="toggle-actor-numeric dis"
                data-path="flags.dc20rpg.rollMenu.dis">{{flags.dc20rpg.rollMenu.dis}}</a>
            </div>
          </div>
        </div>

        <div class="letter-circle-icon small clickable" title="{{localize 'dc20rpg.sheet.rollMenu.runRollLevelCheck'}}">
          <a class="roll-level-check fa-solid fa-magnifying-glass fa-lg"></a>    
        </div>

        <div class="column help" title="{{localize 'dc20rpg.sheet.rollMenu.helpDices'}}">
          <div class="sub-header">
            <span>{{localize 'dc20rpg.sheet.rollMenu.helpDices'}}</span>
          </div>
          <div class="help-dices">
            {{!-- d8 --}}
            <a class="toggle-actor-numeric diamond" data-path="flags.dc20rpg.rollMenu.d8"
              title="{{localize 'dc20rpg.sheet.rollMenu.d8'}}">
              <span class="fa-solid fa-diamond dice"></span>
              <div class="value"><span>{{flags.dc20rpg.rollMenu.d8}}</span></div>
            </a>
            {{!-- d6 --}}
            <a class="toggle-actor-numeric square" data-path="flags.dc20rpg.rollMenu.d6"
              title="{{localize 'dc20rpg.sheet.rollMenu.d6'}}">
              <span class="fa-solid fa-square dice"></span>
              <div class="value"><span>{{flags.dc20rpg.rollMenu.d6}}</span></div>
            </a>
            {{!-- d4 --}}
            <a class="toggle-actor-numeric triangle" data-path="flags.dc20rpg.rollMenu.d4"
              title="{{localize 'dc20rpg.sheet.rollMenu.d4'}}">
              <span class="fa-solid fa-play fa-rotate-270 dice"></span>
              <div class="value"><span>{{flags.dc20rpg.rollMenu.d4}}</span></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>