<form id="simple-popup" class="dialog-v13 dialog-content standard-form {{cssClass}}">

  {{#if header}}<h4 class="divider">{{header}}</h4>{{/if}}
  {{#if message}}<div class="message"><label>{{message}}</label></div>{{/if}}

  {{#if information}}
  <fieldset class="info-wrapper">
    {{#each information}}
    <div class="information">
      <span>{{this}}</span>
    </div>
    {{/each}}
  </fieldset>
  {{/if}}

  {{#if dropData}}
  <fieldset class="info-wrapper">
    <div class="information">
      {{#each dropData}}
      <span>{{this}}, </span>
      {{/each}}
    </div>
  </fieldset>
  {{/if}}

  {{#ifCond popupType '===' "input"}}{{#if inputs}}
  <fieldset class="input-fields">
    {{#each inputs as |input index|}}
    <div class="form-group">
      {{#if input.label}}<label>{{input.label}}</label>{{/if}}
      {{!-- SELECT --}}
      {{#ifCond input.type '===' "select"}}
      <select data-cType="string" data-path="data.inputs.{{index}}.value">
        {{selectOptions input.options selected=input.value blank=""}}
      </select>
      {{/ifCond}}

      {{!-- INPUT --}}
      {{#ifCond input.type '===' "input"}}
      <input type="text" data-cType="string" data-path="data.inputs.{{index}}.value" value="{{input.value}}"/>
      {{/ifCond}}

      {{!-- CHECKBOX --}}
      {{#ifCond input.type '===' "checkbox"}}
      <input type="checkbox" data-cType="activable" data-path="data.inputs.{{index}}.value" {{checked input.value}}/>
      {{/ifCond}}

      {{#if input.hint}}<p class="hint">{{input.hint}}</p>{{/if}}
    </div>
    {{/each}}
  </fieldset>
  {{/if}}{{/ifCond}}

  {{#unless hideButtons}}
  <footer class="form-footer margin-top-5">
    {{#ifCond popupType '===' "confirm"}}
      <button data-action="confirm" data-option="confirm">{{confirmLabel}}</button>
      <button data-action="confirm" data-option="deny">{{denyLabel}}</button>
    {{else}}
      <button data-action="confirm">{{confirmLabel}}</button>
    {{/ifCond}}
  </footer>
  {{/unless}}
</form>