<form id="token-selector" class="dialog-v13 dialog-content standard-form {{cssClass}}">
  <h4 class="divider">{{localize "dc20rpg.dialog.tokenSelector.title"}}</h4>
  <div class="message"><label>{{label}}</label></div>

  {{!-- Actor Select --}}
  <div class="box-content">
    {{#each tokens as |token id|}}
    <div class="actor">
      <div class="wrapper">
        <img src="{{token.actor.img}}"/>
        <input disabled value="{{token.name}}"/>
      </div>
      <div class="buttons">
        <a class="fa-solid fa-bullseye fa-lg margin-right-10" data-action="ping" data-id="{{id}}" title="{{localize "dc20rpg.dialog.tokenSelector.ping"}}"></a>
        <a data-cType="activable" data-path="tokens.{{id}}.selectedToken" class="fa-2x {{#if token.selectedToken}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}"></a>
      </div>
    </div>
    {{/each}}
  </div>

  <button data-action="confirm"><i class="fa-solid fa-users-viewfinder fa-lg margin-right-5"></i>{{localize "dc20rpg.dialog.popup.confirm"}}</button>
</form>