<form id="configure-dialog" class="dialog-content">
  <div>
    <div class="big-input">
      {{#ifCond selectedFormulaKey '===' "flat"}}
        <input class="flat numeric-input" type="number" value="{{defenceValue}}" data-path="system.defences.{{defenceKey}}.normal"/>
      {{else}}
        <input disabled type="number" value="{{defenceValue}}"/>
      {{/ifCond}}
    </div>
    <div class="select-row">
      <span>Calculation Formula</span>
      <select class="selectable" data-path="system.defences.{{defenceKey}}.formulaKey">
        {{selectOptions defenceLabels selected=selectedFormulaKey}}
      </select>
    </div>
    <div class="input-row">
      {{#ifCond selectedFormulaKey '===' "custom"}}
        <input class="formula custom input" type="text" value="{{customFormula}}" data-path="system.defences.{{defenceKey}}.customFormula"/>
      {{else}}
        <input class="formula" disabled type="text" value="{{selectedFormula}}"/>
      {{/ifCond}}
    </div>
    <button class="save">Update</button>
  </div>
</form>