<div class="tab usage-tab" data-group="primary" data-tab="usage">
  <div class="usage config-container">
    <div class="title-separator">
      <label>Usage Costs</label>
    </div>
    {{PARTIAL "Core Resources"}}
    {{PARTIAL "Charges"}}
    {{PARTIAL "Other Item Usage"}}

  </div>
  <div class="usage config-container">
    <div class="title-separator">
      <label>Conditional Formula</label>
    </div>
    <div class="config-row">
      <label>Provides Conditional </label>
      <div class="right-part-row">
        <a class="activable fa-lg {{#if system.conditional.hasConditional}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.conditional.hasConditional"></a>
      </div>
    </div>
    {{#if system.conditional.hasConditional}}
    <div class="config-row">
      <label>Displayed Name </label>
      <input class="formula" type="text" name="system.conditional.name" value="{{system.conditional.name}}">
    </div>
    <div class="config-row">
      <label>Condition </label>
      <input class="formula" type="text" name="system.conditional.condition" value="{{system.conditional.condition}}">
    </div>
    <div class="config-row">
      <label>Bonus </label>
      <input class="formula" type="number" name="system.conditional.bonus" value="{{system.conditional.bonus}}">
    </div>
    <div class="config-row">
      <label>Use for </label>
      <input class="formula" type="text" name="system.conditional.useFor" value="{{system.conditional.useFor}}">
    </div>
    {{/if}}
  </div>
</div>