<div class="tab roll-tab" data-group="primary" data-tab="roll">
  <div class="roll config-container">
    <div class="title-separator">
      <label>Roll Details</label>
    </div>

    <div class="config-row">
      <label>Action Type </label>
      <select name="system.actionType">
        {{selectOptions @root.config.actionTypes selected=system.actionType blank=""}}
      </select>
    </div>

    {{#if (arrayIncludes system.actionType arrayString="dynamic attack healing")}}
      {{PARTIAL "Core Roll"}}
    {{/if}}

    {{#if (arrayIncludes system.actionType arrayString="dynamic attack healing other save")}}
      {{PARTIAL "Target"}}
    {{/if}}
  </div>

  <div class="action config-container">
    {{#if (arrayIncludes system.actionType arrayString="check contest")}}
      {{PARTIAL "Check"}}
    {{/if}}

    {{#if (arrayIncludes system.actionType arrayString="dynamic save")}}
      {{PARTIAL "Save"}}
    {{/if}}

    {{#if (arrayIncludes system.actionType arrayString="dynamic attack healing save other check")}}
      {{PARTIAL "Formulas"}}
    {{/if}} 
  </div>
</div>