<div class="weapon">
  <div class="weapon-info grid grid-3col">
    <div class="type" title="Weapon Type">
      <select name="system.type">
        {{selectOptions @root.config.weaponTypes selected=system.type blank=""}}
      </select>
    </div>
    <div class="category" title="Weapon Category">
      <select name="system.category">
        {{selectOptions @root.config.weaponCategories selected=system.category blank=""}}
      </select>
    </div>
    <div class="rarity" title="Rarity">
      <select name="system.rarity">
        {{selectOptions @root.config.rarities selected=system.rarity blank=""}}
      </select>
    </div>
  </div>
  <div class="weapon-dmg grid grid-7col">
    <div class="ap-cost grid-span-2" title="Action Points Usage Cost">
      {{{actionPoints system.usageCost.actionPointCost}}}
    </div>
    <div class="attack grid-span-2" title="Attack Roll Modifier">
      <span class="bold">To Hit: </span>
      <span>{{numberFormat system.rollModifier sign=true}} </span>
    </div>
    <div class="damage grid-span-3" title="Weapon Damage">
      <span class="bold">Damage: </span> 
      <span>{{system.damage}}{{#if system.properties.versatile.active}}({{system.properties.versatile.value}}){{/if}} </span>
      <span class="italic">{{capitalize system.damageType}}</span>
    </div>
  </div>
  
</div>