<section class="item-sheet-section tab core {{tabs.core.cssClass}}" data-group="sheet" data-tab="core">
  {{#if sheetData.infoBoxes}}
  <hr/>{{{sheetData.infoBoxes}}}
  {{/if}}
  <hr style="margin-bottom: 10px;"/>
  <div class="description-box">
    {{#if sheetFlags.editDescription}}
    <prose-mirror name="system.description" value="{{ system.description }}" document-uuid="{{ item.uuid }}" class="sized" compact>{{{ enriched.description }}}</prose-mirror>
    {{else}}
    {{#if editable}}
    <button type="button" class="description-edit-button" data-action="sheetEdit" data-key="editDescription" data-tooltip="{{localize 'dc20rpg.item.sheet.description'}}">
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
    {{/if}}
    <div class="editor editor-content">
      {{{enriched.description}}}
    </div>
    {{/if}}    
  </div>

  {{#if system.inventory}}
  <footer class="inventory-details">
    <label class="inventory-field" data-tooltip="{{localize 'dc20rpg.sheet.itemTable.cost'}}">
      <i class="fa-solid fa-coins"></i>
      <input type="number" name="system.price.value" value="{{system.price.value}}" min="0" step="1" {{#unless editable}}disabled{{/unless}}/>
      <select name="system.price.currency" {{#unless editable}}disabled{{/unless}}>
        {{selectOptions @root.config.DROPDOWN_DATA.currencyTypes selected=system.price.currency}}
      </select>
    </label>

    <label class="inventory-field" data-tooltip="{{localize 'dc20rpg.sheet.itemTable.quantity'}}">
      <i class="fa-solid fa-boxes-stacked"></i>
      <input type="number" name="system.quantity" value="{{system.quantity}}" min="0" step="1" {{#unless editable}}disabled{{/unless}}/>
    </label>

    <label class="inventory-field rarity" data-tooltip="Rarity">
      <i class="fa-solid fa-gem"></i>
      <input type="text" name="system.rarity" value="{{system.rarity}}" placeholder="Rarity" {{#unless editable}}disabled{{/unless}}/>
    </label>
  </footer>
  {{/if}}  
</section>
