<header class="item-sheet-header">
  <div class="extra-buttons">
    {{!-- Identify --}}
    {{#if system.inventory}} {{#if userIsGM}}
    <a class="fa-solid fa-eye" data-cType="activable" data-path="system.statuses.identified" data-tooltip="{{localize "dc20rpg.item.sheet.identify"}}"
    {{#unless system.statuses.identified}}style="background-color: #971f1f;"{{/unless}} ></a>
    {{/if}} {{/if}}

    {{!-- Item creator --}}
    {{#if (arrayIncludes type arrayString="weapon equipment spellFocus")}}
    <a class="fa-solid fa-screwdriver-wrench" data-action="openItemCreator" data-tooltip="{{localize "dc20rpg.item.sheet.openItemCreator"}}"></a>
    {{/if}}

    {{!-- <a class="fa-solid fa-plus"></a> --}}
  </div>

  <div class="item-img">
    <img src="{{img}}" data-edit="img" title="{{localize 'dc20rpg.sheet.editImage'}}"/>
  </div>

  <div class="item-header-details">
    <input class="item-name" name="name" type="text" value="{{name}}" placeholder="{{localize 'dc20rpg.item.sheet.name'}}"/>
    <div class="quick-detail-wrapper">
      {{#if quickDetail}}<div class="quick-item-detail">{{quickDetail}}</div>{{else}}<div></div>{{/if}}
      {{#if useCost}}{{{cost-printer useCost true true false true}}}{{else}}<div></div>{{/if}}
    </div>
  </div>
</header>
