<header class="item-sheet-header">
  <div class="extra-buttons">
    {{!-- <a class="fa-solid fa-x"></a> --}}
    {{!-- <a class="fa-solid fa-plus"></a> --}}
  </div>

  <div class="item-img">
    <img src="{{img}}" data-edit="img"/>
  </div>

  <div class="item-header-details">
    <input class="item-name" name="name" type="text" value="{{name}}" placeholder="{{localize 'dc20rpg.item.sheet.name'}}"/>
    <div class="quick-detail-wrapper">
      {{#if quickDetail}}<div class="quick-item-detail">{{quickDetail}}</div>{{else}}<div></div>{{/if}}
      {{#if useCost}}{{{cost-printer useCost true true false true}}}{{else}}<div></div>{{/if}}
    </div>
  </div>
</header>
