<section class="item-sheet-section tab magic standard-form {{tabs.magic.cssClass}}" data-group="sheet" data-tab="magic">
<div class="scrollable">
  <div class="sub-header margin-top-10">
    <label>{{localize "dc20rpg.item.sheet.infusions.title"}}</label>
    <a class="fa-solid fa-square-plus fa-lg" data-action="addMagicProperty" data-tooltip="{{localize "dc20rpg.item.sheet.infusions.add"}}"></a>
  </div>
  {{#each system.infusions as |infusion key|}}
  <div class="content-wrapper">
    <div class="form-group magic-property" data-hover="tooltip" data-tooltip-type="item" data-item-uuid="{{infusion.infusionItemUuid}}">
      <div class="left-part-row">
        {{#if infusion.img}}
        <img src="{{infusion.img}}"/>
        {{else}}
        <img src="icons/magic/control/debuff-chains-green.webp"/>
        {{/if}}
        <label>{{infusion.name}}</label>
      </div>
      <div class="right-part-row">
        {{#if infusion.tags.uses.active}}
          <input style="width: 50%; margin-right:5px;" type="text" data-dType="Number" name="system.infusions.{{key}}.tags.uses.current" value="{{infusion.tags.uses.current}}">
          {{#if infusion.tags.uses.limited}}
          <span style="width: 30%;"> ({{localize 'dc20rpg.item.sheet.infusions.limited'}})</span>
          {{else}}
          <span style="width: 30%;"> /{{infusion.tags.uses.max}}</span>
          {{/if}}
        {{/if}}
        <a class="fa-lg fa-trash fa-solid margin-left-5" data-action="removeMagicProperty" data-key="{{key}}" title="{{localize 'dc20rpg.item.sheet.infusions.remove'}}"></a>
      </div>
    </div>
  </div>
  {{/each}}
</div>
</section>