<form class="{{cssClass}} {{item.type}} item_v2" autocomplete="off">
  <header class="item-sheet-header">

    {{PARTIAL "Header"}}
  </header>

  {{!-- Tooltip --}}
  {{PARTIAL "Tooltip"}}

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description"><span>{{localize 'dc20rpg.item.sheet.description'}}</span></a>
    <a class="item" data-tab="config"><span>{{localize 'dc20rpg.item.sheet.config.tab'}}</span></a>
    <a class="item" data-tab="infusion"><span>{{localize 'dc20rpg.item.sheet.infusion.tab'}}</span></a>
    <a class="item" data-tab="roll"><span>{{localize 'dc20rpg.item.sheet.roll'}}</span></a>
    <a class="item" data-tab="advanced"><span>{{localize 'dc20rpg.item.sheet.advanced'}}</span></a>
  </nav>

  <section class="item-sheet-body">
    <div class="tab description-tab content padding-7" data-group="primary" data-tab="description">
      <div class="description-box">
        {{editor enriched.description target="system.description" button=true editable=editable engine="prosemirror"}}
      </div>
    </div>

    <div class="tab config-tab content padding-7" data-group="primary" data-tab="config">
      {{PARTIAL "Basic Config"}}
    </div>

    <div class="tab infusion-tab content padding-7" data-group="primary" data-tab="infusion">
      <div class="row margin-top-5">
        <span>{{localize "dc20rpg.item.sheet.infusion.power"}}</span>
        <div class="left-part-row">
          <a class="fa-lg activable {{#if system.infusion.variablePower}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.infusion.variablePower" title="{{localize "dc20rpg.item.sheet.infusion.variablePower"}}" style="margin-right: 5px; margin-left: auto;"></a>
        </div>
        <input type="text" {{#if system.infusion.variablePower}}disabled value="?"{{else}}name="system.infusion.power" value="{{system.infusion.power}}"{{/if}} data-dtype="Number" placeholder="-">
      </div>
      <div class="row margin-top-5">
        <span>{{localize "dc20rpg.item.sheet.infusion.infusionKey"}}</span>
        <input type="text" name="system.infusion.infusionKey" value="{{system.infusion.infusionKey}}" placeholder="-">
      </div>
      <div class="row margin-top-5" title="{{localize "dc20rpg.item.sheet.infusion.costReductionTitle"}}">
        <span>{{localize "dc20rpg.item.sheet.infusion.costReduction"}}</span>
        <input type="text" name="system.infusion.costReduction" value="{{system.infusion.costReduction}}" data-dtype="Number" placeholder="-">
      </div>

      <div class="sub-header margin-top-5">
        <span>{{localize "dc20rpg.item.sheet.infusion.tags"}}</span>
      </div>
      <div class="properties">
        <div class="grid grid-5col grid-gap-5 margin-top-3">
          {{#each system.infusion.tags as |tag key|}}
            <a class="activable-box activable {{#if tag.active}}active{{/if}}" data-path="system.infusion.tags.{{key}}.active">
              {{tag.label}}
            </a>
          {{/each}}
        </div>
      </div>

      {{#if system.infusion.tags.uses.active}}
      <div class="row margin-top-5" title="{{localize "dc20rpg.item.sheet.infusion.limitedTitle"}}">
        <span>{{localize "dc20rpg.item.sheet.infusion.limited"}}</span>
        <a class="fa-lg activable {{#if system.infusion.tags.uses.limited}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.infusion.tags.uses.limited"></a>
      </div>
      <div class="row margin-top-5">
        <span>{{localize "dc20rpg.item.sheet.infusion.usesMax"}}</span>
        <input type="text" name="system.infusion.tags.uses.max" value="{{system.infusion.tags.uses.max}}" placeholder="-">
      </div>
      {{#unless system.infusion.tags.uses.limited}}
      <div class="row margin-top-5">
        <span>{{localize "dc20rpg.item.sheet.infusion.usesResetOn"}}</span>
        <select name="system.infusion.tags.uses.reset">
          {{selectOptions @root.config.DROPDOWN_DATA.restTypesDaily selected=system.infusion.tags.uses.reset blank=""}}
        </select>
      </div>
      {{/unless}}
      {{/if}}

      {{#if system.infusion.tags.charges.active}}
      <div class="row margin-top-5">
        <span>{{localize "dc20rpg.item.sheet.infusion.chargesMax"}}</span>
        <input type="text" name="system.infusion.tags.charges.max" value="{{system.infusion.tags.charges.max}}" placeholder="-">
      </div>
      <div class="row margin-top-5">
        <span>{{localize "dc20rpg.item.sheet.infusion.chargesResetOn"}}</span>
        <select name="system.infusion.tags.charges.reset">
          {{selectOptions @root.config.DROPDOWN_DATA.chargesResets selected=system.infusion.tags.charges.reset blank=""}}
        </select>
      </div>
      {{/if}}

      {{#if system.infusion.tags.weapon.active}}
      <div class="row margin-top-5">
        <span>{{localize "dc20rpg.item.sheet.infusion.melee"}}</span>
        <a class="fa-lg activable {{#if system.infusion.tags.weapon.melee}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.infusion.tags.weapon.melee"></a>
      </div>
      <div class="row margin-top-5">
        <span>{{localize "dc20rpg.item.sheet.infusion.ranged"}}</span>
        <a class="fa-lg activable {{#if system.infusion.tags.weapon.ranged}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.infusion.tags.weapon.ranged"></a>
      </div>
      <div class="row margin-top-5">
        <span>{{localize "dc20rpg.item.sheet.infusion.ammo"}}</span>
        <a class="fa-lg activable {{#if system.infusion.tags.weapon.ammo}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.infusion.tags.weapon.ammo"></a>
      </div>
      {{/if}}

      <div class="sub-header margin-top-5">
        <span>{{localize "dc20rpg.item.sheet.infusion.infuse"}}</span>
      </div>
      <div class="content-wrapper">
        <div class="row">
          <span>{{localize "dc20rpg.item.sheet.infusion.effects"}}</span>
          <a class="fa-lg activable {{#if system.infusion.copy.effects}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.infusion.copy.effects"></a>
        </div>
        <div class="row margin-top-5">
          <span>{{localize "dc20rpg.item.sheet.infusion.enhancements"}}</span>
          <a class="fa-lg activable {{#if system.infusion.copy.enhancements}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.infusion.copy.enhancements"></a>
        </div>
        <div class="row margin-top-5">
          <span>{{localize "dc20rpg.item.sheet.infusion.macros"}}</span>
          <a class="fa-lg activable {{#if system.infusion.copy.macros}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.infusion.copy.macros"></a>
        </div>
        <div class="row margin-top-5">
          <span>{{localize "dc20rpg.item.sheet.infusion.conditionals"}}</span>
          <a class="fa-lg activable {{#if system.infusion.copy.conditionals}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.infusion.copy.conditionals"></a>
        </div>
        <div class="row margin-top-5">
          <span>{{localize "dc20rpg.item.sheet.infusion.formulas"}}</span>
          <a class="fa-lg activable {{#if system.infusion.copy.formulas}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.infusion.copy.formulas"></a>
        </div>
        <div class="row margin-top-5">
          <span>{{localize "dc20rpg.item.sheet.infusion.rollRequests"}}</span>
          <a class="fa-lg activable {{#if system.infusion.copy.rollRequests}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.infusion.copy.rollRequests"></a>
        </div>
        <div class="row margin-top-5">
          <span>{{localize "dc20rpg.item.sheet.infusion.againstStatuses"}}</span>
          <a class="fa-lg activable {{#if system.infusion.copy.againstStatuses}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.infusion.copy.againstStatuses"></a>
        </div>
        <div class="row margin-top-5" title='{{localize "dc20rpg.item.sheet.infusion.toggleTitle"}}'>
          <span>{{localize "dc20rpg.item.sheet.infusion.toggle"}}</span>
          <a class="fa-lg activable {{#if system.infusion.copy.toggle}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.infusion.copy.toggle"></a>
        </div>
      </div>

    </div>

    {{PARTIAL "Roll"}}
    {{PARTIAL "Advanced"}}
  </section>
</form>