<form class="{{cssClass}} {{item.type}} item_v2" autocomplete="off">
  <header class="item-sheet-header">
    {{PARTIAL "Header"}}
  </header>

  {{!-- Tooltip --}}
  {{PARTIAL "Tooltip"}}

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description"><span>{{localize 'dc20rpg.item.sheet.description'}}</span></a>
    <a class="item" data-tab="config"><span>{{localize 'dc20rpg.item.sheet.config.tab'}}</span></a>
    <a class="item" data-tab="roll"><span>{{localize 'dc20rpg.item.sheet.roll'}}</span></a>
    <a class="item" data-tab="advanced"><span>{{localize 'dc20rpg.item.sheet.advanced'}}</span></a>
  </nav>

  <section class="item-sheet-body">
    <div class="tab description-tab content" data-group="primary" data-tab="description">
      <div class="description-box">
        {{editor enriched.description target="system.description" button=true editable=editable engine="prosemirror"}}
      </div>
    </div>

    <div class="tab config-tab content" data-group="primary" data-tab="config">
      <div class="row margin-top-5">
        <span>{{localize "dc20rpg.item.sheet.technique.techniqueType"}}</span>
        <select name="system.techniqueType">
          {{selectOptions @root.config.techniqueTypes selected=system.techniqueType blank=""}}
        </select>
      </div>
      <div class="row margin-top-5">
        <span>{{localize "dc20rpg.item.sheet.technique.techniqueOrigin"}}</span>
        <input type="text" name="system.techniqueOrigin" value="{{system.techniqueOrigin}}" placeholder="-">
      </div>
      <div class="row margin-top-5">
        <span>{{localize "dc20rpg.item.sheet.technique.countToLimit"}}</span>
        <a class="fa-lg activable {{#if system.knownLimit}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.knownLimit"></a>
      </div>
      <div class="row margin-top-5">
        <span>{{localize "dc20rpg.item.sheet.config.hasEffects"}}</span>
        <a class="fa-lg activable {{#if system.activableEffect.hasEffects}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.activableEffect.hasEffects"></a>
      </div>
      <div class="row margin-top-5">
        <span>{{localize "dc20rpg.item.sheet.config.isReaction"}}</span>
        <a class="fa-lg activable {{#if system.isReaction}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.isReaction"></a>
      </div>
      <div class="row margin-top-5">
        <span>{{localize "dc20rpg.item.sheet.config.useWeapon"}}</span>
        <a class="fa-lg activable {{#if system.usesWeapon.weaponAttack}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.usesWeapon.weaponAttack"></a>
      </div>
    </div>

    {{PARTIAL "Roll"}}
    {{PARTIAL "Advanced"}}
  </section>
</form>