<form id="advancement-dialog" class="dialog-v2">
  {{#if applyingAdvancement}}<div class="applying-advancement-overlay"><span>{{localize "dc20rpg.dialog.advancement.applyingAdvancement"}}</span></div>{{/if}}
  <header>{{localize "dc20rpg.dialog.advancement.title"}}</header>

  <div class="wrapper">
    <div class="left-column">
      {{PARTIAL "Tooltip"}}
      <img class="actor-img" src="{{actor.img}}"/>
      <div class="level-change">

      </div>
      {{#each scalingValues}}
      <div class="scaling-value-row">
        <label>{{label}}</label>
        <div class="progress">
          <span>{{previous}}</span>
          <i class="fa-lg fa-solid fa-circle-right"></i>
          <span>{{current}}</span>
        </div>
      </div>
      {{/each}}
    </div>

    <div class="middle-column" {{#unless suggestionsOpen}}style="grid-column-end: span 2;"{{/unless}}>
      {{!-- TIPS --}}
      <div class="tip-wrapper">
        {{#each tips}}
          <img src="{{img}}" class="tip text-tooltip" data-img="{{img}}" data-text="{{tip}}">
        {{/each}}
      </div>

      {{!-- ATTRIBUTES AND SKILLS --}}
      {{#if showFinal}}
      <div class="points-spender-wrapper">
        {{!-- Attributes and Saves --}}
        <div class="header"><span>{{localize "dc20rpg.dialog.advancement.spendPoints"}}</span></div>
        {{#if points.attributePoints.left}}
        <div class="scaling-value-row margin-bottom-5 red-box">
          <label><b>{{localize "dc20rpg.sheet.attributes.pointsLeft"}}</b></label>
          <div class="progress">
            <span><b>{{points.attributePoints.left}}</b></span>
          </div>
        </div>
        {{/if}}
        {{#if points.savePoints.left}}
        <div class="scaling-value-row margin-bottom-5 red-box">
          <label><b>{{localize "dc20rpg.sheet.saveMastery.pointsLeft"}}</b></label>
          <div class="progress">
            <span><b>{{points.savePoints.left}}</b></span>
          </div>
        </div>
        {{/if}}
        <div class="attr-wrapper grid grid-4col">
          {{#each attributes as |attribute key|}}{{#ifCond key '!==' "prime"}}
          <div class="attr {{#ifCond @root.points.attributePoints.left '<=' 0}}maximum{{/ifCond}} {{#if attribute.maxPrime}}maximum{{/if}}" title="{{varLocalize 'dc20rpg.attributes.' key ''}}">
            <div class="atr-name">
              <label>{{attribute.label}}</label>
            </div>
            <div class="value">
              <input disabled class="input" type="number" value="{{attribute.value}}" data-dtype="Number">
            </div>
            <div class="buttons">
              <a class="sub-attr" data-key="{{key}}"><i class="fa-solid fa-square-minus"></i></a>
              <a class="save-mastery" title="Save Mastery" data-key="{{key}}"><i class="fa-shield {{#if attribute.saveMastery}}fa-solid{{else}}fa-regular{{/if}}"></i></a>
              <a class="add-attr" data-key="{{key}}"><i class="fa-solid fa-square-plus"></i></a>
            </div>
          </div>
          {{/ifCond}}{{/each}}
        </div>

        {{!-- Skills --}}
        <div class="header margin-top-15"><span>{{localize "dc20rpg.dialog.advancement.spendSkillPoints"}}</span></div>
        {{#if points.skillPoints.skill.left}}
        <div class="scaling-value-row margin-bottom-5 red-box">
          <label><b>{{localize "dc20rpg.dialog.skill.pointsLeft"}}</b></label>
          <div class="spender-wrapper">
            <a class="skill-point-converter" data-from="skill" data-to="knowledge" data-operation="convert" data-rate="2" title="{{localize "dc20rpg.sheet.skills.convertToKnowledge"}}">K</a>
            <a class="skill-point-converter" data-from="skill" data-to="trade" data-operation="convert" data-rate="1" title="{{localize "dc20rpg.sheet.skills.convertToTrade"}}">T</a>
            <div class="progress">
              <span>{{points.skillPoints.skill.left}}</span>
            </div>
          </div>
        </div>
        {{/if}}
        <div class="table grid grid-4col">
          {{#each skills as |skill key|}}{{#unless skill.knowledgeSkill}}
          <a class="skill-mastery skill-mastery-toggle {{#ifCond masteryLimit '===' mastery}}maximum{{/ifCond}} {{#ifCond @root.points.skillPoints.skill.left '<=' 0}}maximum{{/ifCond}}" data-type="skills" data-key="{{key}}">
            <span class="label">{{skill.label}}</span>
            <span>{{skill.masteryLabel}}</span>
          </a>
          {{/unless}}{{/each}}
        </div>

        {{!-- Knowledge --}}
        <div class="header margin-top-15"><span>{{localize "dc20rpg.dialog.advancement.spendKnowledgePoints"}}</span></div>
        {{#if points.skillPoints.knowledge.left}}
        <div class="scaling-value-row margin-bottom-5 red-box">
          <label><b>{{localize "dc20rpg.dialog.knowledge.pointsLeft"}}</b></label>
          <div class="spender-wrapper">
            <a class="skill-point-converter fa-solid fa-left" data-from="knowledge" data-to="skill" data-operation="revert" data-rate="2" title="{{localize "dc20rpg.sheet.skills.revertToSkill"}}"></a>
            <div class="progress">
              <span>{{points.skillPoints.knowledge.left}}</span>
            </div>
          </div>
        </div>
        {{/if}}
        <div class="table grid grid-4col">
          {{#each skills as |skill key|}}{{#if skill.knowledgeSkill}}
          <a class="skill-mastery skill-mastery-toggle {{#ifCond masteryLimit '===' mastery}}maximum{{/ifCond}} {{#ifCond @root.points.skillPoints.knowledge.left '<=' 0}}maximum{{/ifCond}}" data-type="skills" data-key="{{key}}">
            <span class="label">{{skill.label}}</span>
            <span>{{skill.masteryLabel}}</span>
          </a>
          {{/if}}{{/each}}
        </div>

        {{!-- Trade --}}
        <div class="header margin-top-15"><span>{{localize "dc20rpg.dialog.advancement.spendTradePoints"}}</span></div>
        {{#if points.skillPoints.trade.left}}
        <div class="scaling-value-row margin-bottom-5 red-box">
          <label><b>{{localize "dc20rpg.dialog.trade.pointsLeft"}}</b></label>
          <div class="spender-wrapper">
            <a class="skill-point-converter" data-from="trade" data-to="language" data-operation="convert" data-rate="2" title="{{localize "dc20rpg.sheet.skills.convertToLanguage"}}">L</a>
            <a class="skill-point-converter fa-solid fa-left" data-from="trade" data-to="skill" data-operation="revert" data-rate="1" title="{{localize "dc20rpg.sheet.skills.revertToSkill"}}"></a>
            <div class="progress">
              <span>{{points.skillPoints.trade.left}}</span>
            </div>
          </div>
        </div>
        {{/if}}
        <div class="table grid grid-4col">
          {{#each tradeSkills as |skill key|}}
          <a class="skill-mastery skill-mastery-toggle {{#ifCond masteryLimit '===' mastery}}maximum{{/ifCond}} {{#ifCond @root.points.skillPoints.trade.left '<=' 0}}maximum{{/ifCond}}" data-type="tradeSkills" data-key="{{key}}">
            <span class="label">{{skill.label}}</span>
            <span>{{skill.masteryLabel}}</span>
          </a>
          {{/each}}
        </div>

        {{!-- Languange --}}
        <div class="header margin-top-15"><span>{{localize "dc20rpg.dialog.advancement.spendLanguagePoints"}}</span></div>
        {{#if points.skillPoints.language.left}}
        <div class="scaling-value-row margin-bottom-5 red-box">
          <label><b>{{localize "dc20rpg.dialog.language.pointsLeft"}}</b></label>
          <div class="spender-wrapper">
            <a class="skill-point-converter fa-solid fa-left" data-from="language" data-to="trade" data-operation="revert" data-rate="2" title="{{localize "dc20rpg.sheet.skills.revertToTrade"}}"></a>
            <div class="progress">
              <span>{{points.skillPoints.language.left}}</span>
            </div>
          </div>
        </div>
        {{/if}}
        <div class="table grid grid-4col">
          {{#each languages as |skill key|}}
          <a class="skill-mastery language-mastery-toggle {{#ifCond masteryLimit '===' mastery}}maximum{{/ifCond}} {{#ifCond @root.points.skillPoints.language.left '<=' 0}}maximum{{/ifCond}}" data-path="system.languages.{{key}}.mastery">
            <span class="label">{{skill.label}}</span>
            <span>{{skill.masteryLabel}}</span>
          </a>
          {{/each}}
        </div>
      </div>
      {{else}}

      {{!-- SUBCLASS SELECTION --}}
      {{#if selectSubclass}}
      <div class="advancement-table margin-top-5">
        <div class="header">{{localize "dc20rpg.dialog.advancement.selectSubclass"}}</div>

        <div class="item-list">
          <div class="item-header" style="grid-template-columns: 1fr 100px !important;">
            <div class="column name">
              <span class="margin-left-10" >{{localize "dc20rpg.dialog.advancement.table.subclassName"}}</span>
            </div>
            <div class="column" title="{{localize "dc20rpg.dialog.advancement.table.select"}}">
              <i class="fa-solid fa-check"></i>
            </div>
          </div>
          {{#each selectSubclass as |item key|}}
          <div class="item-row" style="grid-template-columns: 1fr 100px !important;">
            <div class="column name item-tooltip" data-source="subclass-select" data-item-key="{{item.uuid}}">
              <i class="item-img"><img src="{{item.img}}"/></i>
              <div class="item-name">{{name}}</div>
            </div>
            <div class="column config" title="{{localize "dc20rpg.dialog.advancement.table.select"}}">
              <a class="select-subclass fa-solid fa-lg fa-square-plus" data-uuid="{{item.uuid}}"></a>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      {{else}}

      {{!-- PATH SELECTOR --}}
      {{#if advancement.progressPath}}
      <div class="path-selector-wrapper margin-top-5">
        <div class="header">{{localize "dc20rpg.dialog.advancement.progressPathTitle"}}</div>
        <div class="picker">
          <a class="path-selector path-tooltip" data-mastery="martial"> 
            <img src="systems/dc20rpg/images/dialog/advancement/martial-mastery.jpg" class="martial {{#ifCond advancement.mastery '!==' "martial"}}disabled{{/ifCond}}">
          </a>
          <a class="path-selector path-tooltip" data-mastery="spellcaster"> 
            <img src="systems/dc20rpg/images/dialog/advancement/spellcaster-mastery.jpg" class="spellcaster {{#ifCond advancement.mastery '!==' "spellcaster"}}disabled{{/ifCond}}">
          </a>
        </div>
      </div>
      {{/if}}

      {{!-- ITEM TABLE --}}
      <div class="advancement-table margin-top-5">
        <div class="header">
          {{#if advancement.customTitle}}{{advancement.customTitle}}{{else}}{{localize "dc20rpg.dialog.advancement.features"}}{{/if}}
        </div>
        {{#if advancement.mustChoose}}
        <div class="scaling-value-row margin-bottom-5 red-box">
          <label><b>{{localize "dc20rpg.dialog.advancement.pointsLeft"}}</b></label>
          <div class="progress">
            <span><b>{{advancement.pointsLeft}}</b></span>
          </div>
        </div>
        {{/if}}
        <div class="item-list {{#if advancement.mustChoose}}multiple-choice{{/if}}">
          <div class="item-header">
            <div class="column name">
              <span class="margin-left-10" >{{localize "dc20rpg.dialog.advancement.table.itemName"}}</span>
            </div>
            {{#if advancement.mustChoose}}
            <div class="column" title="{{localize "dc20rpg.dialog.advancement.table.cost"}}">
              <i class="fa-solid fa-coins"></i>
            </div>
            {{/if}}
            <div class="column" title="{{localize "dc20rpg.dialog.advancement.table.select"}}">
              <i class="fa-solid fa-check"></i>
            </div>
            <div class="column config">
              <i class="fa-solid fa-gear"></i>
            </div>
          </div>
          {{#each advancement.items as |item key|}}
          <div class="item-row">
            <div class="column name item-tooltip" data-source="advancement" data-item-key="{{key}}">
              <i class="item-img"><img src="{{item.img}}"/></i>
              <div class="item-name">{{name}}</div>
            </div>
            {{#if @root.advancement.mustChoose}}
              <div class="column quantity" title="{{localize "dc20rpg.dialog.advancement.table.pointsCost"}}">
                <input {{#unless item.removable}}disabled{{/unless}} class="numeric-input" type="number" value="{{item.pointValue}}" data-path="items.{{key}}.pointValue"/>
              </div>
              <div class="column config" title="{{localize "dc20rpg.dialog.advancement.table.select"}}">
                {{#if item.mandatory}}
                <i class="fa-solid fa-lg fa-check-to-slot"></i>
                {{else}}
                <a class="activable fa-lg {{#if item.selected}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="items.{{key}}.selected"></a>
                {{/if}}
              </div>
            {{else}}
              <div class="column config" title="{{localize "dc20rpg.dialog.advancement.table.selected"}}">
                <i class="fa-solid fa-check-to-slot"></i>
              </div>
            {{/if}}
              <div class="column config">
                {{#if item.removable}}
                <a class="item-delete fas fa-trash" data-key="{{key}}" title="{{localize "dc20rpg.dialog.advancement.table.remove"}}"></a>
                {{/if}}
                {{#if item.canBeCounted}}
                <a class="activable fa-book {{#if item.ignoreKnown}}fa-solid{{else}}fa-regular{{/if}}" data-path="items.{{key}}.ignoreKnown" title="{{localize "dc20rpg.dialog.advancement.table.ignoreKnown"}}"></a>
                {{/if}}
              </div>
          </div>
          {{/each}}

          {{#if advancement.allowToAddItems}}
          <a class="item-row open-item-suggestions" title="{{localize "dc20rpg.dialog.advancement.openItemSuggestions"}}">
            <img src="icons/svg/chest.svg"/>
            <span>{{#if advancement.addItemsOptions.helpText}} {{advancement.addItemsOptions.helpText}} {{else}} {{localize "dc20rpg.dialog.advancement.canAddItems"}} {{/if}}</span>
          </a>
          {{/if}}
        </div>
      </div>

      {{/if}}{{/if}}
    </div>

    {{#if suggestionsOpen}}
    <div class="right-column">
      <div class="button-wrapper">
        <div class="buttons">
          <a class="activable margin-right-5 fa-solid {{#if advancement.hideRequirementMissing}}fa-eye-slash{{else}}fa-eye{{/if}}" data-path="hideRequirementMissing" title="{{localize "dc20rpg.sheet.hideRequirementMissing"}}"></a>
          <a class="activable fa-sack-xmark {{#if advancement.showOwned}}fa-solid{{else}}fa-regular{{/if}}" data-path="showOwned" title="{{localize "dc20rpg.dialog.advancement.showOwned"}}"></a>
        </div>
        <div class="buttons">
          <a class="open-compendium-browser margin-right-5 fa-solid fa-book-atlas" title="{{localize "dc20rpg.sheet.openCompendium"}}"></a>
          <a class="close-item-suggestions fa-lg fa-solid fa-square-xmark" title="{{localize "dc20rpg.sheet.closeSuggestions"}}"></a>
        </div>
      </div>

      <div class="header">
        {{localize "dc20rpg.dialog.advancement.suggestions"}}
      </div>

      {{#if advancement.addItemsOptions.talentFilter}}
      <div class="filter-wrapper">
        {{#unless (arrayIncludes advancement.talentFilterType arrayString="general class")}}
        <a class="multiclass-tooltip fa-lg fa-solid fa-circle-question"></a>
        {{/unless}}
        <span class="header">{{localize "dc20rpg.dialog.advancement.talentFilterType"}}</span>
        <select class="selectable" data-path="talentFilterType">
          {{selectOptions talentFilterTypes selected=advancement.talentFilterType}}
        </select>

        {{#unless (arrayIncludes advancement.talentFilterType arrayString="general class")}}
        <span class="header margin-top-5">{{localize "dc20rpg.dialog.compendiumBrowser.feature.featureOrigin"}}</span>
        <input class="input" data-path="talentFeatureOrigin" value="{{advancement.talentFeatureOrigin}}"/>
        {{/unless}}
      </div>
      {{/if}}

      <div class="item-list">
      {{#each suggestions}}
        <div class="item-row {{#if requirementMissing}}requirement-missing{{else}}add-edit-item{{/if}}" data-uuid="{{uuid}}" 
              {{#if requirementMissing}}
              title="{{requirementMissing}}"
              {{else}}
              title="{{localize "dc20rpg.dialog.advancement.openOrInfo"}}"
              {{/if}}
              >
          <div class="column name item-tooltip" data-source="suggestion" data-item-key="{{uuid}}">
            <i class="item-img"><img src="{{img}}"/></i>
            <div class="item-name">{{name}}</div>
          </div>
        </div>
      {{/each}}
      </div>
    </div>
    {{/if}}
  </div>

  <div class="footer">
    {{#if showFinal}}
    <button class="close finish button margin-top-5">{{localize "dc20rpg.dialog.advancement.finish"}}</button>
    {{else}}
    {{#if selectSubclass}}
    <button class="close skip button margin-top-5">{{localize "dc20rpg.dialog.advancement.skip"}}</button>
    {{else}}
    <button class="close apply button">{{localize "dc20rpg.dialog.advancement.apply"}}</button>
    {{/if}}{{/if}}
  </div>
</form>