{{!-- Top Row (Info info) --}}
<div class="top-row">
  <div class="item-name">
    <input name="name" type="text" value="{{item.name}}" title="{{localize 'DC20RPG.ItemName'}}" placeholder="{{localize 'DC20RPG.ItemName'}}"/>
  </div>
  {{#if type}}
  <div class="item-label">
    <div class="item-type">
      {{type}} 
    </div>
    <div class="item-subtype">
      {{subtype}}
    </div>
  </div>

  {{else}}
  <div class="item-label fallback">
    <div class="item-fallback">
      {{labelFromKey item.type @root.config.allItemTypes}} 
    </div>
  </div>
  {{/if}}
</div>