<div class="action">
  <div class="roll-details grid grid-12col">
    {{!-- Dynamic Roll Info --}}
    {{#if (arrayIncludes system.actionType arrayString="dynamic")}}
    <div class="roll grid-span-2" title="Roll Modifier">
      <span class="bold">Modifier:&nbsp </span>
      <span>{{numberFormat system.coreFormula.rollModifier sign=true}} </span>
    </div>
    <div class="dc grid-span-3" title="Difficulty Class">
      <span class="bold">DC:&nbsp </span>
      <span>{{system.save.dc}}&nbsp </span>
      <span>{{labelFromKey system.save.type config.saveTypes}} </span>
    </div>
    <div class="formula grid-span-7" title="Formula">
      {{#ifCond sheetData.damageFormula '!==' ""}}
      <span class="bold">Damage:&nbsp</span> 
      <span>{{{sheetData.damageFormula}}}&nbsp&nbsp</span>
      {{/ifCond}}
      {{#ifCond sheetData.healingFormula '!==' ""}}
      <span class="bold">Healing:&nbsp</span> 
      <span>{{{sheetData.healingFormula}}}</span>
      {{/ifCond}}
    </div>
    {{/if}}

    {{!-- Attack and Healing Save Roll Info --}}
    {{#if (arrayIncludes system.actionType arrayString="attack healing save")}}
    {{#ifCond system.actionType '===' "save"}}
    <div class="dc grid-span-4" title="Difficulty Class">
      <span class="bold">DC:&nbsp </span>
      <span>{{system.save.dc}}&nbsp </span>
      <span>{{labelFromKey system.save.type config.saveTypes}} </span>
    </div>
    {{else}}
    <div class="roll grid-span-4" title="Roll Modifier">
      <span class="bold">Modifier:&nbsp </span>
      <span>{{numberFormat system.coreFormula.rollModifier sign=true}} </span>
    </div>
    {{/ifCond}}
    <div class="formula grid-span-8" title="Formula">
      {{#ifCond sheetData.damageFormula '!==' ""}}
      <span class="bold">Damage:&nbsp</span> 
      <span>{{{sheetData.damageFormula}}}&nbsp&nbsp</span>
      {{/ifCond}}
      {{#ifCond sheetData.healingFormula '!==' ""}}
      <span class="bold">Healing:&nbsp</span> 
      <span>{{{sheetData.healingFormula}}}</span>
      {{/ifCond}}
    </div>
    {{/if}}

    {{!-- Skill and Contest --}}
    {{#if (arrayIncludes system.actionType arrayString="check contest")}}
    <div class="roll grid-span-6" title="Check">
      <span class="bold">Check:&nbsp </span>
      <span>{{labelFromKey system.check.checkKey config.checks}}</span>
    </div>
    <div class="formula grid-span-6" title="Contested Skill">
      {{#ifCond system.actionType '===' "contest"}}
      <span class="bold">Contest:&nbsp</span> 
      <span>{{labelFromKey system.check.contestedKey config.checks}}</span>
      {{/ifCond}}
    </div>
    {{/if}}
    
    {{!-- Other --}}
    {{#if (arrayIncludes system.actionType arrayString="other")}}
    <div class="formula grid-span-12" title="Formula">
      {{#ifCond sheetData.otherFormula '!==' ""}}
      <span class="bold">Other:&nbsp</span> 
      <span>{{{sheetData.otherFormula}}}</span>
      {{/ifCond}}
    </div>
    {{/if}}
  </div>
</div>