<div class="top-row">
  <div class="item-name">
    <input name="name" type="text" value="{{item.name}}" title="{{localize 'DC20RPG.ItemName'}}" placeholder="{{localize 'DC20RPG.ItemName'}}"/>
  </div>
  {{#if sheetData.type}}
  <div class="item-label">
    <div class="item-type">
      {{sheetData.type}} 
    </div>
    <div class="item-subtype">
      {{sheetData.subtype}}
    </div>
  </div>

  {{else}}
  <div class="item-label fallback">
    <div class="item-fallback">
      {{sheetData.fallbackType}} 
    </div>
  </div>
  {{/if}}
</div>