<div class="row-element box-with-icons grid-span-4">
  <div class="sector-header">
    <label>{{localize 'DC20RPG.Speed'}}</label>
  </div>
  <div class="big-icon speed" title="{{localize 'DC20RPG.GroundSpeed'}}">
    <input class="change-actor-numeric-value" {{#unless isNPC}} disabled {{/unless}} type="text" value="{{system.movement.speed.current}}" data-path="system.movement.speed.value" data-dtype="Number"/>
  </div>
  <div class="small-icon-container grid grid-4col">
    <div class="small-icon burrow" title="{{localize 'DC20RPG.BurrowSpeed'}}">
      <input class="change-actor-numeric-value" {{#unless isNPC}} disabled {{/unless}} type="text" value="{{system.movement.burrow.current}}" data-path="system.movement.burrow.value" data-dtype="Number"/>
    </div>
    <div class="small-icon climbing" title="{{localize 'DC20RPG.ClimbingSpeed'}}">
      <input class="change-actor-numeric-value" {{#unless isNPC}} disabled {{/unless}} type="text" value="{{system.movement.climbing.current}}" data-path="system.movement.climbing.value" data-dtype="Number"/>
    </div>
    <div class="small-icon swimming" title="{{localize 'DC20RPG.SwimingSpeed'}}">
      <input class="change-actor-numeric-value" {{#unless isNPC}} disabled {{/unless}} type="text" value="{{system.movement.swimming.current}}" data-path="system.movement.swimming.value" data-dtype="Number"/>
    </div>
    <div class="small-icon flying" title="{{localize 'DC20RPG.FlyingSpeed'}}">
      <input class="change-actor-numeric-value" {{#unless isNPC}} disabled {{/unless}} type="text" value="{{system.movement.flying.current}}" data-path="system.movement.flying.value" data-dtype="Number"/>
    </div>
  </div>
</div>
<div class="row-element box-with-icons grid-span-2">
  <div class="sector-header">
    <label>{{localize 'DC20RPG.Jump'}}</label>
  </div>
  <div class="big-icon jump">
    <input disabled type="text" value="{{system.jump.value}}" data-dtype="Number" title="{{localize 'DC20RPG.JumpDistance'}}"/>
  </div>
</div>