{{!-- Top Row (Character info) --}}
<div class="character-info">
  <div class="character-name">
    <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'DC20RPG.CharacterName'}}"/>
  </div>
  <div class="character-details-box">
    <div class="npc-box">
      <label> {{localize 'DC20RPG.CombatMastery'}} </label>
      <span> &nbsp {{system.details.combatMastery}} </span>
    </div>
    <div class="npc-box">
      {{localize 'DC20RPG.Level'}}  
      <input type="text" name="system.details.level" value="{{system.details.level}}" data-dtype="Number"/>
    </div>
  </div>
</div>

{{!-- Top Row (Character info 2nd row) --}}
<div class="character-info">
  <div class="character-details grid grid-3col">
    <div class="detail character-type">
      <input type="text" name="system.details.creatureType" value="{{system.details.creatureType}}" placeholder="{{localize 'DC20RPG.CreatureType'}}" title="{{localize 'DC20RPG.CreatureType'}}"/>
    </div>
    <div class="detail size">
      <select name="system.details.size" title="{{localize 'DC20RPG.Size'}}">
        {{selectOptions @root.config.sizes selected=system.details.size}}
      </select>
    </div>
    <div class="detail aligment">
      <input type="text" name="system.details.aligment" value="{{system.details.aligment}}" placeholder="{{localize 'DC20RPG.Aligment'}}" title="{{localize 'DC20RPG.Aligment'}}"/>
    </div>
  </div>
</div>