<div class="row-element box-with-icons grid-span-3">
  <div class="sector-header">
    <label>Phisical</label>
  </div>
  <div class="big-icon phisical">
    <input {{#ifCond system.defences.phisical.formulaKey '!==' "flat"}} disabled {{/ifCond}} 
      type="text" value="{{system.defences.phisical.value}}" name="system.defences.phisical.normal" data-dtype="Number" title="Phisical Defence"/>
  </div>
  <div class="small-icon-container grid grid-3col">
    <div class="small-icon heavy" title="Heavy Hit">
      <span>{{system.defences.phisical.heavy}}</span>
    </div>
    <div class="small-icon brutal" title="Brutal Hit">
      <span>{{system.defences.phisical.brutal}}</span>
    </div>
    <div class="config">
      <a class="config-pd fa-solid fa-gear" title="Configure Defence"></a>
    </div>
  </div>
</div>
<div class="row-element box-with-icons grid-span-3">
  <div class="sector-header">
    <label>Mental</label>
  </div>
  <div class="big-icon mental">
    <input {{#ifCond system.defences.mental.formulaKey '!==' "flat"}} disabled {{/ifCond}} 
      type="text" value="{{system.defences.mental.value}}" name="system.defences.mental.normal" data-dtype="Number" title="Mental Defence"/>
  </div>
  <div class="small-icon-container grid grid-3col">
    <div class="small-icon heavy" title="Heavy Hit">
      <span>{{system.defences.mental.heavy}}</span>
    </div>
    <div class="small-icon brutal" title="Brutal Hit">
      <span>{{system.defences.mental.brutal}}</span>
    </div>
    <div class="config">
      <a class="config-md fa-solid fa-gear" title="Configure Defence"></a>
    </div>
  </div>
</div>