<div class="attributes grid grid-5col">
  {{#each system.attributes as |attribute key|}}
  {{!-- Skip non editable attributes --}}
  {{#unless (arrayIncludes key arrayString="prime for gri")}}
  {{!-- Attributes --}}
  <div class="attribute-box {{#ifCond @root.system.details.primeAttrKey '===' key}}prime-attribute{{/ifCond}}">
    <div class="sector-header">
      <label class="bold"> {{attribute.label}} </label>
    </div>
    <div>
      <input type="text" name="system.attributes.{{key}}.value" value="{{attribute.value}}" data-dtype="Number"/>
    </div>
    <div class="buttons">
      <div class="roll-button check rollable" data-roll="d20+@attributes.{{key}}.check" data-label="{{attribute.label}} {{localize 'DC20RPG.Check'}}">
        <span class="original">{{numberFormat attribute.check decimals=0 sign=true}}</span>
        <span class="hovered">{{localize 'DC20RPG.Check'}}</span>
      </div>
      <div class="roll-button save rollable" data-roll="d20+@attributes.{{key}}.save" data-label="{{attribute.label}} {{localize 'DC20RPG.Save'}}">
        <span class="original">{{numberFormat attribute.save decimals=0 sign=true}}</span>
        <span class="hovered">{{localize 'DC20RPG.Save'}}</span>
      </div>
    </div>
    <div class="save-mastery-container">
      <a class="activable fa-circle {{#if attribute.saveMastery}}fa-solid{{else}}fa-regular{{/if}}"  
        data-path="system.attributes.{{key}}.saveMastery" title="Save Mastery"></a>
    </div>
  </div>
  {{/unless}}
  {{/each}}

  {{!-- Combined Attributes --}}
  <div class="combined-attributes">
    {{!-- Fortitude --}}
    <div class="attribute-box margin-bottom-3">
      <div class="sector-header">
        <label class="bold"> {{system.attributes.for.label}} </label>
      </div>
      <div class="buttons margin-top-5 margin-bottom-3">
        <div class="roll-button check rollable" data-roll="d20+@attributes.for.check" data-label="{{system.attributes.for.label}} {{localize 'DC20RPG.Check'}}">
          <span class="original">{{numberFormat system.attributes.for.check decimals=0 sign=true}}</span>
          <span class="hovered">{{localize 'DC20RPG.Check'}}</span>
        </div>
        <div class="roll-button save rollable" data-roll="d20+@attributes.for.save" data-label="{{system.attributes.for.label}} {{localize 'DC20RPG.Save'}}">
          <span class="original">{{numberFormat system.attributes.for.save decimals=0 sign=true}}</span>
          <span class="hovered">{{localize 'DC20RPG.Save'}}</span>
        </div>
      </div>
    </div>
    {{!-- Grit --}}
    <div class="attribute-box">
      <div class="sector-header">
        <label class="bold"> {{system.attributes.gri.label}} </label>
      </div>
      <div class="buttons margin-top-5 margin-bottom-3">
        <div class="roll-button check rollable" data-roll="d20+@attributes.gri.check" data-label="{{system.attributes.gri.label}} {{localize 'DC20RPG.Check'}}">
          <span class="original">{{numberFormat system.attributes.gri.check decimals=0 sign=true}}</span>
          <span class="hovered">{{localize 'DC20RPG.Check'}}</span>
        </div>
        <div class="roll-button save rollable" data-roll="d20+@attributes.gri.save" data-label="{{system.attributes.gri.label}} {{localize 'DC20RPG.Save'}}">
          <span class="original">{{numberFormat system.attributes.gri.save decimals=0 sign=true}}</span>
          <span class="hovered">{{localize 'DC20RPG.Save'}}</span>
        </div>
      </div>
    </div>
  </div>

</div>