<div class="resistances grid-span-6">
  <label>{{localize 'DC20RPG.Resistances'}}</label>
  <div class="resistance grid grid-5col">
    <div class="acid">
      <input type="text" value="{{system.resistances.acid}}" name="system.resistances.acid" data-dtype="Number" title="{{localize 'DC20RPG.AcidResistance'}}"/>
    </div>
    <div class="cold">
      <input type="text" value="{{system.resistances.cold}}" name="system.resistances.cold" data-dtype="Number" title="{{localize 'DC20RPG.ColdResistance'}}"/>
    </div>
    <div class="fire">
      <input type="text" value="{{system.resistances.fire}}" name="system.resistances.fire" data-dtype="Number" title="{{localize 'DC20RPG.FireResistance'}}"/>
    </div>
    <div class="force">
      <input type="text" value="{{system.resistances.force}}" name="system.resistances.force" data-dtype="Number" title="{{localize 'DC20RPG.ForceResistance'}}"/>
    </div>
    <div class="holy">
      <input type="text" value="{{system.resistances.holy}}" name="system.resistances.holy" data-dtype="Number" title="{{localize 'DC20RPG.HolyResistance'}}"/>
    </div>
    <div class="lightning">
      <input type="text" value="{{system.resistances.lightning}}" name="system.resistances.lightning" data-dtype="Number" title="{{localize 'DC20RPG.LightningResistance'}}"/>
    </div>
    <div class="poison">
      <input type="text" value="{{system.resistances.poison}}" name="system.resistances.poison" data-dtype="Number" title="{{localize 'DC20RPG.PoisonResistance'}}"/>
    </div>
    <div class="psychic">
      <input type="text" value="{{system.resistances.psychic}}" name="system.resistances.psychic" data-dtype="Number" title="{{localize 'DC20RPG.PsychicResistance'}}"/>
    </div>
    <div class="thunder">
      <input type="text" value="{{system.resistances.thunder}}" name="system.resistances.thunder" data-dtype="Number" title="{{localize 'DC20RPG.ThunderResistance'}}"/>
    </div>
    <div class="unholy">
      <input type="text" value="{{system.resistances.unholy}}" name="system.resistances.unholy" data-dtype="Number" title="{{localize 'DC20RPG.UnholyResistance'}}"/>
    </div>
    <div class="piercing">
      <input type="text" value="{{system.resistances.piercing}}" name="system.resistances.piercing" data-dtype="Number" title="{{localize 'DC20RPG.PiercingResistance'}}"/>
    </div>
    <div class="slashing">
      <input type="text" value="{{system.resistances.slashing}}" name="system.resistances.slashing" data-dtype="Number" title="{{localize 'DC20RPG.SlashingResistance'}}"/>
    </div>
    <div class="bludgeoning">
      <input type="text" value="{{system.resistances.bludgeoning}}" name="system.resistances.bludgeoning" data-dtype="Number" title="{{localize 'DC20RPG.BludgeoningResistance'}}"/>
    </div>
  </div>
</div>