<div class="row-element box-with-icons grid-span-3">
  <div class="sector-header">
    <label>Physical</label>
  </div>
  <div class="big-icon physical">
    <input class="change-actor-numeric-value" {{#ifCond system.defences.physical.formulaKey '!==' "flat"}} disabled {{/ifCond}} 
      type="text" value="{{system.defences.physical.value}}" data-path="system.defences.physical.normal" data-dtype="Number" title="Physical Defence"/>
  </div>
  <div class="small-icon-container grid grid-3col">
    <div class="small-icon heavy" title="Heavy Hit">
      <span>{{system.defences.physical.heavy}}</span>
    </div>
    <div class="small-icon brutal" title="Brutal Hit">
      <span>{{system.defences.physical.brutal}}</span>
    </div>
    <div class="config">
      <a class="config-pd fa-solid fa-gear" title="Configure Defence"></a>
    </div>
  </div>
</div>
<div class="row-element box-with-icons grid-span-3">
  <div class="sector-header">
    <label>Mental</label>
  </div>
  <div class="big-icon mental">
    <input class="change-actor-numeric-value" {{#ifCond system.defences.mental.formulaKey '!==' "flat"}} disabled {{/ifCond}} 
      type="text" value="{{system.defences.mental.value}}" data-path="system.defences.mental.normal" data-dtype="Number" title="Mental Defence"/>
  </div>
  <div class="small-icon-container grid grid-3col">
    <div class="small-icon heavy" title="Heavy Hit">
      <span>{{system.defences.mental.heavy}}</span>
    </div>
    <div class="small-icon brutal" title="Brutal Hit">
      <span>{{system.defences.mental.brutal}}</span>
    </div>
    <div class="config">
      <a class="config-md fa-solid fa-gear" title="Configure Defence"></a>
    </div>
  </div>
</div>