<div class="defence grid-span-3">
  <label>Phisical</label>
  <div class="phisical">
    <input type="text" value="{{system.defences.phisical.value}}" name="system.defences.phisical.value" data-dtype="Number" title="Phisical Defence"/>
  </div>
  <div class="hits grid grid-2col">
    <div class="heavy" title="Heavy Hit">
      <span>{{system.defences.phisical.heavy}}</span>
    </div>
    <div class="brutal" title="Brutal Hit">
      <span>{{system.defences.phisical.brutal}}</span>
    </div>
  </div>
</div>
<div class="defence grid-span-3">
  <label>Mental</label>
  <div class="mental">
    <input type="text" value="{{system.defences.mental.value}}" name="system.defences.mental.value" data-dtype="Number" title="Mental Defence"/>
  </div>
  <div class="hits grid grid-2col">
    <div class="heavy" title="Heavy Hit">
      <span>{{system.defences.mental.heavy}}</span>
    </div>
    <div class="brutal" title="Brutal Hit">
      <span>{{system.defences.mental.brutal}}</span>
    </div>
  </div>
</div>