<div class="row-element box-with-icons grid-span-4">
  <div class="sector-header">
    <label>{{localize 'DC20RPG.Speed'}}</label>
  </div>
  <div class="big-icon speed">
    <input disabled type="text" value="{{system.movement.speed.value}}" name="system.movement.speed.value" data-dtype="Number" title="{{localize 'DC20RPG.GroundSpeed'}}"/>
  </div>
  <div class="small-icon-container grid grid-4col">
    <div class="small-icon burrow" title="{{localize 'DC20RPG.BurrowSpeed'}}">
      <span>{{system.movement.burrow.value}}</span>
    </div>
    <div class="small-icon climbing" title="{{localize 'DC20RPG.ClimbingSpeed'}}">
      <span>{{system.movement.climbing.value}}</span>
    </div>
    <div class="small-icon swimming" title="{{localize 'DC20RPG.SwimingSpeed'}}">
      <span>{{system.movement.swimming.value}}</span>
    </div>
    <div class="small-icon flying" title="{{localize 'DC20RPG.FlyingSpeed'}}">
      <span>{{system.movement.flying.value}}</span>
    </div>
  </div>
</div>
<div class="row-element box-with-icons grid-span-2">
  <div class="sector-header">
    <label>{{localize 'DC20RPG.Jump'}}</label>
  </div>
  <div class="big-icon jump">
    <input disabled type="text" value="{{system.jump}}" data-dtype="Number" title="{{localize 'DC20RPG.JumpDistance'}}"/>
  </div>
</div>