<div class="defence grid-span-4">
  <label>{{localize 'DC20RPG.Speed'}}</label>
  <div class="speed">
    <input type="text" value="{{system.movement.speed.value}}" name="system.movement.speed.value" data-dtype="Number" title="{{localize 'DC20RPG.GroundSpeed'}}"/>
  </div>
  <div class="additional-speed grid grid-4col">
    <div class="burrow">
      <input type="text" value="{{system.movement.burrow.value}}" name="system.movement.burrow.value" data-dtype="Number" title="{{localize 'DC20RPG.BurrowSpeed'}}"/>
    </div>
    <div class="climbing">
      <input type="text" value="{{system.movement.climbing.value}}" name="system.movement.climbing.value" data-dtype="Number" title="{{localize 'DC20RPG.ClimbingSpeed'}}"/>
    </div>
    <div class="swimming">
      <input type="text" value="{{system.movement.swimming.value}}" name="system.movement.swimming.value" data-dtype="Number" title="{{localize 'DC20RPG.SwimingSpeed'}}"/>
    </div>
    <div class="flying">
      <input type="text" value="{{system.movement.flying.value}}" name="system.movement.flying.value" data-dtype="Number" title="{{localize 'DC20RPG.FlyingSpeed'}}"/>
    </div>
  </div>
</div>