<div class="row-element resistances grid-span-7">
  <div class="sector-header">
    <label>{{localize 'DC20RPG.Resistances'}}</label>
    <a class="config-resistances fa-solid fa-gear"></a>
  </div>
  {{!-- Magic Resistances --}}
  <div class="resistance grid grid-5col grid-no-gap grid-no-margin">
    {{#each display.resistances.magic as |resistance key|}}
      {{#if resistance.immune}}
      <div class="{{key}}" title="Immune">
        <span>Im</span>
      </div>
      {{else}}
      <div class="{{key}}" title="{{resistance.label}}">
        <span>{{resistance.value}}</span>
      </div>
      {{/if}}
    {{/each}}
  </div>
  {{!-- Phisical Resistances --}}
  <div class="resistance grid grid-3col grid-no-gap grid-no-margin">
    {{#each display.resistances.phisical as |resistance key|}}
    <div class="{{key}}">
      {{#if resistance.immune}}
      <div class="column" title="Immune">
        <span>Im</span>
      </div>
      {{else}}
      <div class="column" title="{{resistance.label}}">
        <span>{{resistance.value}}</span>
      </div>
      {{/if}}
      <div class="column ench-column">
        <div class="enchanting">
        {{#if resistance.nonSilvered}}
        <div class="fa-solid fa-weight-hanging fa-2xs" title="From Non-silvered Weapons"></div>
        {{else}}
        <div class="fa-regular fa-weight-hanging fa-2xs" title="From Non-silvered Weapons"></div>
        {{/if}}
        
        {{#if resistance.nonMagical}}
        <div class="fa-solid fa-wand-magic-sparkles fa-2xs" title="From Non-magical Weapons"></div>
        {{else}}
        <div class="fa-regular fa-wand-magic-sparkles fa-2xs" title="From Non-magical Weapons"></div>
        {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>