{{!-- 1st row (name, combat mastery)--}}
<div class="character-info">
  <div class="character-name">
    <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'DC20RPG.CharacterName'}}"/>
  </div>
  <div class="character-details-box">
    <div class="character-box">
      <label> {{localize 'DC20RPG.CombatMastery'}} </label>
      <span class="margin-left-3"> {{system.details.combatMastery}} </span>
    </div>
  </div>
</div>

{{!-- 2nd row (class, subclass, level) --}}
<div class="character-info">
  <div class="character-details grid grid-2col">

    {{!-- Class --}}
    {{#if class}}
    <div class="detail item" title="{{class.name}}">
      <img class="item-image" src="{{class.img}}"/>
      <span class="truncate">{{class.name}}</span>
      <div class="item-buttons">
        <div class="config">
          <a class="item-edit fas fa-edit" title="Edit Item" data-item-id="{{class._id}}"></a>
          <a class="item-delete fas fa-trash" title="Delete Item" data-item-id="{{class._id}}"></a>
        </div>
      </div>
    </div>
    {{else}}
    <div class="detail item" title="Character Class">
      <img class="item-image" src="icons/svg/mystery-man.svg"/>
      <span class="truncate">Class</span>
    </div>
    {{/if}}

    {{!-- Subclass --}}
    {{#if subclass}}
    <div class="detail item" title="{{subclass.name}}">
      <img class="item-image" src="{{subclass.img}}"/>
      <span class="truncate">{{subclass.name}}</span>
      <div class="item-buttons">
        <div class="config">
          <a class="item-edit fas fa-edit" title="Edit Item" data-item-id="{{subclass._id}}"></a>
          <a class="item-delete fas fa-trash" title="Delete Item" data-item-id="{{subclass._id}}"></a>
        </div>
      </div>
    </div>
    {{else}}
    <div class="detail item" title="Character Subclass">
      <img class="item-image" src="icons/svg/ice-aura.svg"/>
      <span class="truncate">Subclass</span>
    </div>
    {{/if}}
  </div>

  {{!-- Level --}}
  <div class="character-details-box">
    <div class="character-box">
      <label> {{localize 'DC20RPG.Level'}} </label>
      <span class="margin-left-3"> {{system.details.level}} </span>
      {{#if class}}
      <div class="level-buttons margin-left-3">
        {{#ifCond class.system.level '!==' 20}}  
          <a class="level fa-solid fa-circle-up" title="Level Up" data-up="true" data-item-id="{{class._id}}"></a>
        {{/ifCond}}
        {{#ifCond class.system.level '!==' 1}}  
          <a class="level fa-solid fa-circle-down" title="Level Down" data-up="false" data-item-id="{{class._id}}"></a>
        {{/ifCond}}
      </div>
      {{/if}}
    </div>
  </div>
</div>

{{!-- 3rd row (ancestry, background, size) --}}
<div class="character-info">
  <div class="character-details grid grid-3col">
    {{!-- Ancestry --}}
    {{#if ancestry}}
    <div class="detail item" title="{{ancestry.name}}">
      <img class="item-image" src="{{ancestry.img}}"/>
      <span class="truncate">{{ancestry.name}}</span>
      <div class="item-buttons">
        <div class="config">
          <a class="item-edit fas fa-edit" title="Edit Item" data-item-id="{{ancestry._id}}"></a>
          <a class="item-delete fas fa-trash" title="Delete Item" data-item-id="{{ancestry._id}}"></a>
        </div>
      </div>
    </div>
    {{else}}
    <div class="detail item" title="Character Ancestry">
      <img class="item-image" src="icons/svg/angel.svg"/>
      <span class="truncate">Ancestry</span>
    </div>
    {{/if}}
    {{!-- Background --}}
    <div class="detail">
      <input type="text" name="system.details.background" value="{{system.details.background}}" placeholder="{{localize 'DC20RPG.Background'}}" title="{{localize 'DC20RPG.Background'}}"/>
    </div>
    {{!-- Size --}}
    <div class="detail">
      <select name="system.details.size" title="{{localize 'DC20RPG.Size'}}">
        {{selectOptions @root.config.sizes selected=system.details.size}}
      </select>
    </div>
  </div>
</div>