<button style="position:absolute; left: -100px; top:-100px; visibility:hidden"></button>
<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>

<div class="resources">
  
  {{!-- HP Bar --}}
  <div class="resource">
    <div class="resource-bar-wrapper">
      <button class="health spend-resource fas fa-solid fa-minus" data-key="health" data-amount="1" title="Spend 1 Health Point"></button>
      <div class="resource-bar" title="{{localize 'DC20RPG.Health'}}">
        <div class="health-bar-temp" style="width: {{system.resources.health.percentTemp}}%"></div>
        <div class="health-bar" style="width: {{system.resources.health.percent}}%"></div>
        <div class="resource-content">
          <div class="resource-values">
            <input class="bar-input" type="text" name="system.resources.health.current" value="{{system.resources.health.current}}" data-dtype="Number">
            <span class="separator"> / </span>
            <input {{#unless isNPC}} disabled {{/unless}} class="bar-input" type="text" name="system.resources.health.max" value="{{system.resources.health.max}}" data-dtype="Number">
          </div>
        </div>
      </div>
      <button class="health regain-resource fas fa-solid fa-plus" data-key="health" data-amount="1" title="Regain 1 Health Point"></button>
    </div>

    <div class="bellow-bar grid">
      <div class="temporary-hp" title="Temporary Health">
        <input class="temporary-input" type="text" name="system.resources.health.temp" value="{{system.resources.health.temp}}" data-dtype="Number" placeholder="+Temp">
      </div>
      <div class="temporary-max" title="Temporary Max Health">
        <input class="temporary-input" type="text" name="system.resources.health.tempMax" value="{{system.resources.health.tempMax}}" data-dtype="Number" placeholder="+Max">
      </div>
    </div>
  </div>


  {{!-- Stamina Bar --}}
  <div class="resource">
    <div class="resource-bar-wrapper">
      <button class="stamina spend-resource fas fa-solid fa-minus" data-key="stamina" data-amount="1" title="Spend 1 Stamina Point"></button>
      <div class="resource-bar" title="{{localize 'DC20RPG.Stamina'}}">
        <div class="stamina-bar" style="width: {{system.resources.stamina.percent}}%"></div>
        <div class="resource-content">
          <div class="resource-values">
            <input class="bar-input" type="text" name="system.resources.stamina.value" value="{{system.resources.stamina.value}}" data-dtype="Number">
            <span class="separator"> / </span>
            <input {{#unless isNPC}} disabled {{/unless}} class="bar-input" type="text" name="system.resources.stamina.max" value="{{system.resources.stamina.max}}" data-dtype="Number">
          </div>
        </div>
      </div>
      <button class="stamina regain-resource fas fa-solid fa-plus" data-key="stamina" data-amount="1" title="Regain 1 Stamina Point"></button>
    </div>
  </div>


  {{!-- Mana Bar --}}
  <div class="resource">
    <div class="resource-bar-wrapper">
      <button class="mana spend-resource fas fa-solid fa-minus" data-key="mana" data-amount="1" title="Spend 1 Mana Point"></button>
      <div class="resource-bar" title="{{localize 'DC20RPG.Mana'}}">
        <div class="mana-bar" style="width: {{system.resources.mana.percent}}%"></div>
        <div class="resource-content">
          <div class="resource-values">
            <input class="bar-input" type="text" name="system.resources.mana.value" value="{{system.resources.mana.value}}" data-dtype="Number">
            <span class="separator"> / </span>
            <input {{#unless isNPC}} disabled {{/unless}} class="bar-input" type="text" name="system.resources.mana.max" value="{{system.resources.mana.max}}" data-dtype="Number">
          </div>
        </div>
      </div>
      <button class="mana regain-resource fas fa-solid fa-plus" data-key="mana" data-amount="1" title="Regain 1 Mana Point"></button>
    </div>
  </div>

  {{!-- Deaths Door --}}
  <div class="deaths-door {{#if system.death.active}}active{{/if}}">
    <div class="treshold">
      <div class="skull-wrapper doomed-toggle" data-path="system.death.doomed" title="Doomed">
        <div class="doomed"><a class="fa-solid fa-skull fa-lg"></a></div>
        <span class="doomed-value">{{system.death.doomed}}</span>
      </div> 
      <div class="treshold-value" title="Death Threshold"><input disabled type="text" value="{{system.death.treshold}}" data-dtype="Number"></div>
      {{#if system.death.stable}}
        <a class="stable-wrapper activable" title="Stable" data-path="system.death.stable"><i class="fa-solid fa-heart fa-lg"></i></a>
      {{else}}
        <a class="stable-wrapper activable" title="Unstable" data-path="system.death.stable"><i class="fa-solid fa-heart-crack fa-lg"></i></a>
      {{/if}}
    </div>
  </div>

</div>