<div class="defence grid-span-3">
  <div class="sector-header">
    <label>Phisical</label>
  </div>
  <div class="phisical">
    <input disabled type="text" value="{{system.defences.phisical.value}}" name="system.defences.phisical.value" data-dtype="Number" title="Phisical Defence"/>
  </div>
  <div class="hits grid grid-3col">
    <div class="heavy" title="Heavy Hit">
      <span>{{system.defences.phisical.heavy}}</span>
    </div>
    <div class="brutal" title="Brutal Hit">
      <span>{{system.defences.phisical.brutal}}</span>
    </div>
    <div class="config">
      <a class="config-pd fa-solid fa-gear" title="Configure Defence"></a>
    </div>
  </div>
</div>
<div class="defence grid-span-3">
  <div class="sector-header">
    <label>Mental</label>
  </div>
  <div class="mental">
    <input disabled type="text" value="{{system.defences.mental.value}}" name="system.defences.mental.value" data-dtype="Number" title="Mental Defence"/>
  </div>
  <div class="hits grid grid-3col">
    <div class="heavy" title="Heavy Hit">
      <span>{{system.defences.mental.heavy}}</span>
    </div>
    <div class="brutal" title="Brutal Hit">
      <span>{{system.defences.mental.brutal}}</span>
    </div>
    <div class="config">
      <a class="config-md fa-solid fa-gear" title="Configure Defence"></a>
    </div>
  </div>
</div>