<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>

<div class="resources">
  
  {{!-- HP Bar --}}
  <div class="resource">
    <div class="resource-bar" title="{{localize 'DC20RPG.Health'}}">
      <div class="health-bar-temp" style="width: {{system.resources.health.percentTemp}}%"></div>
      <div class="health-bar" style="width: {{system.resources.health.percent}}%"></div>
      <div class="resource-content">
        <div class="resource-values">
          <input class="bar-input" type="text" name="system.resources.health.current" value="{{system.resources.health.current}}" data-dtype="Number">
          <span class="separator"> / </span>
          <input {{#unless isNPC}} disabled {{/unless}} class="bar-input" type="text" name="system.resources.health.max" value="{{system.resources.health.max}}" data-dtype="Number">
        </div>
      </div>
    </div>
    <div class="temporary grid">
      <div class="temporary-hp" title="Temporary Health">
        <input class="temporary-input" type="text" name="system.resources.health.temp" value="{{system.resources.health.temp}}" data-dtype="Number" placeholder="+Temp">
      </div>
      <div class="temporary-max" title="Temporary Max Health">
        <input class="temporary-input" type="text" name="system.resources.health.tempMax" value="{{system.resources.health.tempMax}}" data-dtype="Number" placeholder="+Max">
      </div>
    </div>
  </div>


  {{!-- Stamina Bar --}}
  <div class="resource">
    <div class="resource-bar" title="{{localize 'DC20RPG.Stamina'}}">
      <div class="stamina-bar" style="width: {{system.resources.stamina.percent}}%"></div>
      <div class="resource-content">
        <div class="resource-values">
          <input class="bar-input" type="text" name="system.resources.stamina.value" value="{{system.resources.stamina.value}}" data-dtype="Number">
          <span class="separator"> / </span>
          <input {{#unless isNPC}} disabled {{/unless}} class="bar-input" type="text" name="system.resources.stamina.max" value="{{system.resources.stamina.max}}" data-dtype="Number">
        </div>
      </div>
    </div>
  </div>


  {{!-- Mana Bar --}}
  <div class="resource">
    <div class="resource-bar" title="{{localize 'DC20RPG.Mana'}}">
      <div class="mana-bar" style="width: {{system.resources.mana.percent}}%"></div>
      <div class="resource-content">
        <div class="resource-values">
          <input class="bar-input" type="text" name="system.resources.mana.value" value="{{system.resources.mana.value}}" data-dtype="Number">
          <span class="separator"> / </span>
          <input {{#unless isNPC}} disabled {{/unless}} class="bar-input" type="text" name="system.resources.mana.max" value="{{system.resources.mana.max}}" data-dtype="Number">
        </div>
      </div>
    </div>
  </div>

  {{!-- Deaths Door --}}
  <div class="deaths-door {{#if system.death.active}}active{{/if}}">
    <div class="treshold" title="Death Treshold">
      <div class="skull-wrapper"><i class="fa-solid fa-skull fa-lg"></i></div> 
      <div class="treshold-value"><input disabled type="text" value="{{system.death.treshold}}" data-dtype="Number"></div>
      {{#if system.death.stable}}
        <a class="plus-wrapper activable" title="Stable" data-path="system.death.stable"><i class="ra ra-health ra-lg"></i></a>
      {{else}}
        <a class="plus-wrapper activable" title="Unstable" data-path="system.death.stable"><i class="ra ra-health-decrease ra-lg"></i></a>
      {{/if}}
    </div>
  </div>

</div>