<div id="help-tracker" class="grid grid-{{help.rowSize}}col">
  {{#each help.dice as |dice key|}}
    <div class="help-dice {{#if dice.subtraction}}subtraction{{/if}}" data-key="{{key}}" data-type="help"
          data-tooltip="{{repleaceLocalize "dc20rpg.sheet.help.dropOnChat" dice.formula}}{{#if dice.doNotExpire}}{{localize "dc20rpg.sheet.help.doNotExpire"}}{{/if}}">
      <i class="fa-solid {{dice.icon}} fa-lg"></i>
    </div>
  {{/each}}
</div>