{{#if flags.dc20rpg.rollMenu.showMenu}}
{{!-- Roll Enhancements --}}
{{#if enhancements}} {{#each enhancements as |enhancement key|}}
<div class="row-enh-menu row-enh-grid-{{@root.type}}">
  <a class="toggle-item-numeric box" data-item-id="{{enhancement.itemId}}" data-path="system.enhancements.{{key}}.number" title="How many times you want to apply that enhancement"><span>{{enhancement.number}}</span></a>
  <div class="enh-name">
    <span>{{enhancement.name}}</span>

  {{#ifCond @root.type '!==' "weapon"}} {{#if enhancement.fromWeapon}} 
  <div class="enh-from-weapon margin-right-3" title="This Enhancement comes from used weapon. You can change weapon by editing this item.">
    <i class="fa-solid fa-gavel"></i>
  </div>
  {{/if}}{{/ifCond}}
  </div>
  <div class="enh-cost">
    {{#ifCond enhancement.resources.actionPoint '>=' 0}}
    <div class="cost ap" title="Action Points">
      {{{costPrinter enhancement.resources.actionPoint "fa-solid fa-dice-d6" 2 true "fa-light fa-dice-d6"}}}
    </div>
    {{/ifCond}}
    {{#ifCond enhancement.resources.stamina '>' 0}}
    <div class="cost sp" title="Stamina">
      {{{costPrinter enhancement.resources.stamina "fa-solid fa-hand-fist" 2}}}
    </div>
    {{/ifCond}}
    {{#ifCond enhancement.resources.mana '>' 0}}
    <div class="cost mp" title="Mana">
      {{{costPrinter enhancement.resources.mana "fa-solid fa-star" 2}}}
    </div>
    {{/ifCond}}
    {{#ifCond enhancement.resources.health '>' 0}}
    <div class="cost hp" title="Health">
      {{{costPrinter enhancement.resources.health "fa-solid fa-heart" 2}}}
    </div>
    {{/ifCond}}
    {{!-- {{#each enhancement.resources as |resource key|}}
      {{#ifCond resource.cost '>' 0}}
      <div class="cost" title="{{resource.name}}">
        {{{costPrinterIcons resource "" 2}}}
      </div>
      {{/ifCond}}
    {{/each}} --}}
  </div>
</div>
{{/each}} {{/if}}

{{!-- Roll Menu Details --}}
<div class="row-roll-menu">
  <div class="roll-level">
    <div class="item-roll-buttons">
      <a class="roll-item fa-solid fa-dice-d20 fa-lg" title="Item Roll" data-item-id="{{_id}}" data-configured-roll="true"></a>     
    </div>
    <div class="toggle" title="Advantage Level">
      <span>Adv: </span>
      <a class="toggle-item-numeric box" data-item-id="{{_id}}" data-path="flags.dc20rpg.rollMenu.adv">{{flags.dc20rpg.rollMenu.adv}}</a>
    </div>
    <div class="toggle" title="Disadvantage Level">
      <span>Dis: </span>
      <a class="toggle-item-numeric box" data-item-id="{{_id}}" data-path="flags.dc20rpg.rollMenu.dis">{{flags.dc20rpg.rollMenu.dis}}</a>
    </div>
  </div>
  <div class="help-dices" title="Help Dice">
    <span>Help: </span>
    {{!-- d8 --}}
    <a class="fa-stack fa-sm toggle-item-numeric" data-item-id="{{_id}}" data-path="flags.dc20rpg.rollMenu.d8" title="Number of d8">
      <span class="fa-solid fa-diamond fa-stack-2x dice"></span>
      <strong class="fa-stack-1x value">{{flags.dc20rpg.rollMenu.d8}}</strong>
    </a>
    {{!-- d6 --}}
    <a class="fa-stack fa-sm toggle-item-numeric" data-item-id="{{_id}}" data-path="flags.dc20rpg.rollMenu.d6" title="Number of d6">
      <span class="fa-solid fa-square fa-stack-2x dice"></span>
      <strong class="fa-stack-1x value">{{flags.dc20rpg.rollMenu.d6}}</strong>
    </a>
    {{!-- d4 --}}
    <a class="fa-stack fa-sm toggle-item-numeric" data-item-id="{{_id}}" data-path="flags.dc20rpg.rollMenu.d4" title="Number of d4">
      <span class="fa-solid fa-play fa-rotate-270 fa-stack-2x dice" style="padding-left: 2px;"></span>
      <strong class="fa-stack-1x value" style="padding-right:2px;">{{flags.dc20rpg.rollMenu.d4}}</strong>
    </a>
  </div>
  <div class="roll-options">
    <div class="toggle">
      <span>Free: </span>
      <a class="item-activable fa-lg {{#if flags.dc20rpg.rollMenu.free}}fa-square-check fa-solid{{else}}fa-regular fa-square{{/if}}" data-path="flags.dc20rpg.rollMenu.free" data-item-id="{{@root._id}}" title="Roll without usage costs and charges"></a>
    </div>
    <div class="toggle">
      <span>Versatile: </span>
      <a class="item-activable fa-lg {{#if flags.dc20rpg.rollMenu.versatile}}fa-square-check fa-solid{{else}}fa-regular fa-square{{/if}}" data-path="flags.dc20rpg.rollMenu.versatile" data-item-id="{{@root._id}}" title="Roll with versatile formulas"></a>
    </div>
  </div>
</div>
{{/if}}