<div class="row-column row-details">
  <a class="item-img roll-item" data-item-id="{{_id}}">
    <img src="{{img}}" title="Roll Item"/>
  </a>
  <div class="item-roll-buttons">
    <a class="roll-item fa-solid fa-dice-d20 fa-lg" title="Roll Item" data-item-id="{{_id}}"></a>
    <a class="roll-item fa-light fa-dice-d20 fa-lg" title="Roll Item Free" data-item-id="{{_id}}" data-free-roll="true"></a>        
  </div>
  <div class="item-name">{{name}}</div>
</div>