{{#if system.rollMenu.showMenu}}
{{!-- Roll Enhacements --}}
{{#if system.enhancements}} {{#each system.enhancements as |enhancement key|}}
<div class="row-enh-menu row-enh-grid-{{@root.type}}">
  <a class="toogle-item-numeric" data-item-id="{{@root._id}}" data-path="system.enhancements.{{key}}.number" title="How many times you want to apply that enhancement"><span>{{enhancement.number}}</span></a>
  <div class="enh-name">
    <span>{{enhancement.name}}</span>
  </div>
  <div class="enh-cost">
    {{#ifCond enhancement.resources.actionPoint '>=' 0}}
    <div class="cost ap" title="Action Points">
      {{{costPrinter enhancement.resources.actionPoint "fa-solid fa-dice-d6" 2 true "fa-light fa-dice-d6"}}}
    </div>
    {{/ifCond}}
    {{#ifCond enhancement.resources.stamina '>' 0}}
    <div class="cost sp" title="Stamina">
      {{{costPrinter enhancement.resources.stamina "fa-solid fa-hand-fist" 2}}}
    </div>
    {{/ifCond}}
    {{#ifCond enhancement.resources.mana '>' 0}}
    <div class="cost mp" title="Mana">
      {{{costPrinter enhancement.resources.mana "fa-solid fa-star" 2}}}
    </div>
    {{/ifCond}}
    {{#ifCond enhancement.resources.health '>' 0}}
    <div class="cost hp" title="Health">
      {{{costPrinter enhancement.resources.health "fa-solid fa-heart" 2}}}
    </div>
    {{/ifCond}}
    {{!-- {{#each enhancement.resources as |resource key|}}
      {{#ifCond resource.cost '>' 0}}
      <div class="cost" title="{{resource.name}}">
        {{{costPrinterIcons resource "" 2}}}
      </div>
      {{/ifCond}}
    {{/each}} --}}
  </div>
</div>
{{/each}} {{/if}}

{{!-- Roll Menu Details --}}
<div class="row-roll-menu">
  <div class="roll-level">
    <div class="item-roll-buttons">
      <a class="roll-item fa-solid fa-dice-d20 fa-lg" title="Item Roll" data-item-id="{{_id}}" data-configured-roll="true"></a>     
    </div>
    <div class="toogle" title="Advantage Level">
      <span>Adv: </span>
      <a class="toogle-item-numeric" data-item-id="{{_id}}" data-path="system.rollMenu.adv">{{system.rollMenu.adv}}</a>
    </div>
    <div class="toogle" title="Disadvantage Level">
      <span>Dis: </span>
      <a class="toogle-item-numeric" data-item-id="{{_id}}" data-path="system.rollMenu.dis">{{system.rollMenu.dis}}</a>
    </div>
  </div>
  <div class="roll-options">
    <div class="toogle">
      <span>Free: </span>
      <a class="activable fa-lg {{#if system.rollMenu.free}}fa-square-check fa-solid{{else}}fa-regular fa-square{{/if}}" data-path="system.rollMenu.free" title="Roll without usage costs and charges"></a>
    </div>
    <div class="toogle">
      <span>Versatile: </span>
      <a class="activable fa-lg {{#if system.rollMenu.versatile}}fa-square-check fa-solid{{else}}fa-regular fa-square{{/if}}" data-path="system.rollMenu.versatile" title="Roll with versatile formulas"></a>
    </div>
  </div>
</div>
{{/if}}