<div class="config">
  <div>
  {{#if system.activableEffect.hasEffects}}
    {{#if system.activableEffect.active}}
      <a class="item-activable fa-lg fa-solid fa-toggle-on" title="Deactivate Inherited Effects" data-item-id="{{_id}}" data-path="system.activableEffect.active"></a>
    {{else}}
      <a class="item-activable fa-lg fa-solid fa-toggle-off" title="Activate Inherited Effects" data-item-id="{{_id}}" data-path="system.activableEffect.active"></a>
    {{/if}}
  {{/if}}
  </div>
  <a class="item-edit fas fa-edit" title="Edit Item" data-item-id="{{_id}}"></a>
  <a class="item-delete fas fa-trash" title="Delete Item" data-item-id="{{_id}}"></a>
</div>