<form id="roll-prompt" class="dialog-v2">
  {{PARTIAL "Tooltip"}}
  {{!-- Actor Display --}}
  <div class="item-name">
    <div class="name-wrapper">
      <img src="{{img}}"/>
      {{#if rollDetails.rollTitle}}
      <span>{{rollDetails.rollTitle}}</span>
      {{else}}
      <span>{{name}}</span>
      {{/if}}
    </div>
  </div>

  {{!-- Roll Menu --}}
  <div class="roll-menu">
    <div class="column">
      <div class="sub-header">
        <span>{{localize 'dc20rpg.sheet.rollMenu.rollLevel'}}</span>
        <a class="last-roll-level-check fa-solid fa-clipboard-question fa-lg" title="{{localize 'dc20rpg.sheet.rollMenu.lastRollLevelCheck'}}"></a>
      </div>
      <div class="roll-level">
        <div class="toggle" title="{{localize 'dc20rpg.sheet.rollMenu.adv'}}">
          <span>Adv: </span>
          <a class="toggle-numeric adv"
            data-path="system.rollMenu.adv">{{system.rollMenu.adv}}</a>
        </div>
        <div class="absolute-button-sheet">
          <a class="ap-for-adv square" title="{{localize 'dc20rpg.sheet.rollMenu.apCost'}}">
            <span class="fa-solid fa-dice-d6 dice"></span>
            <div class="value"><span>{{system.rollMenu.apCost}}</span></div>
          </a>
        </div>
        {{#ifCond type '===' "character"}}{{#ifCond rollDetails.type '===' "save"}}
        <div class="absolute-button-sheet">
          <a class="grit-for-adv square" title="{{localize 'dc20rpg.sheet.rollMenu.gritCost'}}">
            <span class="fa-solid fa-clover fa-lg dice"></span>
            <div class="value"><span>{{system.rollMenu.gritCost}}</span></div>
          </a>
        </div>
        {{/ifCond}}{{/ifCond}}
        <div class="toggle" title="{{localize 'dc20rpg.sheet.rollMenu.dis'}}">
          <span>Dis: </span>
          <a class="toggle-numeric dis"
            data-path="system.rollMenu.dis">{{system.rollMenu.dis}}</a>
        </div>
      </div>
    </div>

    <div class="mid-column">
      <div class="letter-circle-icon small clickable" title="{{localize 'dc20rpg.sheet.rollMenu.runRollLevelCheck'}}">
        <a class="roll-level-check fa-solid fa-magnifying-glass fa-lg {{#unless rollLevelChecked}}not-used{{/unless}}"></a>    
      </div>
      <div class="item-roll-options">
        <a class="activable margin-right-5 margin-left-5" data-path="system.rollMenu.autoCrit" title="{{localize 'dc20rpg.sheet.rollMenu.autoCrit'}}">
          <i class="fa-2x fa-square-up-right{{#if system.rollMenu.autoCrit}} crit fa-solid{{else}} fa-light{{/if}}"></i>
        </a>
        <a class="activable margin-right-5 margin-left-5" data-path="system.rollMenu.autoFail" title="{{localize 'dc20rpg.sheet.rollMenu.autoFail'}}">
          <i class="fa-2x fa-square-up-right fa-rotate-180{{#if system.rollMenu.autoFail}} fail fa-solid{{else}} fa-light{{/if}}"></i>
        </a>
      </div>
    </div>

    <div class="column help" title="{{localize 'dc20rpg.sheet.rollMenu.helpDices'}}">
      <div class="sub-header">
        <span>{{localize 'dc20rpg.sheet.rollMenu.helpDices'}}</span>
      </div>
      {{!-- TODO: Rework as part of roll prompt redesign --}}
    </div>
  </div>

  {{!-- Roll Button --}}
  <button class="close rollable button margin-top-5">Roll: {{rollDetails.label}}</button>
</form>