<div class="content-border">
  <div class="header">
    <span>Trade Skills</span>
    <div class="header-icons">
      <a title="{{#if flags.dc20rpg.showUnknownTradeSkills}}Hide{{else}}Show{{/if}} Unknown Trade Skills"
          class="activable fa-solid {{#if flags.dc20rpg.showUnknownTradeSkills}} fa-eye-slash {{else}} fa-eye {{/if}}"
          data-path="flags.dc20rpg.showUnknownTradeSkills"
      ></a>
    </div>
  </div>
  <div class="grid grid-4col grid-no-margin grid-no-gap">
    {{#each system.tradeSkills as |skill key|}}
    {{#if (shouldIgnoreEmptyString @root.flags.dc20rpg.showUnknownTradeSkills skill.skillMastery)}}
    <div class="row grid-row"> 
      <div class="top-row">
        <a title="Roll Check"
            class="variable-roll"
            data-mastery="{{skill.skillMastery}}"
            data-bonus="{{skill.bonus}}"
            data-label="{{skill.label}} Check"
        > {{skill.label}}
        </a>
      </div>
      <div class="bottom-row">
        <a data-path="system.tradeSkills.{{key}}.skillMastery" 
            title="{{capitalize skill.skillMastery}}" 
            class="skill-mastery-toggle {{skillMasteryToIconClass skill.skillMastery}}"
        ></a>
        <a class="variable-roll fa-regular fa-dice"
          title="Variable Attribute Roll"
          data-mastery="{{skill.skillMastery}}"
          data-bonus="{{skill.bonus}}"
          data-label="{{skill.label}} Check"
        >
        </a>
      </div>
    </div>
    {{/if}}
    {{/each}}
  </div>
  <div class="footer"></div>
</div>