<div class="content-border">
  <div class="skills-column">
    {{!-- Core Skills --}}
    <div class="header">
      Skills
    </div>  
    {{#each system.skills as |skill key|}}
    {{#unless skill.knowledgeSkill}}
    <div class="row">
      <a class="skill-mastery-toggle {{skillMasteryIcon skill.skillMastery}}" data-path="system.skills.{{key}}.skillMastery" title="{{capitalize skill.skillMastery}}"></a>
      <label title="Roll Check" class="rollable flexlarge align-left"
            data-roll="d20+@skills.{{key}}.modifier" 
            data-label="{{skill.label}} Check"
      > {{skill.label}} ({{capitalize skill.baseAttribute}})
      </label>
      <span class="skill-value"> {{numberFormat skill.modifier decimals=0 sign=true}} </span>
      <a class="variable-roll fa-regular fa-dice" title="Variable Attribute Roll"
        data-mastery="{{skill.skillMastery}}"
        data-bonus="{{skill.bonus}}"
        data-label="{{skill.label}} Check"
      ></a>
      <a class="rollable fa-solid fa-dice-d20" title="Standard Roll"
        data-roll="d20+@skills.{{key}}.modifier" 
        data-label="{{skill.label}} Check"
      ></a>
    </div>
    {{/unless}}
    {{/each}}

    {{!-- Knowledge Skills --}}
    <div class="header middle-header">
      Knowledge Skills
    </div>
    {{#each system.skills as |skill key|}}
    {{#if skill.knowledgeSkill}}
    <div class="row knowledge-row">
      <a class="skill-mastery-toggle {{skillMasteryIcon skill.skillMastery}}" data-path="system.skills.{{key}}.skillMastery" title="{{capitalize skill.skillMastery}}"></a>
      <label title="Roll Check" class="rollable flexlarge align-left"
            data-roll="d20+@skills.{{key}}.modifier" 
            data-label="{{skill.label}} Check"
      > {{skill.label}} ({{capitalize skill.baseAttribute}})
      </label>
      <span class="skill-value"> {{numberFormat skill.modifier decimals=0 sign=true}} </span>
      <a class="variable-roll fa-regular fa-dice" title="Variable Attribute Roll"
        data-bonus="{{skill.bonus}}"
        data-mastery="{{skill.skillMastery}}"
        data-label="{{skill.label}} Check"
      ></a>
      <a class="rollable fa-solid fa-dice-d20" title="Standard Roll"
        data-roll="d20+@skills.{{key}}.modifier" 
        data-label="{{skill.label}} Check"
      ></a>
    </div>
    {{/if}}
    {{/each}}
  </div>
</div>