<div class="content-border">
  <div class="header">
    <span>Languages</span>
    <div class="header-icons">
      <a title="{{#if flags.dc20rpg.showUnknownLanguages}}Hide{{else}}Show{{/if}} Unknown Languages"
        class="activable fa-solid {{#if flags.dc20rpg.showUnknownLanguages}} fa-eye-slash {{else}} fa-eye {{/if}}"
        data-path="flags.dc20rpg.showUnknownLanguages"
      ></a>
    </div>
  </div>
  <div class="grid grid-4col grid-no-margin grid-no-gap">
    {{#if @root.flags.dc20rpg.showUnknownLanguages}}
      {{#each system.languages as |language key|}}
      <div class="row grid-row">
        <label> {{language.label}} </label>
        <a data-key="{{key}}" class="language-mastery-toggle {{languageMasteryIcon language.languageMastery}}"></a>
      </div>
      {{/each}}
    {{else}}
      {{#each system.languages as |language key|}}
      {{#if language.languageMastery}}
      <div class="row grid-row">
        <label> {{language.label}} </label>
        <a data-key="{{key}}" class="language-mastery-toggle {{languageMasteryIcon language.languageMastery}}"></a>
      </div>
      {{/if}}
      {{/each}}
      
    {{/if}}
  </div>
  <div class="footer"></div>
</div>  