<div class="content-border">
  <div class="header sector-header">
    <label>Damage Reduction</label>
    <div class="header-icons">
      <a title="{{#if flags.dc20rpg.showEmptyReductions}}Hide{{else}}Show{{/if}} Empty Damage Reductions" class="activable fa-solid 
      {{#if flags.dc20rpg.showEmptyReductions}} fa-eye-slash {{else}} fa-eye {{/if}}"data-path="flags.dc20rpg.showEmptyReductions"></a>
    </div>
  </div>
  {{!-- Physical Damage Reduction --}}
  <div class="table-row damage-reduction">
    <div class="column icon pdr" title="Physical Damage Raduction"></div>
    <div class="column" title="Damage Type">Physical Damage Reduction</div>
    <div class="column" title="Damage Type"><input class="change-actor-numeric-value" {{#unless isNPC}}disabled{{/unless}} type="text" data-path="system.damageReduction.pdr.number" value="{{system.damageReduction.pdr.value}}" title="Physical Damage Reduction"/></div>
  </div>

  {{!-- Mental Damage Reduction --}}
  <div class="table-row damage-reduction">
    <div class="column icon mdr" title="Mental Damage Raduction"></div>
    <div class="column" title="Damage Type">Mental Damage Reduction</div>
    <div class="column" title="Damage Type"><input class="change-actor-numeric-value" {{#unless isNPC}}disabled{{/unless}} type="text" data-path="system.damageReduction.mdr.number" value="{{system.damageReduction.mdr.value}}" title="Mental Damage Reduction"/></div>
  </div>

  {{!-- Damage Type Specific Reductions --}}
  <div class="table-header table-end">
    <div class="column" title="Damage Type">Damage Type</div>
    <div class="column" title="Vulnerability"><i class="fa-lg fa-solid fa-heart-crack"></i></div>
    <div class="column" title="Vulnerable"><i class="fa-lg fa-solid fa-heart-pulse"></i></div>
    <div class="column" title="Resist"><i class="fa-lg fa-solid fa-shield-heart"></i></div>
    <div class="column" title="Resistance"><i class="fa-solid fa-lg fa-shield-halved"></i></div>
    <div class="column" title="Immunity"><i class="fa-lg fa-solid fa-shield"></i></div>
    <div class="column" title="Material"><i class="fa-lg fa-solid fa-layer-group"></i></div>
  </div>

  {{#each system.damageReduction.damageTypes as |dmgType key|}}
    {{#ifCond dmgType.notEmpty '||' @root.flags.dc20rpg.showEmptyReductions}}
    <div class="row table-row table-end">
      <div class="column icon {{key}}" title="{{dmgType.label}}"></div>
      <div class="column damage-type" title="{{dmgType.label}}">{{dmgType.label}}</div>
      <div class="column" title="{{dmgType.label}} Vulnerability">
        {{#if @root.isNPC}}
        <a class="activable fa-lg {{#if dmgType.vulnerability}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.damageReduction.damageTypes.{{key}}.vulnerability"></a>
        {{else}}
        <i class="fa-lg {{#if dmgType.vulnerability}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}"></i>
        {{/if}}
      </div>
      <div class="column" title="{{dmgType.label}} Vulnerable"><input class="change-actor-numeric-value" {{#unless @root.isNPC}}disabled{{/unless}} type="number" data-path="system.damageReduction.damageTypes.{{key}}.vulnerable" value="{{dmgType.vulnerable}}"/></div>
      <div class="column" title="{{dmgType.label}} Resist"><input class="change-actor-numeric-value" {{#unless @root.isNPC}}disabled{{/unless}} type="number" data-path="system.damageReduction.damageTypes.{{key}}.resist" value="{{dmgType.resist}}"/></div>
      <div class="column" title="{{dmgType.label}} Resistance">
        {{#if @root.isNPC}}
        <a class="activable fa-lg {{#if dmgType.resistance}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.damageReduction.damageTypes.{{key}}.resistance"></a>
        {{else}}
        <i class="fa-lg {{#if dmgType.resistance}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}"></i>
        {{/if}}
      </div>
      <div class="column" title="{{dmgType.label}} Immune">
        {{#if @root.isNPC}}
        <a class="activable fa-lg {{#if dmgType.immune}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.damageReduction.damageTypes.{{key}}.immune"></a>
        {{else}}
        <i class="fa-lg {{#if dmgType.immune}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}"></i>
        {{/if}}
      </div>
      <div class="column" title="Material Types">
        {{#ifCond dmgType.category '===' "physical"}}
        <a class="activable fa-lg {{#if dmgType.nonMagical}}fa-solid fa-wand-magic-sparkles{{else}}fa-regular fa-wand-magic-sparkles{{/if}}"  
        data-path="system.damageReduction.damageTypes.{{key}}.nonMagical" title="From Non-magical Weapons"></a>
        <a class="activable fa-lg {{#if dmgType.nonSilvered}}fa-solid fa-weight-hanging{{else}}fa-regular fa-weight-hanging{{/if}}"  
        data-path="system.damageReduction.damageTypes.{{key}}.nonSilvered" title="From Non-silvered Weapons"></a>
        {{/ifCond}}
      </div>
    </div>
    {{/ifCond}}
  {{/each}}
</div>