<div class="margin-left-3 content-border half-table">
  <div class="header">
    <span>Masteries</span>
  </div>
  <div class="grid grid-2col grid-no-margin grid-no-gap masteries-table">
    {{#each system.masteries as |mastery key|}}
      {{#if mastery}}
      <div class="row grid-row activable-proficiency active-row" data-key="{{key}}">
        <label> {{labelFromKey key @root.config.masteries}} </label>
      </div>
      {{else}}
      <div class="row grid-row activable-proficiency" data-key="{{key}}">
        <label> {{labelFromKey key @root.config.masteries}} </label>
      </div>
      {{/if}}
    {{/each}}
  </div>
  <div class="footer"></div>
</div>