<div class="content-border">
  <div class="skills-column">

    {{!-- Skills --}}
    <div class="header">
      <span>Skills</span>
      {{#ifCond type '!==' "character"}}
      <div class="header-icons">
        <a title="{{#if flags.dc20rpg.showUnknownSkills}}Hide{{else}}Show{{/if}} Unknown Skills" class="activable fa-solid 
        {{#if flags.dc20rpg.showUnknownSkills}} fa-eye-slash {{else}} fa-eye {{/if}}"data-path="flags.dc20rpg.showUnknownSkills"></a>
      </div>
      {{/ifCond}}
    </div>
    {{#if @root.flags.dc20rpg.showUnknownSkills}}
      {{#each system.skills as |skill key|}}
      {{#unless skill.knowledgeSkill}}
      <div class="row">
        <a class="skill-mastery-toggle {{skillMasteryIcon skill.skillMastery}}" data-path="system.skills.{{key}}.skillMastery" title="{{capitalize skill.skillMastery}}"></a>
        <label title="Roll Check" class="rollable flexlarge align-left" data-roll="d20+@skills.{{key}}.modifier" data-label="{{skill.label}} Check"
        > {{skill.label}} ({{capitalize skill.baseAttribute}})
        </label>
        <span class="skill-value"> {{numberFormat skill.modifier decimals=0 sign=true}} </span>
        <a class="variable-roll fa-regular fa-dice" title="Variable Attribute Roll" data-mastery="{{skill.skillMastery}}" data-bonus="{{skill.bonus}}" data-label="{{skill.label}} Check"></a>
        <a class="rollable fa-solid fa-dice-d20" title="Standard Roll" data-roll="d20+@skills.{{key}}.modifier" data-label="{{skill.label}} Check"></a>
      </div>
      {{/unless}}
      {{/each}}

      {{!-- Knowledge Skills --}}
      <div class="header middle-header">
        <span>Knowledge Skills</span>
        <div class="header-icons">
          <a title="Add Knowledge Skill" class="add-knowledge fa-solid fa-plus"></a>
        </div>
      </div>
      {{#each system.skills as |skill key|}}
      {{#if skill.knowledgeSkill}}
      <div class="row">
        <a class="skill-mastery-toggle {{skillMasteryIcon skill.skillMastery}}" data-path="system.skills.{{key}}.skillMastery" title="{{capitalize skill.skillMastery}}"></a>
        {{#if skill.custom}}
          <input type="text" name="system.skills.{{key}}.label" value="{{skill.label}}">
          <a title="Remove Knowledge Skill" class="remove-knowledge fa-solid fa-minus" data-key="{{key}}"></a>
        {{else}}
        <label title="Roll Check" class="rollable flexlarge align-left" data-roll="d20+@skills.{{key}}.modifier" data-label="{{skill.label}} Check"
        > {{skill.label}} ({{capitalize skill.baseAttribute}})
        </label>
        {{/if}}
        <span class="skill-value"> {{numberFormat skill.modifier decimals=0 sign=true}} </span>
        <a class="variable-roll fa-regular fa-dice" title="Variable Attribute Roll" data-bonus="{{skill.bonus}}" data-mastery="{{skill.skillMastery}}" data-label="{{skill.label}} Check"></a>
        <a class="rollable fa-solid fa-dice-d20" title="Standard Roll" data-roll="d20+@skills.{{key}}.modifier" data-label="{{skill.label}} Check"></a>
      </div>
      {{/if}}
      {{/each}}

    {{else}}

      {{#each system.skills as |skill key|}}
      {{#unless skill.knowledgeSkill}}
      {{#ifCond skill.skillMastery '!==' ""}}
      <div class="row">
        <a class="skill-mastery-toggle {{skillMasteryIcon skill.skillMastery}}" data-path="system.skills.{{key}}.skillMastery" title="{{capitalize skill.skillMastery}}"></a>
        <label title="Roll Check" class="rollable flexlarge align-left" data-roll="d20+@skills.{{key}}.modifier" data-label="{{skill.label}} Check"
        > {{skill.label}} ({{capitalize skill.baseAttribute}})
        </label>
        <span class="skill-value"> {{numberFormat skill.modifier decimals=0 sign=true}} </span>
        <a class="variable-roll fa-regular fa-dice" title="Variable Attribute Roll" data-mastery="{{skill.skillMastery}}" data-bonus="{{skill.bonus}}" data-label="{{skill.label}} Check"></a>
        <a class="rollable fa-solid fa-dice-d20" title="Standard Roll" data-roll="d20+@skills.{{key}}.modifier" data-label="{{skill.label}} Check"></a>
      </div>
      {{/ifCond}}
      {{/unless}}
      {{/each}}

      {{!-- Knowledge Skills --}}
      <div class="header middle-header">
        Knowledge Skills
      </div>
      {{#each system.skills as |skill key|}}
      {{#if skill.knowledgeSkill}}
      {{#ifCond skill.skillMastery '!==' ""}}
      <div class="row">
        <a class="skill-mastery-toggle {{skillMasteryIcon skill.skillMastery}}" data-path="system.skills.{{key}}.skillMastery" title="{{capitalize skill.skillMastery}}"></a>
        <label title="Roll Check" class="rollable flexlarge align-left" data-roll="d20+@skills.{{key}}.modifier" data-label="{{skill.label}} Check"
        > {{skill.label}} ({{capitalize skill.baseAttribute}})
        </label>
        <span class="skill-value"> {{numberFormat skill.modifier decimals=0 sign=true}} </span>
        <a class="variable-roll fa-regular fa-dice" title="Variable Attribute Roll" data-bonus="{{skill.bonus}}" data-mastery="{{skill.skillMastery}}" data-label="{{skill.label}} Check"></a>
        <a class="rollable fa-solid fa-dice-d20" title="Standard Roll" data-roll="d20+@skills.{{key}}.modifier" data-label="{{skill.label}} Check"></a>
      </div>
      {{/ifCond}}
      {{/if}}
      {{/each}}
    {{/if}}

    {{#ifCond type '===' "character"}}
    {{!-- Trade Skills --}}
    <div class="header middle-header">
      <span>Trade Skills</span>
      <div class="header-icons">
        <a title="{{#if flags.dc20rpg.showUnknownTradeSkills}}Hide{{else}}Show{{/if}} Unknown Skills" class="activable fa-solid 
        {{#if flags.dc20rpg.showUnknownTradeSkills}} fa-eye-slash {{else}} fa-eye {{/if}}"data-path="flags.dc20rpg.showUnknownTradeSkills"></a>
      </div>
    </div>

    {{#if @root.flags.dc20rpg.showUnknownTradeSkills}}
      {{#each system.tradeSkills as |skill key|}}
      <div class="row">
        <a class="skill-mastery-toggle {{skillMasteryIcon skill.skillMastery}}" data-path="system.tradeSkills.{{key}}.skillMastery" title="{{capitalize skill.skillMastery}}"></a>
        <label title="Roll Check" class="rollable flexlarge align-left" data-roll="d20+@tradeSkills.{{key}}.modifier" data-label="{{skill.label}} Check"
        > {{skill.label}} ({{capitalize skill.baseAttribute}})
        </label>
        <span class="skill-value"> {{numberFormat skill.modifier decimals=0 sign=true}} </span>
        <a class="variable-roll fa-regular fa-dice" title="Variable Attribute Roll" data-mastery="{{skill.skillMastery}}" data-bonus="{{skill.bonus}}" data-label="{{skill.label}} Check"></a>
        <a class="rollable fa-solid fa-dice-d20" title="Standard Roll" data-roll="d20+@tradeSkills.{{key}}.modifier" data-label="{{skill.label}} Check"></a>
      </div>
      {{/each}}

    {{else}}

      {{#each system.tradeSkills as |skill key|}}
      {{#ifCond skill.skillMastery '!==' ""}}
      <div class="row">
        <a class="skill-mastery-toggle {{skillMasteryIcon skill.skillMastery}}" data-path="system.tradeSkills.{{key}}.skillMastery" title="{{capitalize skill.skillMastery}}"></a>
        <label title="Roll Check" class="rollable flexlarge align-left" data-roll="d20+@tradeSkills.{{key}}.modifier" data-label="{{skill.label}} Check"
        > {{skill.label}} ({{capitalize skill.baseAttribute}})
        </label>
        <span class="skill-value"> {{numberFormat skill.modifier decimals=0 sign=true}} </span>
        <a class="variable-roll fa-regular fa-dice" title="Variable Attribute Roll" data-mastery="{{skill.skillMastery}}" data-bonus="{{skill.bonus}}" data-label="{{skill.label}} Check"></a>
        <a class="rollable fa-solid fa-dice-d20" title="Standard Roll" data-roll="d20+@tradeSkills.{{key}}.modifier" data-label="{{skill.label}} Check"></a>
      </div>
      {{/ifCond}}
      {{/each}}
    {{/if}}
    {{/ifCond}}

    {{!-- Languages --}}
    <div class="header middle-header">
      <span>Languages</span>
      <div class="header-icons">
        <a title="{{#if flags.dc20rpg.showUnknownLanguages}}Hide{{else}}Show{{/if}} Unknown Languages" class="activable fa-solid 
        {{#if flags.dc20rpg.showUnknownLanguages}} fa-eye-slash {{else}} fa-eye {{/if}}" data-path="flags.dc20rpg.showUnknownLanguages"></a>
      </div>
    </div>
    {{#if @root.flags.dc20rpg.showUnknownLanguages}}
      {{#each system.languages as |language key|}}
      <div class="row last-row">
        <a data-key="{{key}}" class="language-mastery-toggle {{languageMasteryIcon language.languageMastery}}"></a>
        <label> {{language.label}} </label>
      </div>
      {{/each}}
    {{else}}
      {{#each system.languages as |language key|}}
      {{#if language.languageMastery}}
      <div class="row last-row">
        <a data-key="{{key}}" class="language-mastery-toggle {{languageMasteryIcon language.languageMastery}}"></a>
        <label> {{language.label}} </label>
      </div>
      {{/if}}
      {{/each}}
    {{/if}}
  </div>
</div>