<div class="title-separator">
  <label>Core Roll</label>
  <div class="config-row">
    <a class="activable fa-lg {{#if system.coreFormula.overriden}}fa-square-check fa-solid{{else}}fa-regular fa-square{{/if}}" data-path="system.coreFormula.overriden" title="Use Custom Roll Formula"></a>
  </div>
</div>
{{#if system.coreFormula.overriden}} 
<div class="config-row">
  <label>Roll Formula </label>
  <input class="formula" type="text" name="system.coreFormula.overridenFormula" value="{{system.coreFormula.overridenFormula}}" placeholder="-">
</div>
{{else}} 
<div class="config-row">
  <label>Check Type </label>
  <select name="system.coreFormula.checkType">
    {{selectOptions @root.config.attackTypes selected=system.coreFormula.checkType}}
  </select>
</div>
<div class="config-row">
  <label>Mastery</label>
  <div class="right-part-row">
    <a class="activable fa-lg {{#if system.coreFormula.combatMastery}}fa-square-check fa-solid{{else}}fa-regular fa-square{{/if}}" data-path="system.coreFormula.combatMastery"></a>
  </div>
</div>
<div class="config-row">
  <label>Roll Bonus </label>
  <input type="text" name="system.coreFormula.rollBonus" value="{{system.coreFormula.rollBonus}}" placeholder="-" data-dtype="Number">
</div>
{{/if}}