<div class="config-row">
  <label>Attribute </label>
  <select name="system.coreFormula.attributeKey">
    {{selectOptions @root.config.attributesWithPrime selected=system.coreFormula.attributeKey}}
  </select>
</div>
  <div class="config-row">
    <label>Add Combat Mastery</label>
    <div class="right-part-row">
      {{#if system.coreFormula.combatMastery}}
        <a class="fa-solid fa-square-check fa-lg activable" data-path="system.coreFormula.combatMastery"></a>
      {{else}}
        <a class="fa-regular fa-square fa-lg activable" data-path="system.coreFormula.combatMastery"></a>
      {{/if}}
    </div>
  </div>
  <div class="config-row">
    <label>Roll Bonus </label>
    <input type="text" name="system.coreFormula.rollBonus" value="{{system.coreFormula.rollBonus}}" placeholder="-" data-dtype="Number">
  </div>
  <div class="config-row">
  <label>Roll Formula </label>
  {{#if system.coreFormula.overriden}} 
    <a class="activable fa-solid fa-square-check fa-lg" data-path="system.coreFormula.overriden"></a>
    <label class="custom-formula">Use Custom Formula</label>
    <input class="formula" type="text" 
          name="system.coreFormula.overridenFormula" 
          value="{{system.coreFormula.overridenFormula}}" 
          placeholder="-">
  {{else}} 
    <a class="activable fa-regular fa-square fa-lg" data-path="system.coreFormula.overriden"></a>
    <label class="custom-formula">Use Custom Formula</label>
    <input class="formula" disabled type="text" 
          name="system.coreFormula.formula" 
          value="{{system.coreFormula.formula}}" 
          placeholder="-">
  {{/if}}
</div>