<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="item-sheet-header">
    <div class="left-header">
      <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </div>
    <div class="right-header">
      {{PARTIAL "Item Name"}}
      
      {{!-- Item Type Specyfic info --}}
      <div class="bottom-row">
        {{PARTIAL "Usage Header"}}
        {{PARTIAL "Roll Header"}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="details">Details</a>
    <a class="item" data-tab="usage">Usage</a>
    <a class="item" data-tab="roll">Roll</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="item-sheet-body">
    {{PARTIAL "Description"}}
    {{PARTIAL "Usage"}}
    {{PARTIAL "Roll"}}

    {{!-- Details Tab --}}
    <div class="tab details-tab" data-group="primary" data-tab="details">
      <div class="details config-container">
        <div class="title-separator details-header">
          <label>Details</label>
        </div>
        <div class="config-row">
          <label>Feature Type </label>
          <select name="system.featureType">
            {{selectOptions @root.config.featureSourceTypes selected=system.featureType blank=""}}
          </select>
        </div>
        <div class="config-row">
          <label>Feature Origin </label>
          <input type="text" name="system.featureOrigin" value="{{system.featureOrigin}}" placeholder="-">
        </div>
      </div>
    </div>
  </section>
</form>
