<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="item-sheet-header">
    <div class="left-header">
      <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </div>
    <div class="right-header">
      {{!-- Top Row (Info info) --}}
      {{> "systems/dc20rpg/templates/item/parts/header-parts/item-header-name.hbs" 
        type=(labelFromKey item.system.tradeSkillKey @root.config.tradeSkills) 
        subtype=(labelFromKey item.type @root.config.inventoryTypes)
      }}
      
      {{!-- Item Type Specyfic info --}}
      <div class="bottom-row">
        {{PARTIAL "Usage Header"}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="details">Details</a>
    <a class="item" data-tab="usage">Usage</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="item-sheet-body">
    {{PARTIAL "Description"}}
    {{PARTIAL "Usage"}}
    {{PARTIAL "Roll"}}

    {{!-- Details Tab --}}
    <div class="tab details-tab" data-group="primary" data-tab="details">
      <div class="details config-container">
        <div class="title-separator details-header">
          <label>Details</label>
        </div>
        <div class="config-row">
          <label>Trade Skill </label>
          <select name="system.tradeSkillKey">
            {{selectOptions @root.config.tradeSkills selected=system.tradeSkillKey blank=""}}
          </select>
        </div>
        <div class="config-row">
          <label>Roll Bonus </label>
          <input type="text" name="system.rollBonus" value="{{system.rollBonus}}" placeholder="-" data-dtype="Number">
        </div>
      </div>
    </div>
  </section>
</form>
