<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="item-sheet-header">
    <div class="left-header">
      <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </div>
    <div class="right-header">
      {{!-- Top Row (Info info) --}}
      {{> "systems/dc20rpg/templates/item/parts/header-parts/item-header-name.hbs" 
        type=(labelFromKey item.system.consumableType @root.config.consumableTypes) 
        subtype=(labelFromKey item.type @root.config.inventoryTypes)
      }}
      
      {{!-- Item Type Specyfic info --}}
      <div class="bottom-row">
        {{> "systems/dc20rpg/templates/item/parts/header-parts/item-header-usage.hbs"}}
        {{> "systems/dc20rpg/templates/item/parts/header-parts/item-header-action.hbs"}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="configuration">Configuration</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="item-sheet-body">

    {{!-- Description Tab --}}
    <div class="tab description-tab" data-group="primary" data-tab="description">
      {{> "systems/dc20rpg/templates/item/parts/item-description.hbs"}}
    </div>

    {{!-- Configuration Tab --}}
    <div class="tab configuration-tab" data-group="primary" data-tab="configuration">
      {{!-- Weapon Details --}}
      <div class="details">
        <div class="title-separator details-header">
          <label>Details</label>
          <div class="identified activable {{#if system.statuses.identified}} active {{/if}}"
            data-path="system.statuses.identified"
          >Identified
          </div>
        </div>
        <div class="config-row">
          <label>Consumable Type </label>
          <select name="system.consumableType">
            {{selectOptions @root.config.consumableTypes selected=system.consumableType blank=""}}
          </select>
        </div>
        <div class="config-row consume">
          <label>Consume on use</label>
          <div class="right-part-row">
            {{#if system.consume}}
              <a class="fa-solid fa-square-check fa-lg activable" data-path="system.consume"></a>
            {{else}}
              <a class="fa-regular fa-square fa-lg activable" data-path="system.consume"></a>
            {{/if}}
          </div>
        </div>
        <div class="config-row properties">
          <label>Attunement </label>
          <div class="right-part-row">
            {{#if system.properties.attunement.active}}
            <div class="property activable active inline-property"
              data-path="system.properties.attunement.active"
            >Required
            </div>
            {{else}}
            <div class="property activable inline-property"
              data-path="system.properties.attunement.active"
            >Not Required
            </div>
            {{/if}}
          </div>
        </div>
      </div>
      {{!-- Item Action --}}
      {{> "systems/dc20rpg/templates/item/parts/item-action.hbs"}}
    </div>
  </section>
</form>
