<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="item-sheet-header">
    <div class="left-header">
      <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </div>
    <div class="right-header">
      {{PARTIAL "Item Name"}}
      
      {{!-- Item Type Specyfic info --}}
      <div class="bottom-row">
        {{PARTIAL "Usage Header"}}
        {{PARTIAL "Roll Header"}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="details">Details</a>
    <a class="item" data-tab="usage">Usage</a>
    <a class="item" data-tab="roll">Roll</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="item-sheet-body">
    {{PARTIAL "Description"}}
    {{PARTIAL "Usage"}}
    {{PARTIAL "Roll"}}

    {{!-- Details Tab --}}
    <div class="tab details-tab" data-group="primary" data-tab="details">
      <div class="details config-container">
        <div class="title-separator details-header">
          <label>Details</label>
          <div class="identified activable-box activable {{#if system.statuses.identified}} active {{/if}}"
            data-path="system.statuses.identified"
          >Identified
          </div>
        </div>
        <div class="config-row">
          <label>Consumable Type </label>
          <select name="system.consumableType">
            {{selectOptions @root.config.consumableTypes selected=system.consumableType blank=""}}
          </select>
        </div>
        <div class="config-row">
          <label>Consume on use</label>
          <div class="right-part-row">
            {{#if system.consume}}
              <a class="fa-solid fa-square-check fa-lg activable" data-path="system.consume"></a>
            {{else}}
              <a class="fa-regular fa-square fa-lg activable" data-path="system.consume"></a>
            {{/if}}
          </div>
        </div>
        <div class="config-row">
          <label>Delete on Zero</label>
          <div class="right-part-row">
            {{#if system.deleteOnZero}}
              <a class="fa-solid fa-square-check fa-lg activable" data-path="system.deleteOnZero"></a>
            {{else}}
              <a class="fa-regular fa-square fa-lg activable" data-path="system.deleteOnZero"></a>
            {{/if}}
          </div>
        </div>
        <div class="config-row purple-box-container">
          <label>Attunement </label>
          <div class="right-part-row properties">
            {{#if system.properties.attunement.active}}
            <div class="activable-box activable active inline-property"
              data-path="system.properties.attunement.active"
            >Required
            </div>
            {{else}}
            <div class="activable-box activable inline-property"
              data-path="system.properties.attunement.active"
            >Not Required
            </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
