<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="item-sheet-header">
    {{> "systems/dc20rpg/templates/item/parts/item-header.hbs" item-type="weapon"}}
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="configuration">Configuration</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="item-sheet-body">

    {{!-- Description Tab --}}
    <div class="tab description-tab" data-group="primary" data-tab="description">
      {{> "systems/dc20rpg/templates/item/parts/item-description.hbs"}}
    </div>

    {{!-- Configuration Tab --}}
    <div class="tab configuration-tab" data-group="primary" data-tab="configuration">
      {{!-- Weapon Details --}}
      <div class="details">
        <div class="title-separator">
          <label>Details</label>
        </div>
        <div class="config-row">
          <label>Weapon Type </label>
          <select name="system.weaponType">
            {{selectOptions @root.config.weaponTypes selected=system.weaponType blank=""}}
          </select>
        </div>
        <div class="config-row">
          <label>Weapon Category </label>
          <select name="system.weaponCategory">
            {{selectOptions @root.config.weaponCategories selected=system.weaponCategory blank=""}}
          </select>
        </div>
        <div class="config-row">
          <label>Rarity </label>
          <select name="system.rarity">
            {{selectOptions @root.config.rarities selected=system.rarity blank=""}}
          </select>
        </div>
        <div class="statuses">
          <label class="sub-title">Weapon Status</label>
          <div class="grid grid-4col">  
            {{#each system.statuses as |status key|}}
              <div class="weapon-status activable {{#if status}} active {{/if}}"
                   data-path="system.statuses.{{key}}"
              >{{capitalize key}}
              </div>
            {{/each}}
          </div>
        </div>
        <div class="properties">
          <label class="sub-title">Weapon Properties</label>
          <div class="grid grid-4col">  
            {{#each system.properties as |property key|}}
              <div class="property activable {{#if property.active}} active {{/if}}"
                   data-path="system.properties.{{key}}.active"
              >{{labelFromKey key @root.config.properties}}
              </div>
            {{/each}}
          </div>
        </div>
        {{#if system.properties.reload.active}}
        <div class="config-row">
          <label>Reload </label>
          <input type="text" name="system.properties.reload.value" value="{{system.properties.reload.value}}" data-dtype="Number" placeholder="-">
        </div>
        {{/if}}
        {{#if system.properties.requirement.active}}
        <div class="config-row">
          <label>Requirement </label>
          <div class="right-part-row">
            <input class="margin-right-3" type="text" name="system.properties.requirement.number" value="{{system.properties.requirement.number}}" data-dtype="Number" placeholder="-">
            <select name="system.properties.requirement.attribute">
              {{selectOptions @root.config.attributes selected=system.properties.requirement.attribute blank=""}}
            </select>
          </div>
        </div>
        {{/if}}
      </div>
      {{!-- Item Action --}}
      {{> "systems/dc20rpg/templates/item/parts/item-action.hbs"}}
    </div>
  </section>
</form>
