<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="item-sheet-header">
    <div class="left-header">
      <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </div>
    <div class="right-header">
      {{!-- Top Row (Info info) --}}
      {{> "systems/dc20rpg/templates/item/parts/header-parts/item-header-name.hbs" 
        type=(labelFromKey item.system.weaponCategory @root.config.weaponCategories) 
        subtype=(labelFromKey item.system.weaponType @root.config.weaponTypes)
      }}
      
      {{!-- Item Type Specyfic info --}}
      <div class="bottom-row">
        {{PARTIAL "Usage Header"}}
        {{PARTIAL "Roll Header"}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="details">Details</a>
    <a class="item" data-tab="usage">Usage</a>
    <a class="item" data-tab="roll">Roll</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="item-sheet-body">
    {{PARTIAL "Description"}}
    {{PARTIAL "Usage"}}
    {{PARTIAL "Roll"}}

    {{!-- Details Tab --}}
    <div class="tab details-tab" data-group="primary" data-tab="details">
      <div class="details config-container">
        <div class="title-separator details-header">
          <label>Details</label>
          <div class="identified activable-box activable {{#if system.statuses.identified}} active {{/if}}"
            data-path="system.statuses.identified"
          >Identified
          </div>
        </div>
        <div class="config-row">
          <label>Weapon Type </label>
          <select name="system.weaponType">
            {{selectOptions @root.config.weaponTypes selected=system.weaponType blank=""}}
          </select>
        </div>
        <div class="config-row">
          <label>Weapon Category </label>
          <select name="system.weaponCategory">
            {{selectOptions @root.config.weaponCategories selected=system.weaponCategory blank=""}}
          </select>
        </div>
        {{PARTIAL "Properties"}}
      </div>
    </div>
  </section>
</form>
