<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="item-sheet-header">
    <div class="left-header">
      <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </div>
    <div class="right-header">
      {{PARTIAL "Item Name"}}
      
      {{!-- Item Type Specyfic info --}}
      <div class="bottom-row">
        {{PARTIAL "Usage Header"}}
        {{PARTIAL "Roll Header"}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="details">Details</a>
    <a class="item" data-tab="usage">Usage</a>
    <a class="item" data-tab="roll">Roll</a>
    <a class="item" data-tab="enhancements">Enhancements</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="item-sheet-body">
    {{PARTIAL "Description"}}
    {{PARTIAL "Usage"}}
    {{PARTIAL "Roll"}}
    {{PARTIAL "Enhancements"}}

    {{!-- Effects Tab --}}
    <div class="tab effects-tab" data-group="primary" data-tab="effects">
      {{PARTIAL "Effects Tables"}}
    </div>
    
    {{!-- Details Tab --}}
    <div class="tab details-tab" data-group="primary" data-tab="details">
      <div class="details config-container">
        <div class="title-separator details-header">
          <label>Details</label>
        </div>
        <div class="config-row">
          <label>Feature Type </label>
          <select name="system.featureType">
            {{selectOptions @root.config.featureSourceTypes selected=system.featureType blank=""}}
          </select>
        </div>
        <div class="config-row">
          <label>Feature Origin </label>
          <input type="text" name="system.featureOrigin" value="{{system.featureOrigin}}" placeholder="-">
        </div>
        <div class="config-row">
          <label>Has Activable Effects</label>
          <div class="right-part-row">
            <a class="fa-lg activable {{#if system.activableEffect.hasEffects}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.activableEffect.hasEffects"></a>
          </div>
        </div>
        <div class="config-row">
          <label>Mark as Reaction</label>
          <div class="right-part-row">
            <a class="fa-lg activable {{#if system.isReaction}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.isReaction"></a>
          </div>
        </div>
        <div class="config-row" title="If wapon is provided attack check will add weapon formulas and enhacements to itself.">
          <label>Uses Weapon</label>
          <select class="select-other-item weapon-selector" data-path="system.usesWeapon" data-selector="weapon-selector">
            {{selectOptions weaponsOnActor selected=system.usesWeapon blank=""}}
          </select>
        </div>

        {{!-- Provides Custom Resource --}}
        <div class="title-separator details-header">
          <label>Provides Resource</label>
          <a class="fa-2x activable {{#if system.isResource}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.isResource"></a>
        </div>
        {{#if system.isResource}}
        <div class="config-row">
          <label>Resource Key </label>
          <input type="text" name="system.resource.resourceKey" value="{{system.resource.resourceKey}}">
        </div>
        <div class="config-row">
          <label>Resource Name </label>
          <input type="text" name="system.resource.name" value="{{system.resource.name}}">
        </div>
        <div class="config-row">
          <label>Resets On </label>
          <select name="system.resource.reset">
            {{selectOptions @root.config.resetTypes selected=system.resource.reset blank=""}}
          </select>
        </div>

        <div class="scaling">
          <div class="value-container">
            <div class="grid grid-12col">
              <div class="scale grid-span-2">
                <div class="level-span"><span> Level </span></div>
              </div>
              {{#each system.resource.values}}
              {{#ifCond @index '===' 10}}
              <div class="scale grid-span-2">
                <div class="level-span"><span> Level </span></div>
              </div>
              {{/ifCond}}
              <div class="scale">
                <div>
                  <div class="level">
                    <span> {{add @index 1}} </span>
                  </div>
                  <div class="value">
                    <input class="update-item-resource" type="text" value="{{this}}" data-index="{{@index}}">
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
        {{/if}}
        </div>
      </div>
    </div>
  </section>
</form>
