<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="item-sheet-header">
    <div class="left-header">
      <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </div>
    <div class="right-header">
      {{PARTIAL "Item Name"}}
      
      {{!-- Item Type Specyfic info --}}
      <div class="bottom-row">
        {{PARTIAL "Usage Header"}}
        {{PARTIAL "Roll Header"}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="details">Details</a>
    <a class="item" data-tab="usage">Usage</a>
    <a class="item" data-tab="roll">Roll</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="item-sheet-body">
    {{PARTIAL "Description"}}
    {{PARTIAL "Usage"}}
    {{PARTIAL "Roll"}}

    {{!-- Effects Tab --}}
    <div class="tab effects-tab" data-group="primary" data-tab="effects">
      {{PARTIAL "Effects Tables"}}
    </div>

    {{!-- Details Tab --}}
    <div class="tab details-tab" data-group="primary" data-tab="details">
      <div class="details config-container">
        <div class="title-separator details-header">
          <label>Details</label>
          {{#if userIsGM}}
          <div class="identified activable-box activable {{#if system.statuses.identified}} active {{/if}}"
            data-path="system.statuses.identified"
          >Identified
          </div>
          {{/if}}
        </div>
        <div class="config-row">
          <label>Weapon Type </label>
          <select name="system.weaponType">
            {{selectOptions @root.config.weaponTypes selected=system.weaponType blank=""}}
          </select>
        </div>
        <div class="config-row">
          <label>Weapon Category </label>
          <select name="system.weaponCategory">
            {{selectOptions @root.config.weaponCategories selected=system.weaponCategory blank=""}}
          </select>
        </div>
        <div class="config-row">
          <label>Mark as Reaction</label>
          <div class="right-part-row">
            <a class="fa-lg activable {{#if system.isReaction}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.isReaction"></a>
          </div>
        </div>
        {{PARTIAL "Properties"}}
      </div>
    </div>
  </section>
</form>
