<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="item-sheet-header">
    <div class="left-header">
      <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </div>
    <div class="right-header">
      {{PARTIAL "Item Name"}}
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="details">Ancestry Details</a>
    <a class="item" data-tab="advancements">Advancements</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="item-sheet-body">

    {{!-- Description Tab --}}
    <div class="tab description-tab" data-group="primary" data-tab="description">
      <div class="description" style="grid-template-columns: auto">
        {{PARTIAL "Text Area"}}
      </div>
    </div>

    {{!-- Ancestry Details Tab --}}
    <div class="tab details-tab" data-group="primary" data-tab="details">
      <div class="details config-container">
        <div class="config-row">
          <label>Size </label>
          <select name="system.size">
            {{selectOptions @root.config.sizes selected=system.size}}
          </select>
        </div>

        {{!-- Movement --}}
        <div class="title-separator details-header">
          <label>Movement</label>
        </div>
        <div class="config-row">
          <label>Ground Speed </label>
          <input type="text" name="system.movement.speed" value="{{system.movement.speed}}" data-dtype="Number" placeholder="-">
        </div>
        <div class="config-row">
          <label>Burrow Speed </label>
          <input type="text" name="system.movement.burrow" value="{{system.movement.burrow}}" data-dtype="Number" placeholder="-">
        </div>
        <div class="config-row">
          <label>Climbing Speed </label>
          <input type="text" name="system.movement.climbing" value="{{system.movement.climbing}}" data-dtype="Number" placeholder="-">
        </div>
        <div class="config-row">
          <label>Flying Speed </label>
          <input type="text" name="system.movement.flying" value="{{system.movement.flying}}" data-dtype="Number" placeholder="-">
        </div>
        <div class="config-row">
          <label>Swimming Speed </label>
          <input type="text" name="system.movement.swimming" value="{{system.movement.swimming}}" data-dtype="Number" placeholder="-">
        </div>

        {{!-- Vision --}}
        <div class="title-separator details-header">
          <label>Vision</label>
        </div>
        <div class="config-row">
          <label>Darkvision </label>
          <input type="text" name="system.vision.darkvision" value="{{system.vision.darkvision}}" data-dtype="Number" placeholder="-">
        </div>
        <div class="config-row">
          <label>Tremorsense </label>
          <input type="text" name="system.vision.tremorsense" value="{{system.vision.tremorsense}}" data-dtype="Number" placeholder="-">
        </div>
        <div class="config-row">
          <label>Blindsight </label>
          <input type="text" name="system.vision.blindsight" value="{{system.vision.blindsight}}" data-dtype="Number" placeholder="-">
        </div>
        <div class="config-row">
          <label>Truesight </label>
          <input type="text" name="system.vision.truesight" value="{{system.vision.truesight}}" data-dtype="Number" placeholder="-">
        </div>
      </div>
    </div>
    
    {{PARTIAL "Advancements"}}
  </section>
</form>
