<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="item-sheet-header">
    <div class="left-header">
      <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </div>
    <div class="right-header">
      {{PARTIAL "Item Name"}}
      
      {{!-- Item Type Specyfic info --}}
      <div class="bottom-row">
        {{PARTIAL "Usage Header"}}
        {{PARTIAL "Roll Header"}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="details">Details</a>
    <a class="item" data-tab="usage">Usage</a>
    <a class="item" data-tab="roll">Roll</a>
    <a class="item" data-tab="enhancements">Enhancements</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="item-sheet-body">
    {{PARTIAL "Description"}}
    {{PARTIAL "Usage"}}
    {{PARTIAL "Roll"}}
    {{PARTIAL "Enhancements"}}

    {{!-- Effects Tab --}}
    <div class="tab effects-tab" data-group="primary" data-tab="effects">
      {{PARTIAL "Effects Tables"}}
    </div>

    {{!-- Details Tab --}}
    <div class="tab details-tab" data-group="primary" data-tab="details">
      <div class="details config-container">
        <div class="title-separator details-header">
          <label>Details</label>
        </div>
        <div class="config-row">
          <label>Spell Type </label>
          <select name="system.spellType">
            {{selectOptions @root.config.spellTypes selected=system.spellType blank=""}}
          </select>
        </div>
        <div class="config-row">
          <label>School of Magic </label>
          <select name="system.magicSchool">
            {{selectOptions @root.config.magicSchools selected=system.magicSchool blank=""}}
          </select>
        </div>
        <div class="config-row">
          <label>Spell Origin </label>
          <input type="text" name="system.spellOrigin" value="{{system.spellOrigin}}" placeholder="-">
        </div>
        <div class="config-row">
          <label>Has Activable Effects</label>
          <div class="right-part-row">
            <a class="fa-lg activable {{#if system.activableEffect.hasEffects}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.activableEffect.hasEffects"></a>
          </div>
        </div>
        <div class="config-row">
          <label>Mark as Reaction</label>
          <div class="right-part-row">
            <a class="fa-lg activable {{#if system.isReaction}}fa-solid fa-square-check{{else}}fa-regular fa-square{{/if}}" data-path="system.isReaction"></a>
          </div>
        </div>
        <div class="purple-box-container margin-top-5">
          <label class="sub-title">Spell Lists</label>
          <div class="grid grid-3col grid-gap-5">
            {{#each system.spellLists as |list key|}}
              <a class="list activable-box activable {{#if list.active}}active{{/if}}"
                   data-path="system.spellLists.{{key}}.active"
              >{{labelFromKey key @root.config.spellLists}}
              </a>
            {{/each}}
          </div>
        </div>
        <div class="purple-box-container margin-top-5">
          <label class="sub-title">Spell Components</label>
          <div class="grid grid-3col grid-gap-5">
            {{#each system.components as |component key|}}
              <div class="component activable-box activable {{#if component.active}} active {{/if}}"
                   data-path="system.components.{{key}}.active"
              >{{labelFromKey key @root.config.components}}
              </div>
            {{/each}}
          </div>
        </div>
        {{#if system.components.material.active}}
        <div class="config-row">
          <label>Material Component </label>
          <input class="formula" type="text" name="system.components.material.description" value="{{system.components.material.description}}" placeholder="-">
        </div>
        <div class="config-row">
          <div>
            <label>Material Cost (Gold) </label>
            <input class="small-input" type="text" name="system.components.material.cost" value="{{system.components.material.cost}}" data-dtype="Number" placeholder="-">
          </div>
          <div class="right-part-row">
            <label>Consume On Use</label>
            {{#if system.components.material.consumed}}
              <a class="fa-solid fa-square-check fa-lg activable" data-path="system.components.material.consumed"></a>
            {{else}}
              <a class="fa-regular fa-square fa-lg activable" data-path="system.components.material.consumed"></a>
            {{/if}}
          </div>
        </div>
        {{/if}}
        <div class="purple-box-container margin-top-5">
          <label class="sub-title">Spell Tags</label>
          <div class="grid grid-5col grid-gap-5">
            {{#each system.tags as |tag key|}}
              <div class="component activable-box activable {{#if tag.active}} active {{/if}}"
                   data-path="system.tags.{{key}}.active"
              >{{labelFromKey key @root.config.spellTags}}
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
