<div class="dice-roll" data-action="expandRoll">
  {{!-- Roll extra ADV and DIS --}}
  {{#ifCond @root.canUserModify '&&' mainRoll}}
    {{#ifCond @root.rollLevel '===' 0}}
      <div class="add-roll" data-type="adv" data-tooltip='{{localize "dc20rpg.chat.rollAdv"}}'><a class="fa-solid fa-square-plus fa-lg"></a></div>
      <div class="modify-core-roll" data-tooltip='{{localize "dc20rpg.chat.modifyCoreRoll"}}'><a class="fa-solid fa-square-pen fa-lg"></a></div>
      <div class="add-roll justify-end" data-type="dis" data-tooltip='{{localize "dc20rpg.chat.rollDis"}}'><a class="fa-solid fa-square-minus fa-lg"></a></div>
    {{/ifCond}}

    {{#ifCond @root.rollLevel '>' 0}}
      <div class="add-roll" data-type="adv" data-tooltip='{{localize "dc20rpg.chat.rollAdv"}}'><a class="fa-solid fa-square-plus fa-lg"></a></div>
      <div class="modify-core-roll" data-tooltip='{{localize "dc20rpg.chat.modifyCoreRoll"}}'><a class="fa-solid fa-square-pen fa-lg"></a></div>
      <div class="remove-roll justify-end" data-type="adv" data-tooltip='{{localize "dc20rpg.chat.removeAdv"}}'><a class="fa-solid fa-square-xmark fa-lg"></a></div>
    {{/ifCond}}

    {{#ifCond @root.rollLevel '<' 0}}
      <div class="remove-roll" data-type="dis" data-tooltip='{{localize "dc20rpg.chat.removeDis"}}'><a class="fa-solid fa-square-xmark fa-lg"></a></div>
      <div class="modify-core-roll" data-tooltip='{{localize "dc20rpg.chat.modifyCoreRoll"}}'><a class="fa-solid fa-square-pen fa-lg"></a></div>
      <div class="add-roll justify-end" data-type="dis" data-tooltip='{{localize "dc20rpg.chat.rollDis"}}'><a class="fa-solid fa-square-minus fa-lg"></a></div>
    {{/ifCond}}
  {{/ifCond}}

  <div class="dice-result">
    <h4 class="dice-total {{#if ignored}}not-winner{{/if}} {{#ifCond @root.checkDC '&&' coreFormula}}{{#ifCond @root.checkDC '>' total}}fail{{else}}success{{/ifCond}}{{/ifCond}} {{#if crit}}crit{{/if}} {{#if fail}}fail{{/if}}">
    {{total}}
    </h4>
    <div class="dice-tooltip">
      <section class="tooltip-part">
        {{#each terms}}
        {{#if faces}}
        <div class="dice">
          <header class="part-header">
            <span class="part-formula" style="margin: auto 5px auto 0;">{{number}}d{{faces}}:</span>
            <ol class="dice-rolls">
              {{{printDices results faces}}}
            </ol>
            <span style="margin: auto 2px auto 5px; font-weight: bold;">=</span>
            <span class="part-total" 
                  style="margin: auto 0; display: inline-flex; justify-content: center; border: 1px solid var(--color-text-light-6); border-radius: 3px"
                  >{{#ifCond faces '===' 20}}{{@root.winningRoll.flatDice}}{{else}}{{sumDices results}}{{/ifCond}}</span>
          </header>
        </div>
        {{/if}}
        {{/each}}
        <div class="dice-formula">
          {{formula}}
        </div>
      </section>
    </div>
  </div>
</div>